<strong><%= "#{comment.user.lead.lead_contact.name}" %></strong>
left a 
<% if comment.overall_score > 0 %>                  
  <%= render partial: "providers/star_display", locals: {score: comment.overall_score, include_hidden_number: false} %>
<% end %>
<% po = comment.purchase_order %>
<% if po.present? %>
  <%= link_to "review", teams_profile_path(comment.provider.name_for_link, :anchor => comment.id) %> 
<% else %>
  <%= link_to "comment", teams_profile_path(comment.provider.name_for_link, :anchor => comment.id) %> 
<% end %>
for                
<%= link_to "#{comment.provider.name}", teams_profile_path(comment.provider.name_for_link) %>                
<% if po.present? %>
  regarding a 
  <%= render partial: "providers/tag_display", locals: {tags: po.tags, remove_bottom_margin: true, max_tags_to_display: 10, show_more_option: false} %>           
  order 
  (Project Name: 
  <span>
    <%= "#{comment.project.name}" if (comment.project.present? and comment.project.name.present?) %>
  </span>)
<% end %>       