<% po = comment.purchase_order %>
<% project = comment.project %>
<% recs = Comment.recommendations %>
<% verbed = nil %>

<strong><%= "#{comment.user.lead.lead_contact.name} " %></strong>

<% if comment.has_recommendation? %>
  <%= render partial: "providers/recommendation_styling", locals: {comment: comment, titleize: false} %>
<% else %>
  <%= "reviewed "%>
<% end %>

<% if comment.overall_score > 0 %> 
  <%= "( " %>
  <%= render partial: "providers/star_display", locals: {score: comment.overall_score, include_hidden_number: false} %>
    <%= ") " %>
<% end %>
        
<%= link_to "#{comment.provider.name}", teams_profile_path(comment.provider.name_for_link, :anchor => comment.id) %>

<% if po.present? %>
  regarding a 
  <%= render partial: "providers/tag_display", locals: {tags: po.tags, remove_bottom_margin: false, max_tags_to_display: 10, show_more_option: false} %>           
  order
  <% if comment.project.present? %>
    <span>
      (Project: <%= link_to "#{comment.project.name}", edit_project_path(project.id) %>)
    </span>
  <% end %>
<% end %>       