<%= form_tag :action => form_action, :controller => 'providers' do %>

  <div class="col-md-8 col-md-offset-1 any-form">

    <hr>

    <div class="row">
      <div class="col-md-3">
      <%= label_tag 'name', 'Business name' %>
      </div>

      <div class="col-md-9">
        <span class="provider-edit-input">
        <%= text_field_tag 'name', @provider.name %>
        </span>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-md-3">
      <%= label_tag 'url_main', 'Website' %>
      </div>

      <div class="col-md-9">
        <span class="provider-edit-input">
        <%= text_field_tag 'url_main', @provider.url_main %>
        </span>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-md-3">
      <%= label_tag 'organization', 'Share Details With' %>
      </div>

      <div class="col-md-9">
        
          <label><%= "#{@organization.name}" %> only. (Information will not be shared beyond <%= "#{@organization.name}" %>)</label>
        
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-md-3">
      <%= label_tag 'location_string', 'Full address' %>
      </div>

      <div class="col-md-9">
        <span class="provider-edit-input">
          <%= text_area_tag 'location_string', @provider.location_string, rows: 2 %>
          </span>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-md-3">
      <%= label_tag 'external_notes', "Company synopsis - how they'd describe themselves. HTML format." %>
      </div>

      <div class="col-md-9">
        <span class="provider-edit-input">
          <%= text_area_tag 'external_notes', @provider.external_notes, rows: 4 %>
        </span>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-md-3">
      <%= label_tag 'organization_private_notes', "#{@organization.name} internal notes - your view of the supplier. HTML format." %>
      </div>

      <div class="col-md-9">
        <span class="provider-edit-input">
          <%= text_area_tag 'organization_private_notes', @provider.organization_private_notes, rows: 4 %>
        </span>
      </div>
    </div>

    <h2>Contact information</h2>

    <%#= see Provider.contact_fields for data layout %>
    <% contact_fields.each do |contact_field| %>
      <hr>
      <div class="row">
        <div class="col-md-3">
          <%= label_tag contact_field[0], contact_field[1] %>
        </div>

        <div class="col-md-9">
          <span class="provider-edit-input">
            <%= text_field_tag contact_field[0], @provider.send(contact_field[0]) %>
          </span>
        </div>
      </div>
    <% end %>

    <h2>Tags</h2>

    <%= render partial: "providers/tag_adder", locals: {tags: @tags, checked_tags: @checked_tags, label_text: "Create new tag(s) and add to supplier:"} %>

    <br>
    <div class="row col-md-5">
      <%= submit_tag "Save changes", data: { disable_with: 'Saving...' }, :id => "save_button", :class => "btn-block save-button margin-bottom" %>
    </div>

  </div>

<% end %>


