<div class="row">
  <div class="col-md-4">

    <% prefix = "addresses_information[#{provider.id}]" %>
    <% provider.address.present? ? address = provider.address : address = Address.new %>

    <h3>
      <%= link_to provider.name, teams_profile_path(provider.name_for_link) %>      
        <% if provider.url_main.present? %>
          | <%= link_to "website", provider.url_main %>
        <% end %>
    </h3>
    <p><%= "Location string: #{provider.location_string}" %></p>
    <p><%= "Organization ID: #{provider.organization_id}" %></p>

    <div>
      <%= label_tag "#{prefix}[country]", "Country" %>
      <%= render partial: "tag_relationships/simple_search_box", locals: {search_terms_list: countries, return_variable: "#{prefix}[country]"}  %>
    </div>
    <div>
      <%= label_tag "#{prefix}[state]", "State" %>
      <%= render partial: "tag_relationships/simple_search_box", locals: {search_terms_list: states, return_variable: "#{prefix}[state]"}  %>
      <%= check_box_tag "#{prefix}[unknown_state]", true, (address.state.nil? or address.state_id == @unknown_state_id) %>
      <span>Do not save state - Unknown state or state doesn't make sense to use here</span>
    </div>
    <% [:street,:city,:zip].each do |string_field| %>
      <div>
        <%= label_tag "#{prefix}[#{string_field}]", string_field %>
        <%= text_field_tag "#{prefix}[#{string_field}]", address.send(string_field) %>
      </div>
    <% end %>
  </div>
</div>
