      <div class="row text-block">

        <div class="col-md-6 col-md-offset-3">
          <div class="header-text-block">
            <h1> Get connected to the right supplier</h1>
            <h4>See who your colleagues are using to make parts.</h4>
          </div>
        </div>
    
        <div class="row bottom-search-area any-form">
          <div class="col-md-5 col-md-offset-3 index-search-bar">
            <%= form_tag providers_search_results_path, method: :get do%>
              <%= select_tag(:tags, options_from_collection_for_select(provider_tags, :readable, :readable), multiple: true, class: 'tag-select') %>
          </div>
          <div class="col-md-1 index-search-button">
          <%= submit_tag "Search", :id => "index_search_button" %>
          </div>
          <% end %>
        </div>

        <div class="row bottom-search-area">
          <div class="col-md-6 col-md-offset-3">
            <div class="index-search">
            <%= form_tag providers_search_results_path, method: :get do %>
              <%= select_tag(:providers, options_from_collection_for_select(@providers_list, :name, :name), multiple: true, class: 'tag-select') %>
              <%= submit_tag 'Search' %>
            <% end %>
            </div>
          </div>
        </div>

      </div>
      