<% if providers %> 
  <div class="stylish">
  <table>
    <thead>
      <tr>
        <th>Company Name</th>
        <th>Location</th>
        <th>Reviews</th>
        <th>Purchase Orders</th>
        <th>Most Recent PO</th>
      </tr>
    </thead>
    <tbody>
      <% providers.each do |provider| %>
        <tr>
          <% comments = provider.comments %>
          <td><%= link_to "#{provider.name}", teams_profile_path(provider.name_for_link) %></td>
          <td><%= "#{provider.index_address}" %></td>
          <td>
            <div class="row">
              <%= render partial: "providers/star_display", locals: {score: provider.average_score, include_hidden_number: true} %>
            </div>
          </td>
          <td>
            <%= link_to "#{provider.purchase_orders.count == 0 ? '' : provider.purchase_orders.count}", teams_profile_path(provider.name_for_link, :anchor => 'comments') %>
          </td>
          <td><%= link_to "#{provider.latest_purchase_order_date}", teams_profile_path(provider.name_for_link, :anchor => 'comments') %></td>
        </tr>              
      <% end %>  
    </tbody>
    <tr>
      <td><%= link_to "[Add to this list]" , new_provider_with_event_path("add_provider_from_index")%></td>
    </tr>  
  </table>
  </div>
<% else %>
  <p>We don't have any suppliers fitting this description. Help out by <%= mail_to "founders@supplybetter.com", "submitting one now" %>!</p>
<% end %>

<script>
  var $table = $('table'),
      process = false;

  $('.process').click(function(){
    process = !process;
    $.tablesorter.isProcessing( $table, process );
  });

  $('.sortable').click(function(){
    $table
      .find('.tablesorter-header:last').toggleClass('sorter-false')
      .trigger('update');
  });

  $table.tablesorter({
    theme: 'bootstrap',
    headerTemplate: '{content} {icon}',
    sortList: [ [2,1], [0,0] ],
    widgets : ['columns', 'uitheme' ] // add 'filter' to get the search row back
  });
</script>