<%= form_tag :action => form_action, :controller => 'providers' do %>

  <div class="col-md-8 col-md-offset-1">

    <hr>

    <div class="row">
      <div class="col-md-3">
      <%= label_tag 'name', 'Business name' %>
      </div>

      <div class="col-md-9">
        <span class="provider-edit-input">
        <%= text_field_tag 'name', @provider.name %>
        </span>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-md-3">
      <%= label_tag 'url_main', 'Website' %>
      </div>

      <div class="col-md-9">
        <span class="provider-edit-input">
        <%= text_field_tag 'url_main', @provider.url_main %>
        </span>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-md-3">
      <%= label_tag 'organization', 'Share Details With' %>
      </div>

      <div class="col-md-9">
        <span class="provider-edit-details">
          (Information will not be shared beyond <%= "#{@organization.name}" %>)
        </span>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-md-3">
      <%= label_tag 'location_string', 'Full address' %>
      </div>

      <div class="col-md-9">
        <span class="provider-edit-input">
          <%= text_area_tag 'location_string', @provider.location_string, rows: 2 %>
          </span>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-md-3">
      <%= label_tag 'external_notes', "Company synopsis - how they'd describe themselves. HTML format." %>
      </div>

      <div class="col-md-9">
        <span class="provider-edit-input">
          <%= text_area_tag 'external_notes', @provider.external_notes, rows: 4 %>
        </span>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-md-3">
      <%= label_tag 'organization_private_notes', "#{@organization.name} internal notes - your view of the supplier. HTML format." %>
      </div>

      <div class="col-md-9">
        <span class="provider-edit-input">
          <%= text_area_tag 'organization_private_notes', @provider.organization_private_notes, rows: 4 %>
        </span>
      </div>
    </div>

    <h2>Contact information</h2>

    <hr>

    <div class="row">
      <div class="col-md-3">
      <%= label_tag 'contact_name', 'Contact Name' %>
      </div>

      <div class="col-md-9">
        <span class="provider-edit-input">
          <%= text_field_tag 'contact_name', @provider.contact_name %>
        </span>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-md-3">
      <%= label_tag 'contact_role', 'Contact Role' %>
      </div>

      <div class="col-md-9">
        <span class="provider-edit-input">
          <%= text_field_tag 'contact_role', @provider.contact_role %>
        </span>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-md-3">
      <%= label_tag 'contact_phone', 'Phone' %>
      </div>

      <div class="col-md-9">
        <span class="provider-edit-input">
          <%= text_field_tag 'contact_phone', @provider.contact_phone %>
          </span>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-md-3">
      <%= label_tag 'contact_email', 'Email' %>
      </div>

      <div class="col-md-9">
        <span class="provider-edit-input">
          <%= text_field_tag 'contact_email', @provider.contact_email %>
        </span>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-md-11 col-md-offset-1">
      <% if false %>
        <h2>Tags</h2>
        <div id="keyword-list" class="provider-tags">
          <ul>
            <% @tags.each do |tag| %>
              <li>
              <%= check_box_tag 'tag_selection[]', tag.id, @checked_tags.include?(tag) %><%= tag.readable %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>

  <div class="col-md-8 col-md-offset-1">
    <% if false %>
      <%= label_tag 'new_tag_name_1', "Tag isn't here? Add it to the list! (tags will be added to this business as well)" %>
      <div class="row">
        <div class="col-md-3">
          New Tag 1 (optional)
        </div>
        <div class="col-md-4">
          <span class="provider-edit-input">
            <%= text_field_tag 'new_tag_1' %>  
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          New Tag 2 (optional)
        </div>
        <div class="col-md-4">
          <span class="provider-edit-input">
            <%= text_field_tag 'new_tag_2' %>  
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          New Tag 3 (optional)
        </div>
        <div class="col-md-4">
          <span class="provider-edit-input">
            <%= text_field_tag 'new_tag_3' %>  
          </span>
        </div>
      </div>
    <% end %>
    <div class="row">
      <h2>Looking to change the tags?</h2>
      <p><%= @organization.name %> has thousands of tags, which isn't very friendly to manipulate as a long list. We're building the interface to let you change the tags right now, and will have it available by the end of April. Thanks for your patience!</p>
    </div>
    <div class="row">
      <%= submit_tag "Save changes", data: { disable_with: 'Saving...' }, :id => "save_button", :class => "margin-bottom" %>
    </div>
  </div>

<% end %>


