<hr>
<div class="row comment-smalltext">
<!-- BEGIN LEFT COLUMN -->
	<div class="col-md-2">
		<div class="row">
			<img class="avatar-profile"/>
		</div>
		<div class="row comment-profile">
			<% contact = comment.user.lead.lead_contact %>
			<p><strong><%= "#{contact.first_name} " %></strong></p>
			<p><%= "Team: #{contact.contactable.user.team.name}" if contact.contactable.user.team.present? %></p>
			<% total_comments = @total_comments_for_user[comment.user.id] %>
			<% if total_comments %>
				<p><%= "#{pluralize(total_comments, 'review')}" %></p>
			<% end %>
			<% purchase_order_comments = @purchase_order_comments_for_user[comment.user.id] %>
			<% if purchase_order_comments %>
				<p><%= "#{pluralize(purchase_order_comments, 'purchase order')}" %></p>
			<% end %>
		</div>
	</div>

<!-- BEGIN MIDDLE COLUMN -->
	<div class="col-md-6">
		<div class="row">
			<span> 
				<% if comment.ratings_count.present? && comment.ratings_count > 0 %>
					<%= "#{comment.helpful_count} of #{comment.ratings_count} users found this comment helpful" %>
				<% end %>
			</span>
		</div>

		<div id="<%= comment.id %>" class="row">
			<% po = comment.purchase_order %>
			<% project = comment.project %>
			<% recs = Comment.recommendations %>
			<% verbed = nil %>
			<% if comment.title.present? %>
				<h3 class="comment-snippet">
					<%= comment.title %>
				</h3>
			<% end %>
			<% if current_user.admin? and comment.purchase_order.present? %>
				Admin controls: 
				<span><%= link_to "RA purchase order", "#{base_url}/admin/purchase_order/#{comment.purchase_order.id}/edit" %></span> 
				<span>
					| <%= link_to "Add tags", edit_purchase_order_path(po.id) %>
				</span>
					| <%= link_to "Edit review", edit_comment_path(comment)%>
			<% end %>
		</div>    		
		<div class="row">
				<div class="col-md-8 left-grid-bare">
					<% if comment.overall_score > 0 %>
						<%= render partial: "providers/star_display", locals: {score: comment.overall_score, include_hidden_number: false} %>
					<% end %>				
					<span> 
						<%= "Reviewed #{comment.updated_at.strftime('%Y-%m-%d')}" %>
					</span>
				</div>
				<div class="col-md-4 left-grid-bare">
					<% if comment.has_recommendation? %>
					  <span> 
					    <%= render partial: "providers/recommendation_styling", locals: {comment: comment, titleize: true} %>
					  </span>        
					<% end %>
				</div>
		</div>

		<div class="row col-md-12 comment-snippet">
			<%= raw(comment.payload) %>
		</div>			

      <div class="row">
        <% if project.present? %>
          <div class="col-md-8 left-grid-bare">Project Name: <span><%= link_to "#{project.name}", edit_project_path(project.id) %></span></div>
        <% end %>
        <% if po.present? %>
          <div class="col-md-4 left-grid-bare"><%= "PO Issued: #{po.issue_date.strftime('%Y-%m-%d')}" if po.issue_date %></div>
        <% end %>
      </div>

		<div class="row">			
			<% score_total = comment.cost_score + comment.quality_score + comment.speed_score %>
			<% if (po.present? or score_total > 0 or project.present?) %>				
				<% if (score_total > 0 ) %>
					<div class="col-md-8 left-grid-bare">						
						<% ["cost_score","quality_score","speed_score"].each do |score| %>
							<div>
								<% if comment.attributes[score] > 0 %>									
									<%= render partial: "providers/star_display", locals: {score: comment.attributes[score], include_hidden_number: false} %>
									<%= "#{score[0...score.length-6].capitalize}" %>
								<% end %>
							</div>
						<% end %>					
					</div>
				<% end %>		
				<div class="col-md-4 left-grid-bare">		
					<% if po.present? %>					
						<div><%= "Price: #{number_to_currency(po.price)}" if po.price %></div>						
						<div><%= "Quantity: #{po.quantity}" if po.quantity %></div>
						<div><%= "Lead time: #{po.lead_time_days} days" if po.lead_time_days %></div>
					<% end %>
				</div>
				<% if po.present? %>
					<div class="col-md-12 left-grid-bare"><%= "Description: #{po.description}" if po.description %></div>
				<% end %>
				<div class="col-md-8 left-grid-bare">
					<%= render partial: "providers/tag_display", locals: {tags: po.tags, remove_bottom_margin: true, max_tags_to_display: nil, show_more_option: false} %>
				</div>
			<% end %>
		</div>
		<div class="row comment-last-row">
			<div class="col-md-8 comment-no-left-margin">
				<% rating = comment.rating_by current_user %>
				<%# no more upvoting yourself %>
				<% if comment.user != current_user %>
					<% if rating.nil? %>
						<%= form_tag comment_ratings_path do %>
							<span> 
								Was this review helpful to you?
							</span>
							<%= hidden_field_tag :provider_id, @provider.id %>
							<%= hidden_field_tag :comment_id, comment.id %>
							<%= submit_tag "Yes" %>
							<%= submit_tag "No" %>
						<% end %>
					<% elsif rating.helpful %>
						<span> 
							<em>You found this review helpful</em>
						</span>
					<% else %>
						<span> 
							<em>You didn't find this review helpful. <a href="mailto:suggest-edits@supplybetter.com">Give feedback</a></em>
						</span>
					<% end %>
				<% end %>
			</div>
			<% if comment.user == current_user %>
				<div class="col-md-4">
					<span>[<%= link_to "Edit my review", edit_comment_path(comment)%>]
					</span>
				</div>
			<% end %>
		</div>    
	</div>
	<!-- END MIDDLE COLUMN -->

	<!-- BEGIN RIGHT COLUMN -->

	<!-- PHOTO GALLERY -->
	<div class="col-md-4">

		<div>
			<ul id="comment_photo_gallery-<%= "#{comment.id}" %>" class="row photo-gallery">
				<% photo_urls = @comment_photo_urls_hash[comment.id] %>
				<% if photo_urls.present? %>
					<% count = 0 %>
					<% photo_urls.each do |url| %>  
						<% if count == 0 %>
							<li>
						<% else %>
							<li class="col-lg-3 col-md-4 col-sm-3 col-xs-4">
						<% end %>
						<a href="<%= "#{url}" %>" target="_blank">
							<%= image_tag url %>
						</a>
					</li>
					<% count += 1 %>
				 <% end %>
				<% end %>
			</ul>
		</div>
	</div>

		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">         
					<div class="modal-body">                
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

</div>
