      <div class="row text-block">

        <div class="col-md-8 col-md-offset-2">
          <h2 class="section-headline">
            Get connected to the right supplier
          </h2>
          <div class="start-quote">
            <p>See who Synapsters are using to make parts</p>
          </div>
        </div>

        <div class="row bottom-search-area">
          <div class="row">
            <div class="row col-md-2 index-search-bar center">
              <h3 class="search-help-text">Type in keywords (ex: "Machining")</h3>
            </div>
            <div class="row col-md-9">
              <%= form_tag providers_search_results_path, method: :get do%>
                <div class="col-md-8 index-search-bar">
                  <%= select_tag(:tags, options_for_select(@providers_tag_search_list), multiple: true, class: 'tag-select') %>
                </div>
                <div class="col-md-1 index-search-button">
                  <%= submit_tag "Search »", class: 'button--blue' %>
                </div>
              <% end %>
            </div>
          </div>

          <div class="row">
            <div class="row col-md-2 index-search-bar center">
              <h3 class="search-help-text">OR</h3>
            </div>
          </div>

          <div class="row">
            <div class="row col-md-2 index-search-bar center">
              <h3 class="search-help-text">Type a specific company name</h3>
            </div>
            <div class="row col-md-9">
              <%= form_tag providers_search_results_path, method: :get do%>
                <div class="col-md-8 index-search-bar">
                  <%= select_tag(:providers, options_from_collection_for_select(@providers_list, :name, :name), multiple: true, class: 'tag-select') %>
                </div>
                <div class="col-md-1 index-search-button">
                  <%= submit_tag "Search »", class: 'button--blue' %>
                </div>
              <% end %>
            </div>
          </div>
        </div>

      </div>
      