<%= form_tag :action => form_action, :controller => 'providers' do %>

  <div class="col-md-8 col-md-offset-1">

    <hr>

    <div class="row">
      <div class="col-md-3">
      <%= label_tag 'name', 'Business name' %>
      </div>

      <div class="col-md-9">
        <span class="provider-edit-input">
        <%= text_field_tag 'name', @provider.name %>
        </span>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-md-3">
      <%= label_tag 'url_main', 'Website' %>
      </div>

      <div class="col-md-9">
        <span class="provider-edit-input">
        <%= text_field_tag 'url_main', @provider.url_main %>
        </span>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-md-3">
      <%= label_tag 'organization', 'Share Details With' %>
      </div>

      <div class="col-md-9">
        <span class="provider-edit-details">
          (Information will not be shared beyond <%= "#{@organization.name}" %>)
        </span>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-md-3">
      <%= label_tag 'location_string', 'Full address' %>
      </div>

      <div class="col-md-9">
        <span class="provider-edit-input">
          <%= text_area_tag 'location_string', @provider.location_string, rows: 2 %>
          </span>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-md-3">
      <%= label_tag 'external_notes', "Company synopsis - how they'd describe themselves. HTML format." %>
      </div>

      <div class="col-md-9">
        <span class="provider-edit-input">
          <%= text_area_tag 'external_notes', @provider.external_notes, rows: 4 %>
        </span>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-md-3">
      <%= label_tag 'organization_private_notes', "#{@organization.name} internal notes - your view of the supplier. HTML format." %>
      </div>

      <div class="col-md-9">
        <span class="provider-edit-input">
          <%= text_area_tag 'organization_private_notes', @provider.organization_private_notes, rows: 4 %>
        </span>
      </div>
    </div>

    <h2>Contact information</h2>

    <%#= see Provider.contact_fields for data layout %>
    <% contact_fields.each do |contact_field| %>
      <hr>
      <div class="row">
        <div class="col-md-3">
          <%= label_tag contact_field[0], contact_field[1] %>
        </div>

        <div class="col-md-9">
          <span class="provider-edit-input">
            <%= text_field_tag contact_field[0], @provider.send(contact_field[0]) %>
          </span>
        </div>
      </div>
    <% end %>

    <h2>Tags</h2>

    <div class="row">
      <div class="col-md-12 index-search-bar">
        <%= select_tag(:tag_selection, 
            options_from_collection_for_select(@tags, :id, :readable, selected: @checked_tags.map(&:id)),
            multiple: true, class: 'tag-edit') %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-9">
        <%= label_tag 'new_tag_name_1', "Create new tag(s) and add to supplier:" %>
        <div class="row">
          <div class="col-md-4">
            <span class="provider-edit-input">
              <%= text_field_tag 'new_tag_1' %>  
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <span class="provider-edit-input">
              <%= text_field_tag 'new_tag_2' %>  
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <span class="provider-edit-input">
              <%= text_field_tag 'new_tag_3' %>  
            </span>
          </div>
        </div>
      </div>
    </div>

    <br>
    <div class="row">
      <%= submit_tag "Save changes", data: { disable_with: 'Saving...' }, :id => "save_button", :class => "margin-bottom" %>
    </div>

  </div>

<% end %>


