<% provide(:title,"Tags List") %>

<div class="stylish">
  <table class="tablesorter-active tags-list-table">
    <thead>
      <tr>
        <th>Tags</th>
        <th># suppliers</th>
        <% if purchase_order_titles %>
          <th>last PO date</th>
          <th>latest PO supplier</th>
          <th># of POs</th>
        <% else %>
          <th>last review date</th>
          <th>last review supplier</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% tag_details.each do |tag_readable,details| %>
        <tr>
          <td><%= link_to "#{tag_readable}", teams_index_with_search_path("t#{details[:tag_id]}","false") %></td>
          <td><%= "#{details[:num_providers]}" %></td>
          <td>
            <% if purchase_order_titles %>
              <% if details[:last_model].present? and details[:last_po_comment_id].present? and details[:last_provider].present? %>
                <% date_string = details[:last_model].issue_date.strftime("%-m/%-d/%y") %>
                <%= link_to date_string, teams_profile_path(details[:last_provider].name_for_link, anchor: details[:last_po_comment_id]) %> 
              <% end %>
            <% else %>
              <% if details[:last_model].present? and details[:last_provider].present? %>
                  <% date_string = details[:last_model].updated_at.strftime("%-m/%-d/%y") %>
                  <%= link_to date_string, teams_profile_path(details[:last_provider].name_for_link, anchor: details[:last_model].id) %> 
              <% end %>
            <% end %>
          </td>
          <td>
            <% if details[:last_provider].present? %>
              <%= link_to "#{details[:last_provider].name}", teams_profile_path(details[:last_provider].name_for_link) %>
            <% end %>
          </td>
          <%#= no fifth column if not POs %>
          <% if purchase_order_titles %>
            <td><%= "#{details[:num_models]}" %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
    <tr>
      <td><%= link_to "[Add to this list]" , new_provider_with_event_path("add_provider_from_index")%></td>
    </tr>  
  </table>
</div>