<% provide(:title,"Provider index") %>

<div class="container hax-body-styling">
  <div class="row">
    <div class="main-area-contrast override">
      <!-- this tool was super helpful making quick tables: http://www.textfixer.com/html/csv-convert-table.php -->

      <div class="row text-block">
        <div class="col-md-5 col-md-offset-1">
          <img src="/assets/hax-logo-big.png">
        </div>
        <div class="col-md-6">
          <h1> Privately collaborate with HAX teams about manufacturing, sourcing, China, and quadcopters</h1>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-6">
          Contents (click to jump to a section)
        </div>
      </div>
      
      <div class="row">
        <div id="keyword-list">
          <ul>
            <% @provider_hash.keys.each do |key| %>
              <li><%= link_to "#{key.readable}", "##{key.name}" %></li>
            <% end %>
            <li><%= link_to "[Add to this list]" , teams_suggested_edit_path("add_provider_from_index")%></li>
          </ul>
        </div>
      </div>

      <hr>

      <% @provider_hash.each do |key, providers| %>
        <div class="col-md-12">
          <h2>
            <span id='<%="#{key.name}"%>' name='<%="#{key.name}"%>'><%= "#{key.readable}" %></span>
            <span class="heading_navigation">[<%= link_to "Back to top" %>]</span>
          </h2>
          
          <% if providers %> 
            <div class="stylish">
            <table>
              <tr>
                <th>Existence Verified</th>
                <th>Company Name</th>
                <th>City</th>
                <th>Rating</th>
                <th># of ratings</th>
              </tr>
              <tr>
                
              </tr>
              <% providers.each do |provider| %>
                <tr>
                  <% comments = provider.comments %>
                  <td><%= provider.verified ? "Yes" : "No" %></td>
                  <td><%= link_to "#{provider.name}", teams_profile_path(provider.name_for_link) %></td>
                  <td><%= "#{provider.city}" %></td>
                  <td></td>
                  <td>
                    <%= provider.comments.count %>
                  </td>
                </tr>              
              <% end %>  
              <tr>
                <td><%= link_to "[Add to this list]" , teams_suggested_edit_path("add_provider_from_index")%></td>
              </tr>  
            </table>
            </div>
          <% else %>
            <p>We don't have any suppliers fitting this description. Help out by <%= mail_to "founders@supplybetter.com", "submitting one now" %>!</p>
          <% end %>        
        </div>
      <% end %>

    </div>
  </div>
</div>