<% provide(:title,"Provider index") %>

<div class="container hax-body-styling">
  <div class="row">
    <div class="main-area-contrast override">
      <!-- this tool was super helpful making quick tables: http://www.textfixer.com/html/csv-convert-table.php -->

      <%= render :partial => "providers/providers_header", locals: {provider_tags: @provider_hash.keys} %>

      <div class="row">
        <div class="col-md-6">
          Contents (click to jump to a section)
        </div>
      </div>
      
      <div class="row">
        <div id="keyword-list">
          <ul>
            <% @provider_hash.keys.each do |key| %>
              <li><%= link_to "#{key.readable}", "##{key.name}" %></li>
            <% end %>
            <li>
              <%= form_tag create_provider_tag_path do %>
                <%= text_field_tag 'new_tag' %>
                <%= submit_tag "+", data: { disable_with: 'Saving...' }, :id => "save_button" %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>

      <hr>

      <% @provider_hash.each do |key, providers| %>
        <div class="col-md-12">
          <h2>
            <span id='<%="#{key.name}"%>' name='<%="#{key.name}"%>'><%= "#{key.readable}" %></span>
            <span class="heading_navigation">[<%= link_to "Back to top" %>]</span>
          </h2>
          <%= render :partial => "providers/providers_table", locals: {providers: providers} %>
        </div>
      <% end %>

    </div>
  </div>
</div>