<% provide(:title,"Provider index") %>

<div class="container hax-body-styling">
  <div class="row">
    <div class="main-area-contrast override">
      <!-- this tool was super helpful making quick tables: http://www.textfixer.com/html/csv-convert-table.php -->

      <%= render :partial => "providers/providers_header" %>

      <% @provider_hash.each do |key, providers| %>
        <% if providers.count >= 5 %>
          <div class="col-md-12">
            <h2>
              <span id='<%="#{key.name}"%>' name='<%="#{key.name}"%>'><%= "#{key.readable}" %></span>
              <span class="heading_navigation">[<%= link_to "Back to top" %>]</span>
            </h2>
            <%= render :partial => "providers/providers_table", locals: {providers: providers} %>
          </div>
        <% end %>
      <% end %>

    </div>
  </div>
</div>