<% provide(:title,"Teams - sample index") %>

<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 main-area-contrast override">

    <h1>What kind of supplier are you looking for?</h1>

    <ul>
      <% @provider_hash.keys.each do |key| %>
        <li><%= link_to "#{key.to_s.titleize}" %></li>
      <% end %>
    </ul>

    <hr>

    <% @provider_hash.keys.each do |key, providers| %>
      <div>
        <h2><%= "#{key.to_s.titleize}" %></h2>
        <% if providers %> 
          <%= mail_to "founders@supplybetter.com", "Something missing? Submit a supplier." %>
          <table>
            <tr>
              <th>Verified?</th>
              <th>Name</th>
              <th>City</th>
              <th>Purchase Orders</th>
              <th>Factory Visits</th>
              <th>Comments</th>
              <th>Site</th>
            </tr>
            <tr>
              <td><i>Someone's called or visited</i></td>
              <td><i>Click for details</i></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <% providers.each do |provider| %>
              <tr>
                <td>Yes</td>
                <td><%= link_to "FactoryCo" %></td>
                <td>Zhongshan</td>
                <td>3</td>
                <td></td>
                <td>3</td>
                <td>N/A</td>
              </tr>
            <% end %>    
          </table>
        <% else %>
        <p>We don't have any suppliers fitting this description. Help out by <%= mail_to "founders@supplybeter.com", "submitting one now" %>!</p>
        <% end %>
        <p><%= link_to "Back to list of supplier types" %></p>
      </div>
    <% end %>

    </div>
  </div>
</div>