<% provide(:title,"#{@provider.name} - profile") %>

<div class="container hax-body-styling">
  <div class="row">
    <%= render partial: "organizations/navigation_header", locals: {middle_text: nil} %>
  </div>
  <div class="row">
    <!-- BEGIN LEFT COLUMN -->
    <div class="col-md-4">
      
      <!-- COMPANY NAME -->
      <div class="provider-profile">
        <h1>
          <%= @provider.name %>
          <span class="heading_navigation">[<%= link_to "Edit", edit_provider_with_event_path(@provider.id,"edit_providername_from_profile") %>]</span>
        </h1>
      </div>
      
      <!-- STAR RATINGS -->
      <!-- need to add an if statement to handle the case when there are no comments (and prompt the user to add a comment) -->
      <div class="row">
        <%= render partial: "providers/star_display", locals: {score: @provider.average_score, include_hidden_number: false} %>
        <span class="heading_navigation">
          <a href="#comments">
            <% total_provider_comments = @provider.comments.count %>
            <% if total_provider_comments %>
              <%= "#{pluralize(total_provider_comments, 'comment')}" %>
            <% end %>
          </a>
        </span>
      </div>      

      <!-- ADDRESS SECTION -->
      <div class="comment-profile">
        <p class="comment-smalltext"><strong>Best person to contact: </strong> <%= "#{@provider.contact_name} (role: #{@provider.contact_role})"%></p>
        <p class="comment-smalltext"><strong>Phone: </strong><%= @provider.contact_phone %></p>
        <p class="comment-smalltext"><strong>Email: </strong><%= @provider.contact_email %></p>
        <p class="comment-smalltext"><strong>Skype: </strong><%= @provider.contact_skype %></p>
        <p class="comment-smalltext">
          <strong>Website: </strong>
          <% if @provider.url_main.present? %>
            <%= link_to "Link", @provider.url_main %>
          <% end %>
        </p>            
        <p class="comment-smalltext"><strong>Full address: </strong><%= "#{@provider.location_string}" %></p>
      </div>

      <!-- PURCHASE ORDERS -->
      <h3>Purchase orders</h3> 
      <% if @po_names_and_counts.present? %> 
        <ul>
          <% @po_names_and_counts.each do |lead_contact,quantity| %>
            <li><p><%= "#{lead_contact.full_name_untrusted} (#{quantity})" %></p></li>
          <% end %>
        </ul>
      <% else %>
        <p>None yet!</p>
      <% end %>

    </div> 

    <!-- BEGIN MIDDLE COLUMN -->
    <div class="col-md-4">
      <!-- CATEGORIES -->
      <div class="profile-spacing">
        <h3>
          What they can do for you
          <span class="heading_navigation">[<%= link_to "Edit", edit_provider_with_event_path(@provider.id, "edit_whatcantheydo_from_profile") %>]</span>
        </h3>
      </div>
      <%= render partial: "providers/tag_display", locals: {tags: @tags, remove_bottom_margin: false, max_tags_to_display: nil} %>
    </div>        

    <!-- BEGIN MIDDLE COLUMN -->

    <!-- PHOTO GALLERY -->
    <div class="col-md-4">

      <div>
        <ul id="profile_photo_gallery" class="row photo-gallery">
          <% if @profile_photo_urls.present? %>
            <% count = 0 %>
            <% @profile_photo_urls.each do |url| %>  
              <% if count == 0 %>
                <li>
              <% else %>
                <li class="col-lg-3 col-md-4 col-sm-3 col-xs-4">                      
              <% end %>
            <%= image_tag url, class: "top-gallery" %>
            </li>
            <% count += 1 %>
           <% end %>
          <% end %>
        </ul>
      </div>

      <div class="attachment-uploader">Upload pictures here (or drag and drop)
        <span class="heading_navigation"></span>
        <%= hidden_field_tag :provider_id_for_upload, @provider.id %>
        <%= s3_uploader_form id: "s3-provider-photo-upload", class: "s3-provider-photo-upload",
          max_file_size: 10.megabytes,
          bucket: @provider.organization.external_bucket_name,
          key_starts_with: "#{@provider.name_for_link}",
          key: "#{@provider.name_for_link}-#{SecureRandom.hex}-{unique_id}" do %>
            <%= file_field_tag :file, multiple: true %>
        <% end %>
        <script id="template-upload" type="text/x-tmpl">
          <div id="file-{%=o.unique_id%}" class="upload">
            <div class="filename">{%=o.name%}</div>
            <div class="progress"><div class="bar" style="width: 0%"></div></div>
          </div>
        </script>
      </div>

    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">         
          <div class="modal-body">                
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

  </div>

  <div class="row col-md-12">
    <hr>
    <h3>
      Company Synopsis
      <span class="heading_navigation">[<%= link_to "Edit", edit_provider_with_event_path(@provider.id, "edit_synopsis_from_profile") %>]</span>
    </h3>
    <p><%= raw(@provider.external_notes) %></p>
  </div>

  <div class="row col-md-12">
    <h3>
      <%= @organization.name %> internal notes
      <span class="heading_navigation">[<%= link_to "Edit", edit_provider_with_event_path(@provider.id, "edit_internalnotes_from_profile") %>]</span>
    </h3>
    <p><%= raw(@provider.organization_private_notes) %></p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3 id="comments">
        Comments
        <span class="heading_navigation">[<%= link_to "add a comment", new_comment_path(@provider.id) %>]</span>
      </h3>

      <% if @comments.present? %>
        <% @comments.each do |comment| %>
          <%= render partial: "providers/profile_comment", locals: {comment: comment} %>
        <% end %>
      <% else %>
        <p>No information yet - <%= link_to "add the first comment", new_comment_path(@provider.id) %>!</p>
      <% end %>
      </div>
    </div>

  </div>
</div>

<!-- PHOTO GALLERY -->
<script>
$(document).ready(function(){        
    $('li img.top-gallery').on('click',function(){
        var src = $(this).attr('src');
        var img = '<img src="' + src + '" class="img-responsive"/>';
        
        //start of new code new code
        var index = $(this).parent('li').index();   
        
        var html = '';
        html += img;                
        html += '<div style="height:25px;clear:both;display:block;">';
        html += '<a class="controls next" href="'+ (index+2) + '">next &raquo;</a>';
        html += '<a class="controls previous" href="' + (index) + '">&laquo; prev</a>';
        html += '</div>';
        
        $('#myModal').modal();
        $('#myModal').on('shown.bs.modal', function(){
            $('#myModal .modal-body').html(html);
            //new code
            $('a.controls').trigger('click');
        })
        $('#myModal').on('hidden.bs.modal', function(){
            $('#myModal .modal-body').html('');
        });    
   });

})

//new code
$(document).on('click', 'a.controls', function(){
    var index = $(this).attr('href');
    var src = $('ul.row li:nth-child('+ index +') img').attr('src');             
    
    $('.modal-body img').attr('src', src);
    
    var newPrevIndex = parseInt(index) - 1; 
    var newNextIndex = parseInt(newPrevIndex) + 2; 
    
    if($(this).hasClass('previous')){               
        $(this).attr('href', newPrevIndex); 
        $('a.next').attr('href', newNextIndex);
    }else{
        $(this).attr('href', newNextIndex); 
        $('a.previous').attr('href', newPrevIndex);
    }
    
    var total = $('ul.row li').length + 1; 
    //hide next button
    if(total === newNextIndex){
        $('a.next').hide();
    }else{
        $('a.next').show()
    }            
    //hide previous button
    if(newPrevIndex === 0){
        $('a.previous').hide();
    }else{
        $('a.previous').show()
    }
    
    
    return false;
});                         
</script>
