<% provide(:title,"#{@provider.name} - profile") %>

<div class="container hax-body-styling">
  <div class="row">
     <div class="col-md-4">
      <p><%= link_to "Back to HAX SUPPLIERS", teams_index_path %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      
      <!-- COMPANY NAME -->
      <div class="profile-spacing">
        <h1>
        <%= @provider.name %>
        <span class="heading_navigation">[<%= link_to "Edit", edit_provider_with_event_path(@provider.id,"edit_providername_from_profile") %>]</span>
        </h1>
      </div>

      <!-- EXISTENCE VERIFIED -->
      <% if @provider.verified %>
        <div class="verified">
          <img class="supplier-index-indicator" alt="Verified icon" src="/assets/check59.svg" title="This provider has been verified to exist" >
          Verified
        </div>
      <% end %>
      
      <!-- STAR RATINGS -->
      <div class="row">
      <%= render partial: "providers/star_display", locals: {score: @provider.average_score} %>
      </div>

      <!-- CATEGORIES -->
      <h3 class=".profile-heading">
        What they can do for you
       <span class="heading_navigation">[<%= link_to "Edit", edit_provider_with_event_path(@provider.id, "edit_whatcantheydo_from_profile") %>]</span>
      </h3>
      <% @tags.each do |tag| %>
        <ul>
          <li><%= "#{tag.readable}" %></li>
        </ul>
      <% end %>

      <!-- PURCHASE ORDERS -->
      <h3 class=".profile-heading">
        Purchase orders
       <span class="heading_navigation">[<%= link_to "add a purchase", teams_suggested_edit_path("add_po_from_profile") %>]</span>
       </h3>  
       <ul>
        <% @po_names.each do |name| %>
          <li><%= "#{name}" %></li>
        <% end %>
      </ul>

      <!-- FACTORY VISITS -->
      <h3 class=".profile-heading">
        Factory visits
       <span class="heading_navigation">[<%= link_to "add a visit", teams_suggested_edit_path("add_visit_from_profile") %>]</span>
       </h3>
      <ul>
        <% @fv_names.each do |name| %>
          <li><%= "#{name}" %></li>
        <% end %>
      </ul>
      </div>

      <!-- BEGIN MIDDLE COLUMN -->
      <div class="col-md-4">
      </div>

      <!-- BEGIN RIGHT COLUMN -->
      <div class="col-md-4">
      
      
      <div class="table-header">

      <!-- ADDRESS SECTION -->
        <h3 class=".profile-heading">Address information <span class="heading_navigation">[<%= link_to "Edit", edit_provider_with_event_path(@provider.id, "edit_address_from_profile") %>]</span></h3>
        <ul>
          <li><strong>City: </strong><%= "#{@provider.city}" %></li>
          <li><strong>Full address: </strong><%= "#{@provider.address}" %></li>
        </ul>

        <h3 class=".profile-heading">Contact information <span class="heading_navigation">[<%= link_to "Edit", edit_provider_with_event_path(@provider.id, "edit_contactinfo_from_profile") %>]</span></h3>
        <ul>
          <li><strong>QQ: </strong><%= @provider.contact_qq %></li>
          <li><strong>Phone: </strong><%= @provider.contact_phone %></li>
          <li><strong>Skype: </strong><%= @provider.contact_skype %></li>
          <li><strong>Email: </strong><%= @provider.contact_email %></li>
          <li><strong>Website: </strong><%= link_to "Link", @provider.url_main if @provider.url_main %></li>
          <li><strong>Best person to contact: </strong> <%= "#{@provider.contact_name} (role: #{@provider.contact_role})"%></li>
        </ul>    
      </div>
      </div>
    </div>

  <div class="row">
    <div class="col-md-8">
      <h3 class="profile-heading">
        Comments
        <span class="heading_navigation">[<%= link_to "add a comment", new_comment_path(@provider.id) %>]</span>
      </h3>

      <% if @comments.present? %>
        <% @comments.each do |comment| %>
          <hr>
          <div class="row">
          <div class="col-md-3">
            <div class="row">
              <div class="avatar-profile"></div>
            </div>
            <div class="row comment-profile">
              <% contact = comment.user.lead.lead_contact %>
              <p><strong><%= "#{contact.first_name} " %></strong></p>
              <p class="comment-smalltext"><%= "Team: #{contact.contactable.user.team.name}" %></p>
            </div>
          </div>

          <div class="col-md-9 comment">
            
            <div class="row">
              <% if comment.title.present? %>
                <h3 class="comment-snippet">
                  <%= comment.title %>
                </h3>
              <% end %>
            </div>

            <div class="row">
              <% if comment.overall_score > 0 %>
                <%= render partial: "providers/star_display", locals: {score: comment.overall_score} %>
              <% end %>
              <span class="comment-smalltext"> 
                <%= "Reviewed #{comment.created_at.strftime('%Y-%m-%d')}" %>
              </span>
            </div>

            <div class="row">
              <p><%= raw(comment.payload) %></p>
            </div>

          </div>
         </div>
        <% end %>
        <% else %>

          <p>No information yet - <%= link_to "add the first comment", new_comment_path(@provider.id) %>!</p>
        <% end %>
      </div>
    </div>

  </div>
</div>
