<% provide(:title,"#{@provider.name} - profile") %>

<div class="container hax-body-styling">
  <div class="row">
     <div class="col-md-4">
      <p><%= link_to "Back to HAX SUPPLIERS", teams_index_path %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      
      <!-- COMPANY NAME -->
      <div class="profile-spacing">
        <h1>
        <%= @provider.name %>
        <span class="heading_navigation">[<%= link_to "Edit", edit_provider_with_event_path(@provider.id,"edit_providername_from_profile") %>]</span>
        </h1>
      </div>

      <!-- EXISTENCE VERIFIED -->
      <% if @provider.verified %>
        <div class="verified">
          <img class="supplier-index-indicator" alt="Verified icon" src="/assets/check59.svg" title="This provider has been verified to exist" >
          Verified
        </div>
      <% end %>
      
      <!-- STAR RATINGS -->
      <div class="row">
      <%= render partial: "providers/star_display", locals: {score: @provider.average_score} %>
      </div>

      <!-- CATEGORIES -->
      <h3 class=".profile-heading">
        What they can do for you
       <span class="heading_navigation">[<%= link_to "Edit", edit_provider_with_event_path(@provider.id, "edit_whatcantheydo_from_profile") %>]</span>
      </h3>
      <% @tags.each do |tag| %>
        <ul>
          <li><%= "#{tag.readable}" %></li>
        </ul>
      <% end %>

      <!-- PURCHASE ORDERS -->
      <h3 class=".profile-heading">
        Purchase orders
       <span class="heading_navigation">[<%= link_to "add a purchase", teams_suggested_edit_path("add_po_from_profile") %>]</span>
       </h3>  
       <ul>
        <% @po_names.each do |name| %>
          <li><%= "#{name}" %></li>
        <% end %>
      </ul>

      <!-- FACTORY VISITS -->
      <h3 class=".profile-heading">
        Factory visits
       <span class="heading_navigation">[<%= link_to "add a visit", teams_suggested_edit_path("add_visit_from_profile") %>]</span>
       </h3>
      <ul>
        <% @fv_names.each do |name| %>
          <li><%= "#{name}" %></li>
        <% end %>
      </ul>
      </div>

      <!-- BEGIN MIDDLE COLUMN -->
      <div class="col-md-4">

        <!-- PHOTO GALLERY -->
        <div>
          <ul id="uploaded-photo-list" class="row photo-gallery">
          <% @provider.externals.each_with_index do |external, index| %>
            <% if index == 0 %>
            <li>
            <% else %>
            <li class="col-lg-3 col-md-4 col-sm-3 col-xs-4">
            <% end %>
              <%= image_tag(external.url) %>
            </li>
            <% end %>
          </ul>
        </div>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body">
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <%= hidden_field_tag "provider_id", @provider.id %>

        <div>
          <span class="heading_navigation">[add a photo:]</span>
  <%= s3_uploader_form  id: "s3-provider-photo-upload", class: "s3-provider-photo-upload",
                        max_file_size: 10.megabytes,
                        key_starts_with: "externals/",
                        key: "externals/provider-#{@provider.id}-#{SecureRandom.hex}/${filename}" do %>
                          <%= file_field_tag :file, multiple: true %>
                        <% end %>
  <script id="template-upload" type="text/x-tmpl">
    <div id="file-{%=o.unique_id%}" class="upload">
      <div class="filename">{%=o.name%}</div>
      <div class="progress"><div class="bar" style="width: 0%"></div></div>
    </div>
  </script>
        </div>

      </div>

      <!-- BEGIN RIGHT COLUMN -->
      <div class="col-md-4">
      
      
      <div class="table-header">

      <!-- ADDRESS SECTION -->
        <h3 class=".profile-heading">Address information <span class="heading_navigation">[<%= link_to "Edit", edit_provider_with_event_path(@provider.id, "edit_address_from_profile") %>]</span></h3>
        <ul>
          <li><strong>City: </strong><%= "#{@provider.city}" %></li>
          <li><strong>Full address: </strong><%= "#{@provider.address}" %></li>
        </ul>

        <h3 class=".profile-heading">Contact information <span class="heading_navigation">[<%= link_to "Edit", edit_provider_with_event_path(@provider.id, "edit_contactinfo_from_profile") %>]</span></h3>
        <ul>
          <li><strong>QQ: </strong><%= @provider.contact_qq %></li>
          <li><strong>Phone: </strong><%= @provider.contact_phone %></li>
          <li><strong>Skype: </strong><%= @provider.contact_skype %></li>
          <li><strong>Email: </strong><%= @provider.contact_email %></li>
          <li><strong>Website: </strong><%= link_to "Link", @provider.url_main if @provider.url_main %></li>
          <li><strong>Best person to contact: </strong> <%= "#{@provider.contact_name} (role: #{@provider.contact_role})"%></li>
        </ul>    
      </div>
      </div>
    </div>

  <div class="row">
    <div class="col-md-8">
      <h3 class="profile-heading">
        Comments
        <span class="heading_navigation">[<%= link_to "add a comment", new_comment_path(@provider.id) %>]</span>
      </h3>

      <% if @comments.present? %>
        <% @comments.each do |comment| %>
          <hr>
          <div class="row">
          <div class="col-md-3">
            <div class="row">
              <div class="avatar-profile"></div>
            </div>
            <div class="row comment-profile">
              <% contact = comment.user.lead.lead_contact %>
              <p><strong><%= "#{contact.first_name} " %></strong></p>
              <p class="comment-smalltext"><%= "Team: #{contact.contactable.user.team.name}" if contact.contactable.user.team.present? %></p>
            </div>
          </div>

          <div class="col-md-9 comment">

            <div class="row">
              <% if comment.ratings_count.present? && comment.ratings_count > 0 %>
                <%= "#{comment.helpful_count} of #{comment.ratings_count} users found this comment helpful" %>
              <% end %>
            </div>

            <div class="row">
              <% if comment.title.present? %>
                <h3 class="comment-snippet">
                  <%= comment.title %>
                </h3>
              <% end %>
            </div>

            <div class="row">
              <% if comment.overall_score > 0 %>
                <%= render partial: "providers/star_display", locals: {score: comment.overall_score} %>
              <% end %>
              <span class="comment-smalltext"> 
                <%= "Reviewed #{comment.created_at.strftime('%Y-%m-%d')}" %>
              </span>
            </div>

            <div class="row">
              <p><%= raw(comment.payload) %></p>
            </div>

            <div>
              <% rating = comment.rating_by current_user %>
              <% if rating.nil? %>
                <%= form_tag comment_ratings_path do %>
                  Was this comment helpful to you?
                  <%= hidden_field_tag :provider_id, @provider.id %>
                  <%= hidden_field_tag :comment_id, comment.id %>
                  <%= submit_tag "Yes" %>
                  <%= submit_tag "No" %>
                <% end %>
              <% elsif rating.helpful %>
                <em>You found this comment helpful</em>
              <% else %>
                <em>You didn't find this comment helpful. <a href="mailto:suggest-edits@supplybetter.com">Give feedback</a>
              <% end %>
            </div>

          </div>
         </div>
        <% end %>
      <% else %>
          <p>No information yet - <%= link_to "add the first comment", new_comment_path(@provider.id) %>!</p>
      <% end %>
      </div>
    </div>

  </div>
</div>

<!-- PHOTO GALLERY -->
<script>
$(document).ready(function(){        
    $('li img').on('click',function(){
        var src = $(this).attr('src');
        var img = '<img src="' + src + '" class="img-responsive"/>';
        
        //start of new code new code
        var index = $(this).parent('li').index();   
        
        var html = '';
        html += img;                
        html += '<div style="height:25px;clear:both;display:block;">';
        html += '<a class="controls next" href="'+ (index+2) + '">next &raquo;</a>';
        html += '<a class="controls previous" href="' + (index) + '">&laquo; prev</a>';
        html += '</div>';
        
        $('#myModal').modal();
        $('#myModal').on('shown.bs.modal', function(){
            $('#myModal .modal-body').html(html);
            //new code
            $('a.controls').trigger('click');
        })
        $('#myModal').on('hidden.bs.modal', function(){
            $('#myModal .modal-body').html('');
        });    
   });

})

//new code
$(document).on('click', 'a.controls', function(){
    var index = $(this).attr('href');
    var src = $('ul.row li:nth-child('+ index +') img').attr('src');             
    
    $('.modal-body img').attr('src', src);
    
    var newPrevIndex = parseInt(index) - 1; 
    var newNextIndex = parseInt(newPrevIndex) + 2; 
    
    if($(this).hasClass('previous')){               
        $(this).attr('href', newPrevIndex); 
        $('a.next').attr('href', newNextIndex);
    }else{
        $(this).attr('href', newNextIndex); 
        $('a.previous').attr('href', newPrevIndex);
    }
    
    var total = $('ul.row li').length + 1; 
    //hide next button
    if(total === newNextIndex){
        $('a.next').hide();
    }else{
        $('a.next').show()
    }            
    //hide previous button
    if(newPrevIndex === 0){
        $('a.previous').hide();
    }else{
        $('a.previous').show()
    }
    
    
    return false;
});                         
</script>
