<% provide(:title,"Teams - sample profile") %>

<div class="container hax-body-styling">
  <div class="row">
     <div class="col-md-4">
      <p><%= link_to "Back to HAX SUPPLIERS", teams_index_path %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      
      <!-- COMPANY NAME -->
      <div class="profile-spacing">
        <h1>
        <%= @provider.name %>
        <span class="heading_navigation">[<%= link_to "Edit", teams_suggested_edit_path("edit_providername_from_profile") %>]</span>
        </h1>
      </div>

      <!-- STAR RATINGS -->
      <div class="row">
      <strong class="choice">Choose a rating</strong>
        <span class="star-rating">
          <input type="radio" name="rating" value="1" checked="checked"><i></i>
          <input type="radio" name="rating" value="2" checked="checked"><i></i>
          <input type="radio" name="rating" value="3"><i></i>
          <input type="radio" name="rating" value="4"><i></i>
          <input type="radio" name="rating" value="5"><i></i>
        </span>
      </div>

      <!-- EXISTENCE VERIFIED -->
      <% if @provider.verified %>
        <div class="verified">
          <img class="supplier-index-indicator" alt="Verified icon" src="/assets/check59.svg" title="This provider has been verified to exist" >
          Verified
        </div>
      <% end %>
      
      <!-- CATEGORIES -->
      <h3 class=".profile-heading">
        What they can do for you
       <span class="heading_navigation">[<%= link_to "Edit", teams_suggested_edit_path("edit_whatcantheydo_from_profile") %>]</span>
      </h3>
      <% @tags.each do |tag| %>
        <ul>
          <li><%= "#{tag.readable}" %></li>
        </ul>
      <% end %>

      <!-- PURCHASE ORDERS -->
      <h3 class=".profile-heading">
        Purchase orders
       <span class="heading_navigation">[<%= link_to "add a purchase", teams_suggested_edit_path("add_po_from_profile") %>]</span>
       </h3>  
       <ul>
        <% @po_names.each do |name| %>
          <li><%= "#{name}" %></li>
        <% end %>
      </ul>

      <!-- FACTORY VISITS -->
      <h3 class=".profile-heading">
        Factory visits
       <span class="heading_navigation">[<%= link_to "add a visit", teams_suggested_edit_path("add_visit_from_profile") %>]</span>
       </h3>
      <ul>
        <% @fv_names.each do |name| %>
          <li><%= "#{name}" %></li>
        <% end %>
      </ul>
      </div>

      <!-- BEGIN MIDDLE COLUMN -->
      <div class="col-md-4">
      </div>

      <!-- BEGIN RIGHT COLUMN -->
      <div class="col-md-4">
      
      
      <div class="table-header">

      <!-- ADDRESS SECTION -->
        <h3 class=".profile-heading">Address information <span class="heading_navigation">[<%= link_to "Edit", teams_suggested_edit_path("edit_address_from_profile") %>]</span></h3>
        <ul>
          <li><strong>City: </strong><%= "#{@provider.city}" %></li>
          <li><strong>Full address: </strong><%= "#{@provider.address}" %></li>
        </ul>

        <h3 class=".profile-heading">Contact information <span class="heading_navigation">[<%= link_to "Edit", teams_suggested_edit_path("edit_contactinfo_from_profile") %>]</span></h3>
        <ul>
          <li><strong>QQ: </strong><%= @provider.contact_qq %></li>
          <li><strong>Phone: </strong><%= @provider.contact_phone %></li>
          <li><strong>Skype: </strong><%= @provider.contact_skype %></li>
          <li><strong>Email: </strong><%= @provider.contact_email %></li>
          <li><strong>Website: </strong><%= link_to "Link", @provider.url_main if @provider.url_main %></li>
          <li><strong>Best person to contact: </strong> <%= "#{@provider.contact_name} (role: #{@provider.contact_role})"%></li>
        </ul>    
      </div>
      </div>
    </div>

  <div class="row">
    <div class="col-md-8">
        <h3 class="profile-heading">
          Comments
          <span class="heading_navigation">[<%= link_to "add a comment", teams_suggested_edit_path("add_comment_from_profile") %>]</span>
        </h3>

        <% if @comments.present? %>
          <% @comments.each do |comment| %>
            <hr>
            <div class="col-md-3">
              <div class="row">
                <div class="avatar-profile"></div>
              </div>
              <div class="row comment-profile">
                <% contact = comment.user.lead.lead_contact %>
                <p><strong><%= "#{contact.first_name} " %></strong></p>
                <p class="comment-smalltext">Haxlr8r mentor</p>
              </div>
            </div>

            <div class="col-md-9 comment">
              <div class="row">
                <h3 class="comment-snippet">
                  "Be careful with this factory"
                </h3>
              </div>
              <div class="row">
                <!-- STAR RATINGS -->
                
                  <p>
                    <span class="star-rating">
                      <input type="radio" name="rating" value="1" checked="checked"><i></i>
                      <input type="radio" name="rating" value="2" checked="checked"><i></i>
                      <input type="radio" name="rating" value="3"><i></i>
                      <input type="radio" name="rating" value="4"><i></i>
                      <input type="radio" name="rating" value="5"><i></i>
                    </span>
                    <span class="comment-smalltext"> Reviewed July 25th, 2015 </span>
                  </p>
                
              </div>
              <div class="row">
                <p><%= raw(comment.payload) %></p>
              </div>
            </div>
            
          <% end %>
        <% else %>

          <p>No information yet - [<%= link_to "add a review", teams_suggested_edit_path("add_visit_from_profile") %>]</p>
        <% end %>
      </div>
    </div>

</div>

<!-- JS TO ALLOW RATINGS TO WORK -->
<script type="text/javascript"> 
  $(':radio').change(
  function(){
    $('.choice').text( this.value + ' stars' );
  } 
)
</script>