<% provide(:title,"Teams - sample profile") %>

<div class="container hax-body-styling">
  <div class="row">
     <div class="col-md-4">
      <p><%= link_to "Back to HAX SUPPLIERS", teams_index_path %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      
      <!-- COMPANY NAME -->
      <div class="profile-spacing">
        <h1>
        <%= @provider.name %>
        <span class="heading_navigation">[<%= link_to "Edit", teams_suggested_edit_path("edit_providername_from_profile") %>]</span>
        </h1>
      </div>

      <!-- EXISTENCE VERIFIED -->
      <% if @provider.verified %>
        <div class="verified">
          <img class="supplier-index-indicator" alt="Verified icon" src="/assets/check59.svg" title="This provider has been verified to exist" >
          Verified
        </div>
      <% end %>

      <!-- STAR RATINGS -->
      <!-- <div class="row">
        <span class="star-rating">
          <input type="radio" name="rating" value="1"><i></i>
          <input type="radio" name="rating" value="2"><i></i>
          <input type="radio" name="rating" value="3"><i></i>
          <input type="radio" name="rating" value="4"><i></i>
          <input type="radio" name="rating" value="5"><i></i>
        </span>
        <strong class="choice">Choose a rating</strong>
      </div> -->
      
      <!-- CATEGORIES -->
      <h3>
        What they can do for you
       <span class="heading_navigation">[<%= link_to "Edit", teams_suggested_edit_path("edit_whatcantheydo_from_profile") %>]</span>
      </h3>
      <% @tags.each do |tag| %>
        <ul>
          <li><%= "#{tag.readable}" %></li>
        </ul>
      <% end %>

      <!-- PURCHASE ORDERS -->
      <h3>
        Purchase orders
       <span class="heading_navigation">[<%= link_to "add a purchase", teams_suggested_edit_path("add_po_from_profile") %>]</span>
       </h3>  
       <ul>
        <% @po_names.each do |name| %>
          <li><%= "#{name}" %></li>
        <% end %>
      </ul>

      <!-- FACTORY VISITS -->
      <h3>
        Factory visits
       <span class="heading_navigation">[<%= link_to "add a visit", teams_suggested_edit_path("add_visit_from_profile") %>]</span>
       </h3>
      <ul>
        <% @fv_names.each do |name| %>
          <li><%= "#{name}" %></li>
        <% end %>
      </ul>
      </div>

      <!-- BEGIN MIDDLE COLUMN -->
      <!-- PHOTO GALLERY -->
      <div class="col-md-4">
        <ul class="row photo-gallery">
          <li><img src="https://s3-ap-northeast-1.amazonaws.com/supplybetterprototyping/provider_profile-photo_gallery/IMG_4502-midsize.JPG"/></li>
          <li class="col-lg-3 col-md-4 col-sm-3 col-xs-4"><img src="https://s3-ap-northeast-1.amazonaws.com/supplybetterprototyping/provider_profile-photo_gallery/IMG_4480-midsize.JPG"/></li>
          <li class="col-lg-3 col-md-4 col-sm-3 col-xs-4"><img src="https://s3-ap-northeast-1.amazonaws.com/supplybetterprototyping/provider_profile-photo_gallery/IMG_4482-midsize.JPG"/></li>
          <li class="col-lg-3 col-md-4 col-sm-3 col-xs-4"><img src="https://s3-ap-northeast-1.amazonaws.com/supplybetterprototyping/provider_profile-photo_gallery/IMG_4484-midsize.JPG"/></li>
          <li class="col-lg-3 col-md-4 col-sm-3 col-xs-4"><img src="https://s3-ap-northeast-1.amazonaws.com/supplybetterprototyping/provider_profile-photo_gallery/IMG_4485-midsize.JPG"/></li>
          <li class="col-lg-3 col-md-4 col-sm-3 col-xs-4"><img src="https://s3-ap-northeast-1.amazonaws.com/supplybetterprototyping/provider_profile-photo_gallery/IMG_4486-midsize.JPG"/></li>
          <li class="col-lg-3 col-md-4 col-sm-3 col-xs-4"><img src="https://s3-ap-northeast-1.amazonaws.com/supplybetterprototyping/provider_profile-photo_gallery/IMG_4487-midsize.JPG"/></li>
          <li class="col-lg-3 col-md-4 col-sm-3 col-xs-4"><img src="https://s3-ap-northeast-1.amazonaws.com/supplybetterprototyping/provider_profile-photo_gallery/IMG_4488-midsize.JPG"/></li>
          <li class="col-lg-3 col-md-4 col-sm-3 col-xs-4"><img src="https://s3-ap-northeast-1.amazonaws.com/supplybetterprototyping/provider_profile-photo_gallery/IMG_4489-midsize.JPG"/></li>
          <li class="col-lg-3 col-md-4 col-sm-3 col-xs-4"><img src="https://s3-ap-northeast-1.amazonaws.com/supplybetterprototyping/provider_profile-photo_gallery/IMG_4490-midsize.JPG"/></li>
          <li class="col-lg-3 col-md-4 col-sm-3 col-xs-4"><img src="https://s3-ap-northeast-1.amazonaws.com/supplybetterprototyping/provider_profile-photo_gallery/IMG_4491-midsize.JPG"/></li>
          <li class="col-lg-3 col-md-4 col-sm-3 col-xs-4"><img src="https://s3-ap-northeast-1.amazonaws.com/supplybetterprototyping/provider_profile-photo_gallery/IMG_4492-midsize.JPG"/></li>
          <li class="col-lg-3 col-md-4 col-sm-3 col-xs-4"><img src="https://s3-ap-northeast-1.amazonaws.com/supplybetterprototyping/provider_profile-photo_gallery/IMG_4493-midsize.JPG"/></li>
          <li class="col-lg-3 col-md-4 col-sm-3 col-xs-4"><img src="https://s3-ap-northeast-1.amazonaws.com/supplybetterprototyping/provider_profile-photo_gallery/IMG_4494-midsize.JPG"/></li>
          <li class="col-lg-3 col-md-4 col-sm-3 col-xs-4"><img src="https://s3-ap-northeast-1.amazonaws.com/supplybetterprototyping/provider_profile-photo_gallery/IMG_4495-midsize.JPG"/></li>
          <li class="col-lg-3 col-md-4 col-sm-3 col-xs-4"><img src="https://s3-ap-northeast-1.amazonaws.com/supplybetterprototyping/provider_profile-photo_gallery/IMG_4510-midsize.JPG"/></li>
          <li class="col-lg-3 col-md-4 col-sm-3 col-xs-4"><img src="https://s3-ap-northeast-1.amazonaws.com/supplybetterprototyping/provider_profile-photo_gallery/IMG_4516-midsize.JPG"/></li>
        </ul>
      </div>

      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">         
            <div class="modal-body">                
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->

      <!-- BEGIN RIGHT COLUMN -->
      <div class="col-md-4">
      
      
      <div class="table-header">
        
      <!-- GOOGLE MAPS EMBED
      https://developers.google.com/maps/documentation/embed/guide#embedding_the_map -->
      <!-- Height=450px; Width=600px -->
      <div class="google-maps">
        <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=3008%20Shennan%20Middle%20Road%2C%20Futian%20District%2C%20Shenzhen%20518031%2C%20China&key=AIzaSyAVFaXqivNKzaOZ6Ta8H2X_adVX39JRJZc"></iframe>
      </div>

      <!-- ADDRESS SECTION -->
        <h3>Address information <span class="heading_navigation">[<%= link_to "Edit", teams_suggested_edit_path("edit_address_from_profile") %>]</span></h3>
        <ul>
          <li><strong>City: </strong><%= "#{@provider.city}" %></li>
          <li><strong>Full address: </strong><%= "#{@provider.address}" %></li>
        </ul>

        <h3>Contact information <span class="heading_navigation">[<%= link_to "Edit", teams_suggested_edit_path("edit_contactinfo_from_profile") %>]</span></h3>
        <ul>
          <li><strong>QQ: </strong><%= @provider.contact_qq %></li>
          <li><strong>Phone: </strong><%= @provider.contact_phone %></li>
          <li><strong>Skype: </strong><%= @provider.contact_skype %></li>
          <li><strong>Email: </strong><%= @provider.contact_email %></li>
          <li><strong>Website: </strong><%= link_to "Link", @provider.url_main if @provider.url_main %></li>
          <li><strong>Best person to contact: </strong> <%= "#{@provider.contact_name} (role: #{@provider.contact_role})"%></li>
        </ul>    
      </div>
      </div>
    </div>

  <div class="row">
    <div class="col-md-12">
    <h3>
      Comments
      <span class="heading_navigation">[<%= link_to "add a comment", teams_suggested_edit_path("add_comment_from_profile") %>]</span>
    </h3>
    <% if @comments.present? %>
      <% @comments.each do |comment| %>
        <% contact = comment.user.lead.lead_contact %>
        <p><strong><%= "#{contact.first_name_and_team}: " %></strong><%= raw(comment.payload) %></p>
      <% end %>
    <% else %>
      <p>No information yet - be the first to add some!</p>
    <% end %>
    </div>
  </div>

</div>

<!-- PHOTO GALLERY -->
<script>
$(document).ready(function(){        
    $('li img').on('click',function(){
        var src = $(this).attr('src');
        var img = '<img src="' + src + '" class="img-responsive"/>';
        
        //start of new code new code
        var index = $(this).parent('li').index();   
        
        var html = '';
        html += img;                
        html += '<div style="height:25px;clear:both;display:block;">';
        html += '<a class="controls next" href="'+ (index+2) + '">next &raquo;</a>';
        html += '<a class="controls previous" href="' + (index) + '">&laquo; prev</a>';
        html += '</div>';
        
        $('#myModal').modal();
        $('#myModal').on('shown.bs.modal', function(){
            $('#myModal .modal-body').html(html);
            //new code
            $('a.controls').trigger('click');
        })
        $('#myModal').on('hidden.bs.modal', function(){
            $('#myModal .modal-body').html('');
        });    
   });

})

//new code
$(document).on('click', 'a.controls', function(){
    var index = $(this).attr('href');
    var src = $('ul.row li:nth-child('+ index +') img').attr('src');             
    
    $('.modal-body img').attr('src', src);
    
    var newPrevIndex = parseInt(index) - 1; 
    var newNextIndex = parseInt(newPrevIndex) + 2; 
    
    if($(this).hasClass('previous')){               
        $(this).attr('href', newPrevIndex); 
        $('a.next').attr('href', newNextIndex);
    }else{
        $(this).attr('href', newNextIndex); 
        $('a.previous').attr('href', newPrevIndex);
    }
    
    var total = $('ul.row li').length + 1; 
    //hide next button
    if(total === newNextIndex){
        $('a.next').hide();
    }else{
        $('a.next').show()
    }            
    //hide previous button
    if(newPrevIndex === 0){
        $('a.previous').hide();
    }else{
        $('a.previous').show()
    }
    
    
    return false;
});                         
</script>

<!-- JS TO ALLOW RATINGS TO WORK -->
// <script type="text/javascript"> 
//   $(':radio').change(
//   function(){
//     $('.choice').text( this.value + ' stars' );
//   } 
// )
// </script>