<% provide(:title,"Getting started with 3D printing") %>

<div class="container">
	<h1>What is 3D printing?</h1>

	<div class="span10 offset1">
		<p>3D printing is the process of taking a 3D digital model and creating it in the physical world by fabricating it as a series of 2D slices. Thanks to some innovation, passion, and a few patents expiring, 3D printing has recently become much more affordable.</p>
		<p>3D printing is a type of "additive manufacturing", which constrasts to more traditional "subtractive manufacturing".</p>

		<table class="table-center">
			<tr>
				<td>
					<div class="thumbnail">
						<p class="thumbnail-header-text">Additive Manufacturing: adding layers of material</p>
						<iframe class="video-iframe" width="480" height="270" src="http://www.youtube.com/embed/XMil8GVmNYo?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
					</div>
				</td>					
				<td>
					<div class="thumbnail">
						<p class="thumbnail-header-text">Subtractive Manufacturing: cutting away material</p>
						<iframe class="video-iframe" width="480" height="270" src="http://www.youtube.com/embed/RnIvhlKT7SY?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
					</div>
				</td>
			
			</tr>
		</table>	

		<ul>
			<li><%= link_to "TED talk: 'A primer on 3D printing'", "http://www.youtube.com/embed/OhYvDS7q_V8?feature=player_detailpage", target: "_blank" %></li>
			<li>More <%= link_to "TED talks on 3D printing", "http://blog.ted.com/2013/02/07/7-talks-on-the-wonder-of-3d-printing/", target: "_blank" %></li>
			<li><%= link_to "Wired Magazine gallery of amazing additive manufacturing accomplishments", "http://www.wired.com/design/2012/11/coolest-3d-prints-movies-art-environment/?pid=1263&amp;viewall=true", target: "_blank" %></li>
		</ul>

		<h1 class="h1-midpage">Awesome. Where do I start?</h1>

		<h3>Learn to Create 3D Models</h3>

		<strong>Modeling with OpenSCAD</strong>
		<ul>
			<li>Makerbot's <%= link_to "free series of tutorials for OpenSCAD", "http://curriculum.makerbot.com/daily_lessons/february/index.html", target: "_blank" %>, a popular (and free) modeling tool</li>
		</ul>	

		<strong>Modeling with Google Sketchup</strong>
		<ul>
			<li>Another solid 3D modeling tool used by many for 3D printing. <%= link_to "Google tutorials are here", "http://www.sketchup.com/training/videos/new_to_gsu.html", target: "_blank" %></li>
		</ul>
		<strong>Useful Puplished Papers</strong>
		<ul>
			<li>An in-depth <%= link_to "review of additive manufacturing", "http://www.hindawi.com/isrn/me/2012/208760/cta/", target: "_blank" %></li>
		</ul>

		<strong>Design Considerations</strong>
		<ul>
			<li>Do you know which material you're going to use for your model? <%= link_to "Choose your material", materials_path %> here
			<li>Shapeways' list of <%= link_to "3D modeling design considerations", "http://www.shapeways.com/tutorials/things-to-keep-in-mind", target: "_blank" %> (true for practically all models)</li>
			<li>Design considerations <%= link_to "for Selective Laser Sintering (SLS) models", "http://www.shapeways.com/tutorials/design_rules_for_3d_printing", target: "_blank" %></li>
			<!--
			<li>Design considerations <%= link_to "just for Fused Deposition Modeling (FDM) models", "http://3dreambox.com/reference.html", target: "_blank" %></li>
			-->
		</ul>

		<h3>Great blogs to learn more about 3D printing</h3>
		<ul>
			<li>boingboing blog <%= link_to "on 3D printing", "http://boingboing.net/tag/3d-printing", target: "_blank" %></li>
			<li><%= link_to "3ders", "http://www.3ders.org/", target: "_blank" %> is typically the early bird in reporting additive manufacturing news</li>
			<li><%= link_to "Shapeways Blog", "http://www.shapeways.com/blog/", target: "_blank" %> is full of both news and developments of their operation</li>
			<li><%= link_to "Objet Blog", "http://blog.objet.com/", target: "_blank" %> has some of the most impressive entries we've seen from a producer of 3D machines</li>
			<li><%= link_to "Fabbaloo", "http://fabbaloo.com/", target: "_blank" %> is mostly geared towards personal 3D printing</li>
			<li><%= link_to "Solidsmack", "http://solidsmack.com/", target: "_blank" %> covers 3D scanning and printing, both personal and commercial</li>
		</ul>
	
		<h1 class="h1-midpage">Terrific. I have a 3D model. Now what?</h1>

		<h3 class="center">Use <%= link_to "#{brand_name}", root_path, :class => "h3link"%> to help you find the best place to print it! <%= link_to "(Sign up here)", new_user_path, :class => "h3link" %></h3>
		<h3 class="center">We get you a variety of quotes, so you can save money and get your parts faster.</h3>

		<p class="back_to_home"><%= link_to "Back to home", root_path %></p>
	
</div>
