<% provide(:title,"Getting started with 3D printing") %>

<h3>What it is</h3>

<p>Additive manufacturing is the process of taking a 3D digital model and creating it in the physical world by fabricating it as a series of 2D slices. There are many ways to go about doing this and the technology has actually be around for decades. However, with some innovation, passion, and a few patents expiring(1), 3D printing been made accessible to the masses.</p>

<p>As an example of just want the process is like, let’s say you want to make a lego brick. You can either:</p>

<ul>
	<li>Take a block of plastic at least as large as the total size of the lego brick. Machine away all the volume that you don’t want. Your result is a lego brick and all the scrap material you machine away. This is what is known as subtractive manufacturing.</li>
</br>
	<li>Take a spool of plastic filament and mount it on a Makerbot or other fused-deposition modeling machine. Import the design of the lego brick onto the machine. Now just watch as the ABS filament is fed through a heated extruder that places the material onto a surface one layer at a time until the brick has been completed. This is known as additive manufacturing.</li>
</ul>

<h3>Discover</h3>

NEED A VIDEO EMBED HERE
<%#= video_tag( "http://www.youtube.com/watch?feature=player_embedded&v=OhYvDS7q_V8" ) %>

<ul>
	<li>More <%= link_to "TED talks on 3D printing", "http://blog.ted.com/2013/02/07/7-talks-on-the-wonder-of-3d-printing/", target: "_blank" %></li>
	<li><%= link_to "Wired Magazine gallery of amazing additive manufacturing accomplishments", "http://www.wired.com/design/2012/11/coolest-3d-prints-movies-art-environment/?pid=1263&amp;viewall=true", target: "_blank" %></li>
</ul>

<h3>Learn</h3>

<strong>Modeling with OpenSCAD</strong>
<ul>
	<li>Makerbot's <%= link_to "free series of tutorials for OpenSCAD", "http://curriculum.makerbot.com/daily_lessons/february/index.html", target: "_blank" %>, a popular (and free) modeling tool</li>
</ul>	

<strong>Modeling with Google Sketchup</strong>
<ul>
<li>Another solid 3D modeling tool used by many for 3D printing. <%= link_to "Google tutorials are here", "http://www.sketchup.com/training/videos/new_to_gsu.html", target: "_blank" %>.</li>
</ul>
<strong>Useful Puplished Papers</strong>
<ul>
<li>An in-depth <%= link_to "review of additive manufacturing", "http://www.hindawi.com/isrn/me/2012/208760/cta/", target: "_blank" %></li>
</ul>

<strong>Design Considerations</strong>

<ul>
<li>Shapeways list of <%= link_to "3D modeling design considerations", "http://www.shapeways.com/tutorials/things-to-keep-in-mind", target: "_blank" %> (true for practically all models)</li>
<li>Design considerations <%= link_to "just for Selective Laser Sintering (SLS) models", "http://www.shapeways.com/tutorials/design_rules_for_3d_printing", target: "_blank" %></li>

<!--
<li>Design considerations <%= link_to "just for Fused Deposition Modeling (FDM) models", "http://3dreambox.com/reference.html", target: "_blank" %></li>
-->
</ul>

<h3>Follow</h3>
<strong>Awesome Blogs</strong>
<ul>
	<li>boingboing blog <%= link_to "on 3D printing", "http://boingboing.net/tag/3d-printing", target: "_blank" %></li>
	<li><%= link_to "3ders", "http://www.3ders.org/", target: "_blank" %> is typically the early bird in reporting additive manufacturing news</li>
	<li><%= link_to "Shapeways Blog", "http://www.shapeways.com/blog/", target: "_blank" %> is full of both news and developments of their operation</li>
	<li><%= link_to "Objet Blog", "http://blog.objet.com/", target: "_blank" %> has some of the most impressive entries we've seen from a producer of 3D machines</li>
	<li><%= link_to "Fabbaloo", "http://fabbaloo.com/", target: "_blank" %> is mostly geared towards personal 3D printing</li>
	<li><%= link_to "Solidsmack", "http://solidsmack.com/", target: "_blank" %> covers 3D scanning and printing, both personal and commercial</li>
</ul>

<h3>Create</h3>
Shameless plug, <%= link_to "PartReach", "http://www.partreach.com", target: "_blank"%> will get you the quotes you want in the time you need. 