<% provide(:title, "Welcome to #{brand_name}!") %>
<h1>Comparison shopping for 3D printing</h1>
<h2>Know your options. Get cheaper parts.</h2>
<p class="center"><%= link_to "(How do I get started with 3D printing?)", getting_started_path %></p>
<table class="table-center">
	<tr>
		<td>
			<div class="thumbnail">
				<%= image_tag "intro_panel_L_v1-2.png" %>
				<p class="thumbnail-header-text">You fill out a quote request</p>
			</div>
		</td>
		<td>
			<div class="thumbnail">
				<%= image_tag "intro_panel_M_v1-4.png" %>
				<p class="thumbnail-header-text">We reach out to suppliers</p>
			</div>
		</td>
		<td>
			<div class="thumbnail">
				<%= image_tag "intro_panel_R_v1-5.png" %>
				<p class="thumbnail-header-text">You pick the best quote</p>
			</div>
		</td>
	</tr>
</table>
<div>
	<%= link_to "It's free - start today!", signup_path, class: "btn btn-primary", id: "button-start-today"  %>
	</div>
<div>
	<div id="div-supplier-join">
		<%= mail_to "info@supplybetter.com", "Are you a supplier?", encode: "javascript", target: "_blank", subject: "Tell me more about being a #{brand_name} supplier!", body: "I'm interested in more information about what #{brand_name} is like for suppliers." %>
		<%= link_to "Business user?", procurement_path %> 
	</div>

</div>
