<% provide(:title, "Find the right supplier for 3D printing or general prototyping") %>
<% content_for :body_class, "home" %>

<main class="main">
	<div class="hero">
		<div class="hero-branding">
			<h1 class="logo">
				<a href="/">
					<%= image_tag "supplybetter-logo-white.svg", :alt => "SupplyBetter" %>
				</a>
			</h1>
			<h2 class="hero-headline">
				Know your options.
			</h2>
			<%= link_to "Sign into your account", signin_path, class: "arrow-link" %>
		</div>
		<div class="hero-cta">
			<p class="hero-subheadline">
				<span class="subheadline-text">A new way to turn CAD models into physical&nbsp;parts.</span>
				<span>Get matched to the right suppliers by an experienced engineer in&nbsp;minutes.</span>
				<span><%= link_to "Let’s get started", order_questions_path, class: "button--white arrow-link" %></span>
			</p>
		</div>
	</div>
	<section class="section section--gray">
		<h2 class="section-headline">
			Just tell us what you’re looking for.
		</h2>
		<div class="start-quote">
			<p>
				I am
				<select class="chosen-select select-one">
					<option value="rookie">still learning</option>
					<option value="experienced" selected="selected">experienced</option>
				</select>
				,   I care most about
				<select class="chosen-select select-two">
					<option value="speed">speed</option>
					<option value="quality" selected="selected">quality</option>
					<option value="cost">cost</option>
				</select>
				, and think 3D printing
				<select class="chosen-select">
					<option value="printing" selected="selected">should be</option>
					<option value="other">shouldn’t be</option>
					<option value="unknown">might be</option>
				</select>
				the&nbsp;method.
			</p>
			<%= link_to "Continue", order_questions_path, class: "button--blue arrow-link" %>
		</div>
	</section>
	<section class="section">
		<h2 class="section-headline">
			How does SupplyBetter work?
		</h2>
		<div class="triplets">
			<div class="col">
				<%= image_tag "home-quote-icon.svg", :alt => "Upload your project documents" %>
				<h3>You upload your design and project&nbsp;details.</h3>
				<%= link_to "Fill out a quote now", order_questions_path, :class => "arrow-link" %>
			</div>
			<div class="col wide">
				<%= image_tag "home-selection-icon.svg", :alt => "We select a supplier" %>
				<h3>We match you with suppliers who exactly fit your&nbsp;job.</h3>
			</div>
			<div class="col">
				<%= image_tag "home-best-icon.svg", :alt => "You choose the option that best fits your needs" %>
				<h3>You pick the quote you like <span>best,&nbsp;free.</span></h3>
				<%= link_to "See what our customers say", testimonials_path, :class => "arrow-link" %>
			</div>
		</div>
	</section>
	<section class="section section--gray section--aligned">
		<div class="wrapper">
			<h2 class="section-headline">
				We match you with the exact right suppliers.
			</h2>
			<p>
				We use every detail of your project, including build volume, material requirements,
				geographic preferences, IP sensitivity, DFM needs, and timeline, to match you with
				the supplier that's best for your project.
			</p>
			<p>
				Are you a supplier looking to grow your business? <a href="/be_a_supplier" class="arrow-link">Join our Supplier Network</a>
			</p>
		</div>
	</section>
	<section class="section ta-c">
		<blockquote class="big-quote">Across rapid prototyping jobs both large and small, SupplyBetter has delivered multiple quotes quickly every time, helped us build relationships with new prototyping shops, and increased our quality&nbsp;expectations.
			<footer>
				— <cite>Ryan, Mechanical Engineer, <a href="http://www.frogdesign.com/">Frog Design</a></cite>
			</footer>
		</blockquote>
		<%= link_to "Read our customers’ stories", testimonials_path, class: "button--blue centered-border arrow-link" %>
		<div class="customer-logos">
			<%= image_tag "customer-logos@2x.png", :alt => "You choose the option that best fits your needs" %>
		</div>
	</section>
</main>
<footer class="footer">
	<div class="twins--40-60">
		<div class="col-40">
	  	<ul class="footer-links">
	  		<li><%= link_to "Home", root_path %></li>
	  		<li><%= link_to "Getting started", getting_started_path %></li>
	      <li><%= link_to "Blog", "/blog" %></li>
	  		<li><%= link_to "Materials", materials_path %></li>
	      <li><%= link_to "Suppliers", suppliers_path %>
	  	</ul>
	    <ul class="footer-links--sub">
	      <li><%= link_to "© 2014 SupplyBetter, Inc.", root_path %></li>
	      <li><%= link_to "Privacy", privacy_path %></li>
	      <li><%= link_to "Terms", terms_path %></li>
	  	</ul>
		</div>
		<div class="col-60 twins p-0">
			<div class="col p-0">
				<h3>Not ready for a quote?</h3>
				<p>We’ll keep you updated in the&nbsp;meantime.</p>
			</div>
			<div class="col">
		    <div class="email-form">
				  <%= form_tag :action => 'create', :controller => 'leads' do %>
				    <input type="hidden" name="next_step_field" value="/">
		  			<%= text_field_tag 'email_field', nil, :placeholder => "sam.joss@supplybetter.com", class: "email-input", :id => "email-submit-field" %>
		  			<%= submit_tag "Sign up", :disable_with => "Submitting", class: "email-button", :id => "email-submit-button" %>
	  			<% end %>
				</div>
			</div>
		</div>
	</div>
</footer>




<!-- <div class="homepage-background">
	<div class= "container hero">
		<hgroup>
			<h1>Comparison shopping for 3D printing.</h1>
			<h2><em>Know your options.</em> Get cheaper parts.</h2>
		</hgroup>
		<%= render partial: "static_pages/testimonial", locals: {testimonial: @testimonial, alternate_colors: false} %>
		<div class="center bit-of-space">
			<%= link_to "We have many more testimonials. Take a look.", testimonials_path, class: "sec-hero" %>
		</div>
		<p class="center bit-of-space">
			<%= link_to "Get Started", order_questions_path, class: "btn btn-xl supplybetter-blue" %>
		</p>
		<div class="center bit-of-space">
			<%= link_to "Are you a supplier?", be_a_supplier_path, class: "sec-hero" %>
			<%= link_to "Or wondering how to get started with 3D printing?", getting_started_path, class: "sec-hero" %>
		</div>
	</div>
</div>

<% if (@logo_locations_top and @logo_locations_bottom) %>
	<div class="logo-background">
		<div class="container" id="features-override">
			<div class="row features">
				<h3 class="center">Buyers include</h3>
				<% width_class = "logo-image-width col-sm-offset-1" %>
				<ol>
					<% @logo_locations_top.each do |logo_location| %>
						<li><%= image_tag logo_location, :class => width_class %></li>
					<% end %>
				</ol>
			</div>
			<div class="row features">
				<ol>
					<% @logo_locations_bottom.each do |logo_location| %>
						<li><%= image_tag logo_location, :class => width_class %></li>
					<% end %>
				</ol>
				<h3 class="center clear bit-of-space">and many more.</h3>
			</div>
		</div>
	</div>
<% end %>

<div class="container">
	<div class="row">
		<div class="content features">
			<ol>
				<li>
					<h3>Fill out a <%= link_to "quote request", order_questions_path, :class => "h3link" %>.</h3>
					<%= image_tag "features-request.png" %>
					<p>Give us quantity, a drawing, and the application, and we're ready to start.</p>
				</li>
				<li>
					<h3>We reach out to <%= link_to "suppliers", suppliers_path, :class => "h3link" %>.</h3>
					<%= image_tag "features-suppliers.png" %>
					<p>We select the best suppliers based on what you care about, whether that be cost, quality, process, or geography.</p>
				</li>
				<li>
					<h3>You pick the best quote.</h3>
					<%= image_tag "features-quote.png" %>
					<p>Pick the quote that fits your needs best. No obligation to buy.</p>
				</li>
			</ol>
		</div>
	</div>
	<% if current_user.nil? %>
		<div class="row">
		  <%= form_tag :action => 'create', :controller => 'leads' do %>

		    <input type="hidden" name="next_step_field" value="/">
		    <div class="clear cta">
		    	<%= render 'layouts/email_collector' %>
		    </div>
	  	<% end %>
	  </div>
	<% end %>
</div>

 -->
