<% provide(:title, "SRM for OEMs") %>
<% content_for :body_class, "home" %>

<header class="header navbar-default">
  <div class="header-logo">
    <h1 class="header__logo">
      <%= link_to teams_index_path, class: "navbar-brand" do %>
        <%= image_tag "supplybetter-logo-white-cropped.svg", :alt => "SupplyBetter" %>
      <% end %>
    </h1>
  </div>
  <ul class="nav navbar-nav navbar-right homepage-header">  
    <li><%= link_to "Sign in", signin_path %></li>
  </ul>
</header>

<div id="h">
  <div class="container homepage">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 centered">
        <h1>Your suppliers deserve more than just a spreadsheet</h1>
        <h2>Effective Supplier Relationship Management (SRM) for OEMs</h2> 
        <%= render partial:"static_pages/email_submission", locals: {input_id: "upper"} %> 
        <h3>Scroll down to learn more</h3>
        <div class="scroll-down">
          <a href="#review_1">
            <svg class="scroll-down-icon" viewBox="0 0 36 36" style="width:50px;">
              <path fill="#FFFFFF" d="M18.843,26.253L33.656,11.5c0.481-0.481,0.484-1.262,0.002-1.744c-0.479-0.486-1.263-0.486-1.744-0.005
              L17.97,23.637L4.088,9.751c-0.482-0.482-1.263-0.482-1.744,0c-0.241,0.241-0.361,0.555-0.361,0.872c0,0.313,0.12,0.632,0.361,0.872
              l14.755,14.753C17.58,26.73,18.358,26.73,18.843,26.253z"></path>
            </svg>
          </a>
        </div>
      </div>
    </div><!--/row-->
  </div><!--/container-->
</div><!-- /H -->

<!-- **********************************************
                REVIEW NUMBER ONE
************************************************ -->

<div id="review_1" class="container homepage ptb">
  <div class="row">
    <!-- BEGIN LEFT COLUMN -->
    <div class="col-md-4">
      <h2 class="featurette-heading">Learn from others to avoid sourcing pitfalls</h2>    
      <h3 class="featurette-body">SupplyBetter makes it easy to share your experience by using data from your purchase orders, so all your engineers have to do is leave a rating and comment when we ask them to review their orders.</h3>
    </div>
    <!-- BEGIN RIGHT COLUMN -->
    <div class="col-md-8 comment-border">         
      <div class="row comment-smalltext">
      <!-- BEGIN LEFT COLUMN -->
        <div class="col-md-3">
          <div class="row">
            <img class="headshot1 blur">
          </div>
          <div class="row comment-profile">
            <p><strong>Jules</strong></p>
            <p>Team: <span class="redacted">$$$$$$$$$</span></p>
              <p>13 reviews</p>
              <p>12 purchase orders</p>
          </div>
        </div>

        <!-- BEGIN RIGHT COLUMN -->
        <div class="col-md-9">          
          <div class="row">
            <h3 class="comment-snippet">
              Tiny Sheet Metal Springs, 301SS 1/2H
            </h3>        
          </div>        
          <div class="row">
            <div class="col-md-8 left-grid-bare">
              <span class="star-rating comment-rating-stars">
               <input type="radio">
               <input type="radio">
               <input type="radio">
               <input type="radio">
               <input type="radio">
                <i id="gold-star"></i>
                <i id="gold-star"></i>
                <i id="gold-star"></i>
                <i id="gold-star"></i>
              </span>
              <span> 
                Reviewed 2015-05-21
              </span>
            </div>
            <div class="col-md-4 left-grid-bare">
            </div>
          </div>

          <div class="row col-md-12 comment-snippet">
            <span class="redacted">$$$$$$</span> delivered tight tolerance parts in 3-4 days. The parts were incredibly accurate despite some challenging bends, and <span class="redacted">$$$$$$</span> has consistently beat their already low estimated lead times. Quoting with them is fast, and they are okay at providing feedback on parts when prompted. They are NOT cheap, but they are my go-to shop for fast turn, intricate sheet metal and would earn 5 stars if not for high cost.
          </div>      

          <div class="row">
              <div class="col-md-7 left-grid-bare">Project Name: <span><a href=""><span class="redacted">$$$$$$$ $$$$</span></a></span></div>
              <div class="col-md-5 left-grid-bare">PO Issued: 2015-05-06</div>
          </div>

          <div class="row">     
            <div class="col-md-7 left-grid-bare">           
              <div>
                <span class="star-rating comment-rating-stars">
                  <input type="radio">
                  <input type="radio">
                  <input type="radio">
                  <input type="radio">
                  <input type="radio">
                  <i id="gold-star"></i>
                  <i id="gold-star"></i>
                  <i id="gold-star"></i>
                </span>
                Cost
              </div>
              <div>
                <span class="star-rating comment-rating-stars">
                  <input type="radio">
                  <input type="radio">
                  <input type="radio">
                  <input type="radio">
                  <input type="radio">
                  <i id="gold-star"></i>
                  <i id="gold-star"></i>
                  <i id="gold-star"></i>
                  <i id="gold-star"></i>
                  <i id="gold-star"></i>
                </span>
                Quality
              </div>
              <div>
                <span class="star-rating comment-rating-stars">
                  <input type="radio">
                  <input type="radio">
                  <input type="radio">
                  <input type="radio">
                  <input type="radio">
                  <i id="gold-star"></i>
                  <i id="gold-star"></i>
                  <i id="gold-star"></i>
                  <i id="gold-star"></i>
                  <i id="gold-star"></i>
                </span>
                Speed
              </div>
            </div>
            <div class="col-md-5 left-grid-bare">   
              <div>Price: <span class="redacted">$$$$$.$$</span></div>           
              <div>Quantity: <span class="redacted">$$</span></div>              
            </div>
            <div class="col-md-12 left-grid-bare"><span class="redacted">$$$-$$$$$$_$$$$$$$_$$$$_$$$-$$$-$$, $$ $$$$$$$ </span></div>
            <div class="col-md-8 left-grid-bare">
              <span class="tags-providerTags">
                <a href="/teams/searching/t3092/false" class=""> 
                  Springs
                </a>
              </span>
              <span class="tags-providerTags">
                <a href="/teams/searching/t2371/false" class=""> 
                  Sheet metal fabrication
                </a>
              </span>
            </div>
          </div>
        </div>
        <!-- END MIDDLE COLUMN -->
      </div>
    </div>    
  </div><!--/row-->
</div><!--/container-->

<!-- **********************************************
                END OF REVIEW NUMBER ONE
************************************************ -->
<div id="i">
  <div class="container homepage ptb">
    <div class="row featurette">
      <div class="col-md-5">
        <img class="featurette-image img-responsive center-block" src="/assets/151027-landing_page_search_bar.jpg" alt="SupplyBetter search bar">
      </div>
      <div class="col-md-7">
        <h2 class="featurette-heading">Search your supplier network</h2>
        <h3 class="featurette-body">Knowing exactly which manufacturing process you need can be tough. SupplyBetter's curated tag network allows you explore processes, materials, and products while simultaneously seeing which companies have those capabilities. Learn more about suppliers by checking out reviews.
        </h3>
      </div>      
    </div>
  </div>
</div>

<!-- **********************************************
                FOOTER
************************************************ -->
<div id="f">
  <div class="container homepage">
    <div class="row centered">
      <h2>Supplier relationships matter. Try it out now.</h2>
        <div class="col-md-8 col-md-offset-2 centered">
          
            <%= render partial:"static_pages/email_submission", locals: {input_id: "lower"} %>
          
        </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2 centered">
          <h3>feedback@supplybetter.com</h3>
          <ul class="footer-links">
            <li><%= link_to "Blog", "/blog" %></li>
            <li><%= link_to "Privacy", privacy_path %></li>
            <li><%= link_to "Terms", terms_path %></li>
            <li><%= link_to "Directory", suppliers_path %></li>
          </ul>
          <ul class="footer-links--sub">            
          </ul>
        </div>
      </div>
      <h5 class="mt">COPYRIGHT 2015 - SUPPLYBETTER, INC.</h5>
    </div><!--/row-->
  </div><!--/container-->
</div><!--/F-->