<% provide(:title, "Welcome to PartReach!") %>
<h1>Comparison shopping for 3D printing</h1>
<h2>Know your options. Get faster, cheaper parts.</h2>
<table class="table-center">
	<tr>
		<td>
			<div class="thumbnail">
				<%= image_tag "intro_panel_L_v1-2.png" %>
				<p class="thumbnail-header-text">Fill out one quote request</p>
			</div>
		</td>
		<td>
			<div class="thumbnail">
				<%= image_tag "intro_panel_M_v1-4.png" %>
				<p class="thumbnail-header-text">Reach out to suppliers</p>
			</div>
		</td>
		<td>
			<div class="thumbnail">
				<%= image_tag "intro_panel_R_v1-5.png" %>
				<p class="thumbnail-header-text">Pick the best quote</p>
			</div>
		</td>
	</tr>
</table>
<div>
	<%= link_to "It's free to use - start today!", signup_path, class: "btn btn-primary", id: "button-start-today"  %>
	</div>
<div>
	<div id="div-supplier-join">
		<%= mail_to "partreach@gmail.com", "Are you a supplier? Join for free!", encode: "javascript", target: "_blank", subject: "Tell me more about being a PartReach supplier!", body: "I'm interested in more information about what PartReach is like for suppliers." %>
	</div>
</div>
