<div class="content hero">
	<div class="container">
		<% provide(:title, "Comparison shopping for 3D printing") %>
		<hgroup>
			<h1>Comparison shopping for 3D printing.</h1>
			<h2><em>Know your options.</em> Get cheaper parts.</h2>
		</hgroup>
		<%= link_to "Get Started", signup_path, class: "btn btn-hero", id: "button-start-today"  %>
		<%= link_to "Wondering how to get started with 3D printing?", getting_started_path, class: "sec-hero" %>
		<%= mail_to "info@supplybetter.com", "Are you a supplier?", encode: "javascript", class: "sec-hero", target: "_blank", subject: "Tell me more about being a #{brand_name} supplier!", body: "I'm interested in more information about what #{brand_name} is like for suppliers." %>
	</div>
</div>
<div class="content features">
	<div class="container row">
		<ol>
			<li>
				<h3>Fill out a quote request.</h3>
				<%= image_tag "features-request.png" %>
				<p>Give us quantity, a drawing, and the application, and we're ready to start.</p>
			</li>
			<li>
				<h3>We reach out to suppliers.</h3>
				<%= image_tag "features-suppliers.png" %>
				<p>We select the best suppliers based on what you care about, whether that be cost, quality, process, or geography.</p>
			</li>
			<li>
				<h3>You pick the best quote.</h3>
				<%= image_tag "features-quote.png" %>
				<p>Pick the quote that fits your needs best. No obligation to buy.</p>
			</li>
		</ol>
	</div>
</div>
<div class="content cta">
	<div class="container time">
		<h3 class="time-heading pull-left">Spend your time designing, coding, and selling.</h3>
		<p class="span6 pull-right">
			Let us do the hard work of quoting and supplier selection for you, so you can get back to improving your business.
		</p>
		<p class="span6 pull-right">
			<%= link_to "Get started now – for free!", signup_path %>
		</p>
	</div>
	<% if current_user.nil? %>
    <%= form_tag :action => 'create', :controller => 'leads' do %>

      <input type="hidden" name="next_step_field" value="/">
      <div class="clear cta">
        <div class="container updates">
          <h3 class="sign-up">Not ready for a quote? <em>Sign up for updates.</em></h3>
          <%= text_field_tag 'email_field', nil, :placeholder => "example@domain.com", :class => "span9", :id => "email-submit-field" %>
          <%= submit_tag "Stay Updated", :disable_with => "Submitting", :class => "span3", :id => "email-submit-button" %>
        </div>
      </div>

    <% end %>
  <% end %>
</div>
<footer class="footer content">
  <div class="container">
  	<ul class="pull-left nav">
  		<li><%= link_to "Getting started 3D printing", getting_started_path %></li>
  		<li><%= link_to "Material recommendations", materials_path %></li>
  	</ul>
  	<p class="pull-right nav">
  		&copy; 2013 SupplyBetter
  	</p>
  </div>
</footer>
