<% provide(:title,"How to choose the right material") %>

<div class="container">
	<h1 id="materials-header">How do I choose the right material?</h1>

	<div class="span10 offset1">
	
		<p><strong>How to Use This Table:</strong> Depending on your use case, one process (with its given range of materials) may suit your application more than another. In our experience, this table of the four most common 3D printing methods has at least helped us with our initial choices, so treat this as a starting point.</p>

		<p><strong>[Disclaimer]</strong> This table is by no means an exhaustive comparison of materials and processes for 3D printing, but hopefully it provides some useful insight to those looking for guidance. </p>
	</div>
	<div class="span12">
		<table id="materials-table" class="table-center">
			<tr>
				<th>I want...</th>
				<th>Process</th>
				<th>Materials</th>
				<th>Downside(s)</th>	
				<th>Example</th>
			
			</tr>
			<% @data_by_process.each do |h| %>
				<tr>
					<td>
						<ul>
							<% h[:looking_for].each do |bullet| %>
								<li><%= "#{bullet}" %></li>
							<% end %>
						</ul>
					</td>
					<td><p><%= "#{h[:process]}" %></p></td>
					<td><p><%= "#{h[:material]}" %></p></td>
					<td>
						<ul>
							<% h[:downsides].each do |bullet| %>
								<li><%= "#{bullet}" %></li>
							<% end %>
						</ul>
					</td>
					<td>
						<ul>
							<% h[:example].each do |bullet| %>
								<li><%= "#{bullet}" %></li>
							<% end %>
						</ul>
					</td>
				</tr>
			<% end %> 
		</table>

	<div class="span10 offset1">
		<p><strong>Still Feeling Lost?</strong> We can recommend material for you when you chat with us or <strong><%= link_to "request a quote", new_order_path %></strong>.</p>
	</div>
		<h1 class="h1-midpage">Materials Reference</h1>

		<p><strong>In-depth material explanations from various suppliers</strong></p>

		<ul>
			<li><%= link_to "Shapeways", "http://www.shapeways.com/materials", target: "_blank"%></li>
			<li><%= link_to "Ponoko", "http://www.ponoko.com/make-and-sell/materials", target: "_blank"%></li>
			<li><%= link_to "Sculpteo", "http://www.sculpteo.com/en/materials/", target: "_blank"%></li>
			<li><%= link_to "i.materialise", "http://i.materialise.com/materials/compare?materialID=035F4772-DA8A-400B-8BE4-2DD344B28DDB", target: "_blank" %></li>
			<li><%= link_to "RedEye OnDemand", "https://www.redeyeondemand.com/Materials_FDM_Thermoplastics.aspx", target: "_blank"%></li>
			<li><%= link_to "3DProParts", "http://www.3dproparts.com/technologies/3d-printing", target: "_blank"%></li>
			<li><%= link_to "ZoomRP", "https://www.zoomrp.com/products.aspx", target: "_blank"%></li>
			<li><%= link_to "PartSnap", "https://www.partsnap.com/3d-printing/", target: "_blank"%></li>
		</ul>

		<h1 class="h1-midpage">Great! What now?</h1>

		<h3 class="center">Use <%= link_to "#{brand_name}", new_order_path, :class => "h3link"%> to find the best place to print it! <%= link_to "(Sign up here)", new_user_path, :class => "h3link" %></h3>
		<h3 class="center">Get a variety of quotes to save money and get your parts faster.</h3>

		<p class="back_to_home"><%= link_to "Back to home", root_path %></p>
	</div>
</div>
