<% provide(:title,"RFQ framing questions") %>
<% meta_description "Submit a new request for quotes - give us some details about your project, and we'll find the right suppliers." %>

<div class="container">
  <div class="row">
  	<div class="col-sm-10 col-sm-offset-1 main-area-contrast override">

			<%#= get, since passing params to orders_new, without a state change in the database %>
			<%= form_tag new_order_path, method: :get do %>

				<div>
					<p class="page-number fright">Page 1 of 2</p>
					<h1 class="center clear">Help us ask you the right questions.</h1>
					<h3 class="center sub-header-muted space-below">For each topic, which fits this job best?</h3>
				</div>

				<div>
					<table class="equal-column-spacing">
						<tr>
							<% @content.each do |column, values| %>
								<th class="equal-column-cell add-bottom">
									<h4 class="main-header"><%= values[:main_header] %></h4>
								</th>
							<% end %>
						</tr><tr>
							<% @content.each do |column, values| %>
								<td class="equal-column-cell add-bottom">
									<p class="sub-header"><%= values[:sub_header] %></p>
								</td>
							<% end %>			
						</tr><tr>
							<% @content.each do |column, values| %>
								<td class="equal-column-cell">
									<% values[:options].each do |option_name, display_information| %>
										<%= radio_button_tag "questions[#{column}]", option_name, false, class: "#{column} question_radio_button fleft radio", data: {summary: display_information[:summary]} %>
										<%= label_tag "questions[#{column}] ", display_information[:punchy], class: "fleft" %>
										<p class="option-detail clear"><%= display_information[:detail] %></p>
									<% end %>
								</td>
							<% end %>
						</tr>
					</table>
				</div>

				<div class="summary_and_submission bit-of-space">
					<% blanks = "__________" %>
					<%= render partial: "orders/preference_summary", locals: {experience: blanks, priority: blanks, manufacturing: blanks} %>

					<%= submit_tag "Final step", :disable_with => "Submitting...", :id => "create_button", class: "fright" %>
				</div>

			<% end %>
	
		</div>
	</div>
</div>