<% provide(:title,"We're looking for a 3rd cofounder") %>

<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 main-area-contrast override">
      <h3 class="center bit-of-space">Who we are</h3>
      <div>
        <div class="biography fleft">
          <%= image_tag("matt_headshot.png", alt: "Matt's headshot") %>

          <p><strong>Matt Du Pont (CEO, Yale Computer Science '10)</strong><br>Previously: <%= link_to "OkCupid Labs", "http://okcupidlabs.com" %> (Product GM, <%= link_to "Kiss.com", "http://www.kiss.com" %>), <%= link_to "BCG", "http://www.bcg.com" %> (Associate)</p>
        </div>
        <div class="biography fleft">
          <%= image_tag("rob_headshot.jpg", size: "256x247", alt: "Rob's headshot") %>

          <p><strong>Rob Martinez (VP Engineering, Yale Mechanical Engineering '09)</strong><br>Previously: <%= link_to "Anybots", "http://www.anybots.com" %> (Robotics Engineer), <%= link_to "Humble Bundle", "http://www.humblebundle.com" %> (Business Development)</p>
        </div>
        <div class="biography fleft">
          <div class="center">
          <p><strong>See how much better this would look with 3 cofounders?</strong></p>
          </div>
        </div>
      </div>

      <p class="clear">We've known each other for seven years, and have been working on this full-time since February 2013. Both of us had terrible procurement/sourcing experiences, which led to this idea.</p>

      <h3 class="center">What's SupplyBetter?</h3>

      <p><strong>Matchmaking for buyers and factories</strong> - if you're looking to source a custom mechanical part, we want to be the best place to narrow down the thousands of potential suppliers to the few that are the best fit. We've started with 3D printing, have paying customers, and have doubled the value of quotes going through the site a few months in a row.</p>

      <p>Our competitors are powerful, shady, and unpleasant to use (<%= link_to "Alibaba", "http://www.aliababa.com" %> and <%= link_to "MFG", "http://www.mfg.com" %> are the big guys). It's a tough, opaque industry to crack, though the market is huge.</p>

      <h3 class="center">Why we want a third cofounder / CTO</h3>

      <p>I (Matt) can code well enough for now, but am more talented at product/business, and am not qualified to build out an engineering team. As we try to build the web crawlers, fraud detection, and matching system that we'll need to scale, we'd like to have a technical cofounder on board.</p>

      <p>We're bootstrapping until we have enough revenue to raise money at a great valuation, so we want to give out cofounder-level equity, and can't pay a competitive salary. We do have a frequently-used breadmaker, though.</p>

      <p>If you're interested, but need a large salary, drop us a line and we'll let you know when we raise money. </p>

      <p>Current stack includes Rails, Heroku, Postgres, Twilio, SendGrid, and Segment.io. </p>

      <h3 class="center">Interested? </h3>

      <p>Email us! Either first name at supplybetter.com works nicely.</p> 
      <p>We'll have a conversation, and if there's potential fit we can work together for a few days, see how things go, and decide if we want to continue working together on a contract basis for a few weeks. After that, we'll all decide if bringing you in as the third major equity holder seems like a good fit.</p>
    </div>
  </div>
</div>