
<p>
	<% if review.process %> This review is for the "<%= review.process %>" process. <% end %>
	<% if review.part_type %>The client was quoting a "<%= review.part_type %>".<% end %>
	<% if review.would_recommend %>They <strong><%= review.would_recommend ? "would" : "would not" %></strong> recommend working with this supplier again.<% end %>

<% if review.quality or review.adaptability or review.delivery %>
	<p>
		<strong>Ratings (1 low, 5 high) - </strong>
		<%= link_to "What do these mean?", new_review_path %>
	</p>
	<p>
		<% if review.quality %><strong title="How well did the part(s) come out? If there was more than one part produced, how good or bad was the consistency between parts?">Quality:</strong> <%= review.quality %><% end %>
		<% if review.adaptability %><strong title="Was the supplier able to answer your questions in a timely fashion? Were there any issues that had to be worked through, and was the supplier helpful in reaching a solution?">Adaptability:</strong> <%= review.adaptability %><% end %>
		<% if review.delivery %><strong title="Was the order processed and shipped on time? Did the package arrive on time? When you received the package, were the parts packed properly to avoid damage?">Delivery:</strong> <%= review.delivery %><% end %>
	</p>
<% end %>

<% if review.did_well %>
	<p><strong>What did the supplier do well?</strong></p>
	<p>
		<%= review.did_well %>
	</p>
<% end %>
<% if review.did_badly %>
	<p><strong>What did the supplier do badly?</strong></p>
	<p>
		<%= review.did_badly %>
	</p>
<% end %>

<p class="detail-text"><%= "Review created on #{review.created_at.strftime("%B %d, %Y")}." %></p>