<div class="content">
	<div class="container supplier-profile">
		<% if !@allowed %>
			<% provide(:title, "Profile not found") %>
			<p>Profile not found.</p>
		<% else %>
			<% provide(:title, "#{@supplier.name} - Supplier Profile") %>
			<h1 id="supplier-name">
				<%= "#{@supplier.name}" %>
				<%= " (not visible)" unless @supplier.profile_visible %>
				<%= link_to "Link to admin_edit", admin_edit_path(@supplier.name_for_link) if current_user.admin? %>
			</h1>
			<div class="fleft">
				<div>
					<p>
						<%= "Location: #{@supplier.safe_country}" %>
						<%= " - #{@supplier.safe_location_name}" if @supplier.safe_location_name.length > 0 %>					
						<%= ", #{@supplier.safe_state}" if @supplier.safe_state.length > 0 %>
					</p>
					<%= render :partial => "/profiles/tag_display", locals: {tags: @tags, row_end: 4} %>
					<p>
						<% if !@supplier.url_main.nil? %>
							<%= link_to "Webpage", @supplier.url_main %>
						<% else %> 
							Webpage unavailable.
						<% end %>
					</p>
				</div>
				<div>
					<% @supplier.externals.each do |e| %>
						<%= image_tag e.url, class: "supplier-image-box" %>
					<% end %> 
				</div>
			</div>
			<div class="fright">
				<%= link_to "Request Quote", {:controller => "orders", :action => "new", :from_supplier => @supplier.id}, class: "btn btn-hero", id: "button-place-order" %>
				<% if !@supplier.claimed %>
					<p><%= mail_to "claim-profile@supplybetter.com", "Do you work here? Claim your profile!", encode: "javascript", target: "_blank", subject: "Claiming profile for #{@supplier.name}", body: "I'd like to discuss claiming the profile for #{@supplier.name}" %></p>
				<% end %>
				<p><%= mail_to "suggest-edits@supplybetter.com", "Submit corrections or more information", encode: "javascript", target: "_blank", subject: "Suggested profile change for #{@supplier.name}" %></p>
			</div>
			<div class="clear supplier-variable">
				<div class="navbar">
					<div class="navbar-inner options-menu">
						<ul class="nav">
							<li class="active"><%= link_to "Description", "#", :class => "description-toggle" %></li>
							<% if @machines_toggle %><li><%= link_to "Machines", "#", :class => "machines-toggle" %></li><% end %>
							<% if @reviews_toggle %><li><%= link_to "Reviews", "#", :class => "reviews-toggle" %></li><% end %>
							<% if @photos_toggle %><li><%= link_to "Photos", "#", :class => "photos-toggle" %></li><% end %>
						</ul>
					</div>
				</div>
				<div class="supplier-variable-content">
					<div class="panel description-content">
						<% if @supplier.description.nil? %>
							<%= render :partial => "layouts/panel_text", :locals => {:no_yet => "description", :lead_type => "description_requested", :s_id => @supplier.id, :u_id => @user_id} %>
						<% else %>
							<%= simple_format(@supplier.description, :class => "supplier-description") %>
						<% end %>
					</div>
					<% if @machines_toggle %>
						<div class="panel hidden machines-content">
							<% if @supplier.machines.nil? or @supplier.machines == [] %>
								<%= render :partial => "layouts/panel_text", :locals => {:no_yet => "machine data", :lead_type => "machines_requested", :s_id => @supplier.id, :u_id => @user_id} %>
							<% else %>
								<%= render :partial => "profiles/machine_listing", :locals => { :machines_quantity_hash => @machines_quantity_hash } %>
							<% end %>
						</div>
					<% end %>
					<% if @reviews_toggle %><div class="panel hidden reviews-content"><%= render :partial => "layouts/panel_text", :locals => {:no_yet => "reviews", :lead_type => "reviews_requested", :s_id => @supplier.id, :u_id => @user_id} %></div><% end %>
					<% if @photos_toggle %><div class="panel hidden photos-content"><%= render :partial => "layouts/panel_text", :locals => {:no_yet => "photos", :lead_type => "photos_requested", :s_id => @supplier.id, :u_id => @user_id} %></div><% end %>
				</div>
			</div>
		<% end %>
		<div class="back_to_suppliers">
			<%= link_to "Return to supplier index", suppliers_path %>
		</div>
	</div>
</div>