<div class="content">
	<div class="container">
		<% if @supplier.nil? or (!@supplier.profile_visible and (current_user.nil? or !current_user.admin)) %>
			<% provide(:title, "Profile not found") %>
			<p>Profile not found.</p>
		<% else %>
			<% provide(:title, "#{@supplier.name} Profile") %>
			<div>
				<h1><%= "#{@supplier.name}" %></h1>
				<p><%= "#{@supplier.tags.map { |m| m.name }.join(', ')}" %></p>
				<p><%= link_to "Webpage", @supplier.url_main %></p>
			</div>
			<div>
				<%= link_to "Request Quote", new_order_path, class: "btn btn-hero", id: "button-place-order" %>
				<p><%= mail_to "claim_profile@supplybetter.com", "Do you work here? Claim your profile!", encode: "javascript", target: "_blank", subject: "Claiming profile for #{@supplier.name}", body: "I'd like to discuss claiming the profile for #{@supplier.name}" %></p>
			</div>
			<div class="container">
				<div class="navbar">
					<div class="navbar-inner">
						<ul class="nav">
							<li class="active"><%= link_to "Description", "#" %></li>
							<% if @machines_toggle %><li><%= link_to "Machines", "#" %></li><% end %>
							<% if @reviews_toggle %><li><%= link_to "Reviews", "#" %></li><% end %>
							<% if @photos_toggle %><li><%= link_to "Photos", "#" %></li><% end %>
						</ul>
					</div>
				</div>
				<div class="supplier-variable-content">
					<div class="panel hidden description-content">DESCRIPTION</div>
					<% if @machines_toggle %><div class="panel hidden machines-content">MACHINES</div><% end %>
					<% if @reviews_toggle %><div class="panel hidden reviews-content">REVIEWS</div><% end %>
					<% if @photos_toggle %><div class="panel hidden photos-content">PHOTOS</div><% end %>
				</div>
			</div>
		<% end %>
	</div>
</div>