<% provide(:title, "Sign in") %>
<% meta_description "Sign into SupplyBetter to see what quotes you've received" %>

<div class="container hax-body-styling">
  <div class="row">
    <div class="col-md-4">

      <h1>Sign in</h1>

      <%= form_for(:session, url: sessions_path) do |f| %>
        <div>
          <%= f.label :email %>
          <br>
          <%= f.text_field :email, class: "input_field" %>
        </div>
        <br>
        <div>
          <%= f.label :password %>
          <br>
          <%= f.password_field :password %>
          <p><%= link_to "Forgot your password?", new_password_reset_path %></p>
        </div>
        <div>
          <%= f.submit "Sign in", class: "sign-in-button save-button" %>
        </div>
      <% end %>        
      <p>Do you not have an account, but want to learn how SupplyBetter can help you reduce time to market? Reach out to us using the chat box on the lower right of your screen!</p>
    </div>
  </div>
</div>
