<% provide(:title, "Sign in") %>
<% meta_description "Sign into SupplyBetter to see what quotes you've received" %>

<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 main-area-contrast override">

    <h1>Sign in</h1>

    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email, class: "input_field" %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "Sign in", class: "sign-in-button save-button" %>
    <% end %>

    <p class="bit-of-space"><%= link_to "Forgot your password?", new_password_reset_path %></p>

    <p class="bit-of-space">New user? <%= link_to "Sign up now!", signup_path %></p>
    
    <p class="back_to_home"><%= link_to "Back to home", root_path %></p>

    </div>
  </div>
</div>