<% provide(:title, "Tag relationships") %>
<% meta_description "Tag relationships" %>

<div class="row">
  <div class="col-md-4 any-form">
    <%= form_tag tag_relationships_path, method: :post do%>
      <label>Source tag</label>
      <%= render :partial => "tag_relationships/simple_search_box", locals: {search_terms_list: @tag_search_list, return_variable: :source_tag_id} %>
      <label>Relationship</label>
      <%= render :partial => "tag_relationships/simple_search_box", locals: {search_terms_list: @tag_relationship_types_search_list, return_variable: :tag_relationship_type_id} %>
      <label>Related tag</label>
      <%= render :partial => "tag_relationships/simple_search_box", locals: {search_terms_list: @tag_search_list, return_variable: :related_tag_id} %>
      <%= submit_tag "Submit", class: "btn-block save-button", :id => "save_button" %>
    <% end %>
  </div>    
</div>