<div class="container hax-body-styling">
  <div class="row">
    <div class="col-md-8 any-form">

      <h1><%= heading %></h1>

      <%= form_tag(path, method: method) do %>

        <%= hidden_field_tag :provider_id, @provider.id %>
        <%= hidden_field_tag :comment_type, @comment_type %>
        <%= hidden_field_tag :overall_score, @comment.overall_score %>
        <%= hidden_field_tag :quality_score, @comment.quality_score %>
        <%= hidden_field_tag :cost_score, @comment.cost_score %>
        <%= hidden_field_tag :speed_score, @comment.speed_score %>

        <div class="field comment-title">
              <% po = @comment.purchase_order %>
              <% if po %>
                <% po.tags.each do |tag| %>
                  <%= tag.name %>
                <% end %>
                <%= "Quantity: #{po.quantity}" if po.quantity %>
                <%= "Price: #{number_to_currency(po.price)}" if po.price %>
              <% end %>
        </div>

        <div class="field comment-title">
          <%= label_tag :title, "Your comment title (optional)" %><br>
          <%= text_field_tag :title, @comment.title %>
        </div>

        <div class="field">
          <%= label_tag :payload, "Your comment" %><br>
          <%= text_area_tag :payload, @comment.payload, rows: 5 %>
        </div>

        <div class="overall field">
          <%= label_tag :overall_score, "How do you like this supplier overall? (optional)" %><br>
          <span class="star-rating">
            <input type="radio" name="rating_overall" value="1"><i></i>
            <input type="radio" name="rating_overall" value="2"><i></i>
            <input type="radio" name="rating_overall" value="3"><i></i>
            <input type="radio" name="rating_overall" value="4"><i></i>
            <input type="radio" name="rating_overall" value="5"><i></i>
          </span>
          <strong class="choice">Rating not yet selected</strong>
        </div>

        <div class="quality field">
          <%= label_tag :quality_score, "How do you rate this supplier for quality? (optional)" %><br>
          <span class="star-rating">
            <input type="radio" name="rating_quality" value="1"><i></i>
            <input type="radio" name="rating_quality" value="2"><i></i>
            <input type="radio" name="rating_quality" value="3"><i></i>
            <input type="radio" name="rating_quality" value="4"><i></i>
            <input type="radio" name="rating_quality" value="5"><i></i>
          </span>
          <strong class="choice">Rating not yet selected</strong>
        </div>

        <div class="cost field">
          <%= label_tag :cost_score, "How do you rate this supplier for cost? (optional)" %><br>
          <span class="star-rating">
            <input type="radio" name="rating_cost" value="1"><i></i>
            <input type="radio" name="rating_cost" value="2"><i></i>
            <input type="radio" name="rating_cost" value="3"><i></i>
            <input type="radio" name="rating_cost" value="4"><i></i>
            <input type="radio" name="rating_cost" value="5"><i></i>
          </span>
          <strong class="choice">Rating not yet selected</strong>
        </div>

        <div class="speed field">
          <%= label_tag :speed_score, "How do you rate this supplier for speed? (optional)" %><br>
          <span class="star-rating">
            <input type="radio" name="rating_speed" value="1"><i></i>
            <input type="radio" name="rating_speed" value="2"><i></i>
            <input type="radio" name="rating_speed" value="3"><i></i>
            <input type="radio" name="rating_speed" value="4"><i></i>
            <input type="radio" name="rating_speed" value="5"><i></i>
          </span>
          <strong class="choice">Rating not yet selected</strong>
        </div>
   
        <div class="col-md-4">
          <%= submit_tag "Submit", class: "save-button", :id => "save_button" %>
        </div>

      <% end %>

    </div>
  </div>
</div>

<!-- JS TO ALLOW RATINGS TO WORK -->
<script type="text/javascript"> 
  $('.overall :radio').change(
  function(){
    $('.overall .choice').text( this.value + ' stars' );
    $('#overall_score').val( this.value );
  });

  $('.quality :radio').change(
  function(){
    $('.quality .choice').text( this.value + ' stars' );
    $('#quality_score').val( this.value );
  });

  $('.cost :radio').change(
  function(){
    $('.cost .choice').text( this.value + ' stars' );
    $('#cost_score').val( this.value );
  });

  $('.speed :radio').change(
  function(){
    $('.speed .choice').text( this.value + ' stars' );
    $('#speed_score').val( this.value );
  });
</script>