<% provide(:title,"Comment email for comment #{@comment.id}") %>

<div class="container hax-body-styling">
  <div class="row">
    <div class="main-area-contrast override">

      <h2 class="center">Comment #<%= "#{@comment.id}" %></h2>

      <%= link_to "See the comment this email is about", edit_comment_path(@comment) %>

      <h3>To</h3>

      <%= @contact.email if @contact.present? %>

      <h3>Subject</h3>
      <p>
        <% if @message_number == "2" %>
          <%= "Re: " %>
        <% elsif @message_number == "3" %>
          <%= "Re: Follow Up " %>
        <% end %>
        <%= @contact.first_name.present? ? "#{@contact.first_name}" : "[NAME]" %>, how was your <%= @purchase_order.issue_date.present? ? "#{@purchase_order.issue_date.strftime("%m/%d")}" : "[DATE]" %> order with <%= @provider.name %>?
      </p>

      <h3>Email body</h3>

      <p>Hi <%= @contact.first_name.present? ? "#{@contact.first_name}" : "[NAME]" %>,</p>

      <p>How did <%= @comment.provider.name %> do?</p>

      <ul>
        <li><%= link_to "Excellent!", comments_edit_with_status_path(@comment.id,"good") %> - Cost, quality, and speed were all superb</li> 
        <br>
        <li><%= link_to "I had a different experience...", comments_edit_with_status_path(@comment.id,"bad") %></li>
      </ul>

      <p><span>Project:</span> <%= @purchase_order.project_name.present? ? "#{@purchase_order.project_name}" : "[PROJECT NAME]" %></p>
      <p><span>Quantity:</span> <%= @purchase_order.quantity.present? ? "#{@purchase_order.quantity}" : "[QUANTITY]" %> pieces for <%= @purchase_order.quantity.present? ? currencyize(@purchase_order.price,"dollars") : "$[PRICE]" %> total</p>
      <p><span>Description:</span> <%= @purchase_order.description.present? ? "#{@purchase_order.description}" : "[DESCRIPTION]" %> </p>      

      <p>But wait, <%= link_to "I haven't received the parts yet!", comments_later_path(@comment.id) %></p>

      <p>Finally, tell us your feedback – good and bad, we want it all :) Reply to this email or write to <%= mail_to "feedback@supplybetter.com" %>.</p>

    </div>
  </div>
</div>