<h3>Internal analytics links</h3>
<ul>
  <li><%= link_to "Home" , analytics_home_path %></li>
  <li><%= link_to "RFQs" , analytics_rfqs_path %></li>
  <li><%= link_to "Metrics" , analytics_metrics_path %></li>
  <li><%= link_to "Machines", analytics_machines_path %></li>
  <li><%= link_to "Suppliers" , analytics_suppliers_path %></li>
  <li><%= link_to "Leads", leads_path %></li>
  <li><%= link_to "Invoicing Helper", analytics_invoicing_path %></li>
  <li><%= link_to "Emails (stub)" , analytics_emails_path %></li>
  <li><%= link_to "Phone number search (stub)", analytics_phone_path %></li>
  <li><%= link_to "Supplier examinations", setup_examinations_path("supplier") %></li>
  <li><%= link_to "Review examinations", setup_examinations_path("review") %></li>
  <li><%= link_to "Supplier web search result examinations", setup_examinations_path("supplier_search_result") %></li>
  <li><%= link_to "Supplier web search items", web_search_items_path %></li>
</ul>