<table class="order_table">
  <tr>
    <th>Manufacturer</th>
    <th>Name</th>
    <th>ID #</th>
    <th>L</th>
    <th>W</th>
    <th>H</th>
    <th>Z-height</th>
    <th>Materials</th>
    <th>Edit</th>
    <th>Who has it</th>
    <th>External</th>
  </tr>
  <% machines.each do |m| %>
    <tr>
      <td><%= "#{m.manufacturer.name}" %></td>
      <td><%= "#{m.name}" %></td>
      <td><%= "#{m.id}" %></td>
      <td><%= "#{m.bv_length}" %></td>
      <td><%= "#{m.bv_width}" %></td>
      <td><%= "#{m.bv_height}" %></td>
      <td><%= "#{m.z_height}" %></td>
      <td><%= "#{m.materials_possible}" %></td>
      <td><%= link_to "Edit", edit_machine_path(m) %></td>
      <td><%= link_to "See suppliers", suppliers_with_machine_path(m.id) %></td>
      <td><%= link_to "External link", m.external.url if m.external and m.external.url.present? %></td>
    </tr>
  <% end %>
</table>