<% provide(:title, "Analytics home") %>

<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 main-area-contrast override">

      <h1>Analytics</h1>

      <h3>Useful external links</h1>
      <ul>
        <li><%= link_to "Custom procurement projects (Google doc)", "https://docs.google.com/spreadsheet/ccc?key=0AgdQAen2AjmDdDU1cDAwUVJPTno4cXBpdEF1RVBrbUE#gid=5" %></li>
        <li><%= link_to "Key Metrics (Google doc)", "https://docs.google.com/spreadsheet/ccc?key=0AlHCAOwihqqwdGhiNWRrMHp4bU9QVUZmYkZxdmpmcnc#gid=0" %></li>
        <li><%= link_to "Google Analytics", "http://www.google.com/analytics/" %></li>
        <li><%= link_to "Webmaster Tools (MDP only, need to migrate account)", "https://www.google.com/webmasters/tools/home?hl=en" %></li>
      </ul>

      <%= render 'analytics/links' %>

    </div>
  </div>
</div>