<% provide(:title, "RFQ status") %>

Pending fields:  valid (not us, not duplicate?, 3dp)? when placed? conf email sent? quotes requested? returned quotes? paid bids? resulted in business?

<table>
	<tr>
		<th>ID</th>
		<th>User email</th>
		<th>Total suppliers</th>
		<th>Finished?</th>
	</tr>
	<% @orders.each do |o| %>
	<tr>
		<td><%= link_to o.id, order_path(o.id) %></td>
		<td><%= User.find(o.user_id).email if o.user_id %></td>
		<td><%= o.dialogues.count %></td>
		<td><%= o.finished? %></td>
	</tr>
	<% end %>
</table>

<%= render 'layouts/analytics_links' %>