<%= form_for(@dialogue) do |f| %>
  <% if @dialogue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dialogue.errors.count, "error") %> prohibited this dialogue from being saved:</h2>

      <ul>
      <% @dialogue.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :initial_select %><br />
    <%= f.check_box :initial_select %>
  </div>
  <div class="field">
    <%= f.label :opener_sent %><br />
    <%= f.check_box :opener_sent %>
  </div>
  <div class="field">
    <%= f.label :response_received %><br />
    <%= f.check_box :response_received %>
  </div>
  <div class="field">
    <%= f.label :order_id %><br />
    <%= f.text_field :order_id %>
  </div>  
  <div class="field">
    <%= f.label :supplier_id %><br />
    <%= f.text_field :supplier_id %>
  </div>  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
