<% provide(:title, "Initial email suggestion") %>

<div class="container">
  <div class="row">
  	<div class="col-sm-10 col-sm-offset-1 main-area-contrast override">

  		<p><%= link_to "Back to manipulate dialogues for this order", manipulate_path(@order) %></p>

  		<p>Name of RFQ contact: <strong><%= "#{@dialogue.supplier.rfq_contact.name}" %></strong></p>

  		<p>-----BEGIN COPYABLE TEXT-----</p>

  		<p>SUBJECT: <%= "SupplyBetter RFQ ##{@order.id}1 for #{Supplier.find(@dialogue.supplier_id).name}" %></p>

  		<p>Hi there,</p>

			<p>There is a SupplyBetter customer who has submitted an RFQ for the following project. If you are interested, please return a quote with the following:</p>

			<h3>What We Need</h3>
			<br>

			<p><strong>Process Cost:</strong></p>

			<p><strong>Total Cost</strong> (including any shipping and taxes):</p>

			<h3>Project Details</h3>
			<br>

			<p><strong><%= "#{@dialogue.order_group.name}" %></strong></p>	
			<ul>
				<% @order_group.parts.each do |part| %>
					<li>
						<%= "#{part.name}, quantity #{part.quantity}" %>
						<% external = part.external %>
						<span>(<%= link_to "Link to drawing", external.url %>, drawing units: <%= "#{external.units})" if external %>
					</li>
				<% end %>
			</ul>

			<% if @order.deadline.present? %>
				<p><strong>Deadline:</strong> <%= "#{@order.deadline}" %></p>
			<% end %>

			<p><strong>Process Requested:</strong> <%= "#{@order_group.process}" %></p>

			<p><strong>Infill:</strong> [SOMETHING ROB SELECTS/INPUTS, NOT IMPLEMENTED]</p>

			<p><strong>Material:</strong> <%= "#{@order.material_message}" %></p>

			<p><strong>Shipping Zipcode:</strong> [ZIPCODE, NOT IMPLEMENTED]</p>

			<% if @order.supplier_message.present? %>
				<p><strong>Note from Client:</strong> <%= "#{@order.supplier_message}" %></p>
			<% end %>

			<p>As always, feel free to let me know if you have any questions, and thank you for looking into this project.</p>

			<p>-----END COPYABLE TEXT-----</p>

			<%= link_to "Back to manipulate dialogues for this order", manipulate_path(@order) %>

  	</div>
  </div>
</div>