<% provide(:title, "New dialogue") %>

<%= form_tag :action => 'create', :controller => 'dialogues' do %>

	<div>
		<%= text_field_tag 'order_id_field', params[:id], placeholder: "Order #" %>
	</div>

	<div>
		<p>Assume without tags: existence unconfirmed, no contact, no quotes, manual quoting</p>
	</div>

	<div>
		<%= radio_button_tag "form_use", "add_dialogues", false, :class => "fleft", :id => "add-dialogues-radio" %>
		<%= label_tag "form_use", "Add dialogues", :class => "fleft" %>
		<%= radio_button_tag "form_use", "add_tag", true, :class => "fleft", :id => "add-tags-radio" %>	
		<%= label_tag "form_use", "Add tags", :class => "fleft" %>
		<%= radio_button_tag "form_use", "remove_tag", false, :class => "fleft", :id => "remove-tags-radio" %>	
		<%= label_tag "form_use", "Remove tags (doesn't work on country/state)", :class => "fleft" %>
	</div>

	<div class="clear">
		<%= link_to "Select all visible suppliers", "#", :class => "btn", :id => "all-suppliers" %>
	</div>

	<%= link_to "Add new supplier", new_supplier_path %>

	<div>
		<% first_time = true %>
		<% counter = 0 %>
		<% supplier_columns = 0 %>
		<% tag_columns = 6 %>

		<table id="tag_matrix">
			<% @family_names_and_tags.keys.each do |k| %>
				<% counter = 0 %>
				<tr>
					<td><strong><%= "#{k}" %><strong></td>
					<% @family_names_and_tags[k].each do |t| %>
						<% if counter >= tag_columns %>
							</tr><tr>
							<% counter = 0 %>
						<% end %>
						<td><%= check_box_tag "tag_selection[]", t.id, false, class: "fleft", id: "#{t.name}" %>
						<p><%= "#{t.name}" %></p></td>
						<% counter += 1 %>
					<% end %>
				</tr>
			<% end %>
			<% counter = 0 %>
			<tr>
				<td><strong><%= "Country" %><strong></td>
				<% ["no-country"].concat(Address.all_countries).each do |c| %>
					<% if counter >= tag_columns %>
						</tr><tr>
						<% counter = 0 %>
					<% end %>
					<td><%= check_box_tag "country_selection[]", c, false, class: "fleft", id: "#{c}" %>
					<p><%= "#{c}" %></p></td>
					<% counter += 1 %>			
				<% end %>
			</tr>
			<tr>
				<td><strong><%= "State (2L: xx)" %><strong></td>
				<td><%= text_field_tag 'state', nil %></td>
			</tr>
			<tr>
				<td><strong><%= "Postal code" %><strong></td>
				<td><%= text_field_tag 'zip', nil %></td>
			</tr>
		</table>

		<% counter = 0 %>
		<table id="supplier_matrix"> 
			<tr><td>
			<% @suppliers.each do |s| %>

				<% tag_names = [] %>
				<% s.tags.each do |t| %>
					<% tag_names << t.name %>
				<% end %>

				<%= check_box_tag "supplier_selection[]", s.id, false, class: "fleft supplier-checkbox #{tag_names.join(" ")} #{s.safe_country}" %>
				<% if s.url_main.nil? %>
					<%= "#{s.name}" %>
				<% else %>
					<%= link_to s.name, s.url_main %>
				<% end %>
				<%= " [#{tag_names.join(',')}] <#{s.safe_country}:#{s.safe_state}:#{s.safe_zip}>" %>

				<% if counter >= supplier_columns %>
					</td></tr><tr><td>
					<% counter = 0 %>
				<% else %>
					</td><td>
					<% counter += 1 %>
				<% end %>
			<% end %>

		</td></tr></table>

		<%= submit_tag "Create dialogue", :disable_with => "Saving..." %>
	</div>

<% end %>
