<% provide(:title, "New dialogue") %>

<%= form_tag :action => 'create', :controller => 'dialogues' do %>

	<%= text_field_tag 'order_id_field', params[:id], placeholder: "Order #" %>

	<% first_time = true %>
	<% counter = 0 %>
	<% columns = 3 %>

	<table id="supplier_matrix"> 
		<tr><td>
		<% @suppliers.each do |s| %>

			<%= check_box_tag "supplier_selection[]", s.id, false, class: "fleft" %>
			<% tag_names = [] %>
			<% s.tags.each do |t| %>
				<% tag_names << t.name %>
			<% end %>
			<%= label_tag "#{s.name} [#{tag_names.join(",")}]" %>

			<% if counter >= columns %>
				</td></tr><tr><td>
				<% counter = 0 %>
			<% else %>
				</td><td>
				<% counter += 1 %>
			<% end %>
		<% end %>

	</td></tr></table>

	<%= submit_tag "Create dialogue", :disable_with => "Saving..." %>

<% end %>