<% provide(:title, "New dialogue") %>

<%= form_tag :action => 'create', :controller => 'dialogues' do %>

	<div>
		<%= text_field_tag 'order_id_field', params[:id], placeholder: "Order #" %>
	</div>

	<div>
		<%= radio_button_tag "form_use", "add_dialogues", true, :class => "fleft", :id => "add-dialogues-radio" %>
		<%= label_tag "form_use", "Add dialogues", :class => "fleft" %>
		<%= radio_button_tag "form_use", "add_tags", false, :class => "fleft", :id => "add-tags-radio" %>	
		<%= label_tag "form_use", "Add tags", :class => "fleft" %>
		<%= radio_button_tag "form_use", "remove_tags", false, :class => "fleft", :id => "remove-tags-radio" %>	
		<%= label_tag "form_use", "Remove tags", :class => "fleft" %>
	</div>

	<div class="clear">
		<%= link_to "Select all suppliers", "#", :class => "btn", :id => "all-suppliers" %>
		<%#= button_to_function "button function", "SetAllCheckBoxes()", :class => "btn" %>
	<div>
		<% first_time = true %>
		<% counter = 0 %>
		<% supplier_columns = 3 %>
		<% tag_columns = 6 %>

		<table id="tag_matrix">
			<% @family_names_and_tags.keys.each do |k| %>
				<tr>
					<td><strong><%= "#{k}" %><strong></td>
					<% @family_names_and_tags[k].each do |t| %>
						<td><%= check_box_tag "tag_selection[]", t.id, false, class: "fleft", id: "#{t.name}" %>
						<p><%= "#{t.name}" %></p></td>
					<% end %>
				</tr>
			<% end %>
				<tr>
					<td><strong><%= "Country (don't add)" %><strong></td>
					<% ["no-country"].concat(Address.all_countries).each do |c| %>
						<td><%= check_box_tag "tag_selection[]", c, false, class: "fleft", id: "#{c}" %>
						<p><%= "#{c}" %></p></td>
					<% end %>
				</tr>
		</table>

		<% counter = 0 %>
		<table id="supplier_matrix"> 
			<tr><td>
			<% @suppliers.each do |s| %>

				<% tag_names = [] %>
				<% s.tags.each do |t| %>
					<% tag_names << t.name %>
				<% end %>

				<%= check_box_tag "supplier_selection[]", s.id, false, class: "fleft supplier-checkbox #{tag_names.join(" ")} #{s.safe_country}" %>
				<% if s.url_main.nil? %>
					<%= "#{s.name}" %>
				<% else %>
					<%= link_to s.name, s.url_main %>
				<% end %>
				<%= " [#{tag_names.join(',')}] <#{s.safe_country}>" %>

				<% if counter >= supplier_columns %>
					</td></tr><tr><td>
					<% counter = 0 %>
				<% else %>
					</td><td>
					<% counter += 1 %>
				<% end %>
			<% end %>

		</td></tr></table>

		<%= submit_tag "Create dialogue", :disable_with => "Saving..." %>
	</div>

<% end %>