<%= form_tag user_path(@user), method: :patch do %>

  <% if @user.errors.any? %>
    <div class="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= label_tag :name %>
  <%= text_field_tag :name, @lead_contact.name %>

  <%= label_tag :email %>
  <%= text_field_tag :email, @lead_contact.email %>

  <%= label_tag :password, "New password, if you'd like to change it" %>
  <%= password_field_tag :password %>

  <%= label_tag :password_confirmation, "New password confirmation" %>
  <%= password_field_tag :password_confirmation %>

  <% if signed_in? %>
    <%= submit_tag "Submit", class: "save-button" %>
    <p id="signin-backlink"><%= link_to 'Back to my profile', root_path %></p>
  <% else %>
    <%= submit_tag "Create my account", class: "btn btn-large btn-primary" %>
    <p class="space-above"><%= link_to 'Already a user? Sign in', signin_path %></p>
    <p class="back_to_home"><%= link_to "Back to home", root_path %></p>
  <% end %>

<% end %>

