<% provide(:title, "My profile") %>

<div class="container">
  <div class="row">
  	<div class="col-sm-10 col-sm-offset-1 main-area-contrast override">
  	
			<p id="notice"><%= notice %></p>

			<p>
			  <b>Name:</b>
			  <%= @user.name %>
			</p>

			<p>
			  <b>Email:</b>
			  <%= @user.email %>
			</p>

			<div class="bit-of-space">
				<%= link_to 'Edit account or change password', edit_user_path(@user) %> |
				<%= mail_to "info@supplybetter.com", "Remove my account", encode: "javascript", target: "_blank", subject: "Please remove my account within 48 hours", body: "Please remove my account. I signed up using the email address: _______"	%> | 
				<%= link_to 'Back to my orders', orders_path %>
			</div>

		</div>
	</div>
</div>