<h1>Supplier web search items</h1>

<table>
  <thead>
    <tr>
      <th>Query terms</th>
      <th># requested</th>
      <th>Priority</th>
      <th>Create date</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @web_search_items.each do |web_search_item| %>
      <tr>
        <td><%= web_search_item.query %></td>
        <td><%= web_search_item.num_requested %></td>
        <td><%= web_search_item.priority %></td>
        <td><%= web_search_item.created_at.to_s(:db) %></td>
        <td><%= link_to 'Edit', edit_web_search_item_path(web_search_item) %></td>
        <td><%= link_to 'Delete', web_search_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div>
<%= link_to 'Add new supplier web search item', new_web_search_item_path %>
</div>

<br>

<div>
<%= form_tag({action: :upload}, multipart: true) do %>
  <%= label_tag :file, "Upload list of supplier web search items:" %>
  <%= file_field_tag :file %>
  <br>
  <%= label_tag :priority %>
  <%= number_field_tag :priority %>
  <br>
  <%= label_tag :num_requested %> (max. 100)
  <%= text_field_tag :num_requested %>
  <br>
  <%= submit_tag "Add items" %>
<% end %>
</div>

