<% provide(:title, "Lead edit: #{@lead.lead_contact.full_name}") %>

<div class="container">
  <div class="row">
  	<div class="col-sm-10 col-sm-offset-1 main-area-contrast override">

      <%= render :partial => "communications/new_communication", locals: {c_id: @lead.id, c_type: "Lead", user_id: current_user.id} %>
      <%= render :partial => "communications/display_communications", locals: {communications: @communications} %>

  		<%= form_tag lead_path(@lead.id), method: :patch do %>

        <% @text_field_setup.each do |model_name,symbols| %>
          <% @model = instance_variable_get(model_name) %>
          <% symbols.each do |symbol| %>
      			<div class="field">
    			    <%= label_tag symbol %>
    			    <%= text_field_tag symbol, @model.send(symbol) %>
    			  </div>
    			 <% end %>
        <% end %>

    		<div class="field">
  			  <%= label_tag :next_contact_date %>
  			  <%= date_field_tag :next_contact_date, @lead.next_contact_date %>
  			</div>

  			<div class="field">
			    <%= label_tag :notes %>
			    <%= text_area_tag :notes, @lead_contact.notes %>
			  </div>

        <%= submit_tag "Save changes", class: "save-button" %>

  		<% end %>			 

  	</div>
  </div>
</div>