<% provide(:title, "Lead edit: #{@lead.lead_contact.full_name_untrusted}") %>

<div class="container">
  <div class="row">
  	<div class="col-sm-10 col-sm-offset-1 main-area-contrast override">

      <%= link_to "Back to leads", leads_path %>

      <%= render :partial => "communications/new_communication", locals: {c_id: @lead.id, c_type: "Lead", user_id: current_user.id} %>
      <%= render :partial => "communications/display_communications", locals: {communications: @communications} %>

      <% if @user %>
        <h3>Lead is linked to site user</h3>
        <p><%= "Name: #{@user.name}" %></p>
        <p><%= "Email: #{@user.email}" %></p>
        <p><%= "Phone: #{@user.phone}" %></p>
        <p><%= @user.supplier_id.present? ? "Attached to #{Supplier.find(@user.supplier_id).name}" : "Not attached to supplier" %></p>
        <p>Orders:</p>
        <ul>
          <% @user.orders.each do |order| %>
            <li><%= link_to "#{order.id}" %><%= ": #{order.status}" %></li>
          <% end %>
        </ul>
      <% else %>
        <h3>Lead is not linked to site user</h3>
      <% end %>

  		<%= form_tag lead_path(@lead.id), method: :patch do %>

        <% @text_field_setup.each do |model_name,symbols| %>
          <% @model = instance_variable_get(model_name) %>
          <% symbols.each do |symbol| %>
      			<div class="field">
    			    <%= label_tag symbol %>
    			    <%= text_field_tag symbol, @model.send(symbol) %>
    			  </div>
    			 <% end %>
        <% end %>

    		<div class="field">
  			  <%= label_tag :next_contact_date %>
  			  <%= date_field_tag :next_contact_date, @lead.next_contact_date %>
  			</div>

  			<div class="field">
			    <%= label_tag :notes %>
			    <%= text_area_tag :notes, @lead_contact.notes %>
			  </div>

        <div>
          <% ["1) High","2) Medium","3) Low"].each do |priority_text| %>
            <%= radio_button_tag "priority", "#{priority_text}", @lead.priority == priority_text, :class => "fleft radio", :id => "add-dialogues-radio" %>
            <%= label_tag "priority", "#{priority_text}", :class => "fleft" %>
          <% end %>
        </div>

        <div class="clear">
          <%= submit_tag "Save changes", class: "save-button" %>
        </div>

  		<% end %>			 

      <%= link_to "Back to leads", leads_path %>

  	</div>
  </div>
</div>