<% provide(:title, "Lead edit: #{@lead.lead_contact.full_name_untrusted}") %>

<div class="container">
  <div class="row">
  	<div class="col-sm-10 col-sm-offset-1 main-area-contrast override">

      <%= link_to "Back to leads", leads_path %>
      <%= link_to "Create new lead", new_lead_path %>

      <%= render :partial => "communications/new_communication", locals: {c_id: @lead.id, c_type: "Lead", user_id: current_user.id} %>
      <%= render :partial => "communications/display_communications", locals: {communications: @communications} %>

      <% if @user %>
        <h3>Lead is linked to site user, ID <%= "#{@user.id}" %></h3>
        <p><%= "Name: #{@lead_contact.name}" %></p>
        <p><%= "Email: #{@lead_contact.email}" %></p>
        <p><%= "Phone: #{@lead_contact.phone}" %></p>
        <p><%= @user.supplier_id.present? ? "Attached to #{Supplier.find(@user.supplier_id).name}" : "Not attached to supplier" %></p>
        <p>Orders:</p>
        <ul>
          <% @user.orders.each do |order| %>
            <li><%= link_to "#{order.id}", order_path(order) %><%= " (#{order.created_at.to_date}) #{order.status}" %></li>
            <% dialogues = order.dialogues %>
            <% partition = {} %>
            <% partition[:won] = dialogues.select{|d| d.won} %>
            <% partition[:placed_bid] = dialogues.select{|d| d.response_received and d.total_cost and d.total_cost > 0} %>
            <% partition[:no_response_or_refused] = dialogues.reject{|d| partition[:won].include?(d) or partition[:placed_bid].include?(d)} %>
            <ul>
              <% partition.each do |title, ds| %>
                <% if ds.present? %>
                  <li><%= "#{title}" %></li>
                  <ul>
                    <% ds.each do |dialogue| %>
                      <li><%= link_to "#{dialogue.supplier.name}", admin_edit_path(dialogue.supplier.name_for_link) %></li>
                    <% end %>
                  </ul>
                <% end %>
              <% end %>
            </ul>
          <% end %>
        </ul>
      <% else %>
        <h3>Lead is not linked to site user</h3>
      <% end %>

  		<%= form_tag lead_path(@lead.id), method: :patch do %>

        <%= render partial: "leads/lead_form_content", locals: {lead: @lead, lead_contact: @lead_contact, text_field_setup: @text_field_setup} %>

  		<% end %>			 

      <%= link_to "Back to leads", leads_path %>

  	</div>
  </div>
</div>