<% provide(:title, "Leads index") %>

<div class="container">
  <div class="row">
  	<div class="col-sm-10 col-sm-offset-1 main-area-contrast override">
  		<table class="order_table">
  			<tr>
	  			<th>ID</th>
					<th>Name</th>
					<th>Company</th>
					<th>Priority</th>
					<th>Next Date</th>
					<th>Next Content</th>
					<th>Edit</th>
					<th>User?</th>
					<th>Orders</th>
					<th>Email?</th>
					<th>Phone?</th>	
					<th>LI?</th>				
				</tr>
  			<% @leads.each do |lead| %>
  				<% lc = lead.lead_contact %>
  				<tr>
						<td><%= "#{lead.id}" %></td>
						<td><%= "#{lc.full_name_untrusted}" %></td>
						<td><%= "#{lc.company}" %></td>
						<td><%= "#{lead.priority}" %></td>
						<td><%= "#{lead.next_contact_date}" %></td>
						<td><%= "#{lead.next_contact_content}" %></td>
						<td><%= link_to "View/edit", edit_lead_path(lead) %></td>
						<td><%= "#{lead.user_id.present?}" %></td>
						<td><%= lead.user.present? ? "#{lead.user.orders.count}" : "0" %>
						<td><%= "#{lc.email.present?}" %></td>
						<td><%= "#{lc.phone.present?}" %></td>
						<td><%= "#{lc.linkedin_url.present?}" %></td>
					</tr>
				<% end %>
			</table>
			<%= link_to "Analytics homepage", analytics_home_path %>
  	</div>
  </div>
 </div>

