  <div class="row">
    <div class="span6 offset3">

      <h3>The basics</h3>

      <p>Attach drawing (<64 MB) here:</p>
      <%= raw s3_swf_upload_tag( :onUploadingFinish => "alert('File upload complete.');", :onQueueEmpty => "alert('Please select a file first.');") %>
      <input type="submit" value="Upload file" onclick="s3_swf_1_object.startUploading();" />

      <%= form_tag '/orders', method: :post, multipart: true do %>

      <% if @order.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>
          <ul>
            <% @order.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= label_tag 'quantity_field', 'How many of that do you want produced?' %>
      <%= text_field_tag 'quantity_field', nil, :placeholder => 'Enter quantity here' %>

      <%= label_tag :deadline, 'What\'s the last day you\'ll accept new quotes? (optional)' %>
      <div class "date_select_fields">
        <%= select_month Date.today.month, prefix: :deadline %>
        <%= select_day Date.today.day, prefix: :deadline %>
        <%= select_year Date.today.year, prefix: :deadline, start_year: Date.today.year, end_year: Date.today.year + 3 %>
      </div>

      <h3>Supplier selection</h3>

      <% for supplier in @suppliers %>
        <div class="new_supplier_listing">
          <%= check_box_tag "supplier_list[]", supplier.id, true, class: "new_supplier_checkbox" %>
          <%= label_tag "supplier_list[]", supplier.name, class: "new_supplier_label" %>
          <%= link_to "Supplier website", supplier.url_main, class: "new_supplier_website" %> 
          <%= link_to "Supplier materials", supplier.url_materials, class: "new_supplier_website" %>
          <p class="new_supplier_blurb"><%= "#{supplier.blurb}" %></p>
        </div>
      <% end %>

      <p id="missing_supplier">Are we missing a supplier that you want added? <%= mail_to "partreach@gmail.com", "Let us know!", encode: "javascript", target: "_blank", subject: "Suggestion to add a PartReach supplier", body: "Hi! My username is '#{current_user.name}'. I have a suggestion to add a supplier:" %></p>
      
      <h3>Final notes</h3>  

      <%= label_tag 'text_field_tag', 'What message do you want sent to suppliers?' %>
      <%= text_area_tag 'supplier_message_field', nil, :rows => 4, :placeholder => "If you have materials in mind or time constraints, let suppliers know (optional)" %>

      <%= label_tag 'name_field', 'What do you want to call this order?' %>
      <%= text_field_tag 'name_field', nil, :placeholder => "(Naming optional)" %>

      <%= submit_tag "Create order", :disable_with => "Creating...", :id => "create_button" %>

      <p><%= link_to 'Back to orders', orders_path %></p>

    </div>
  </div>

<% end %>