<%= form_tag '/orders', method: :post, multipart: true do %>
  
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= text_field_tag 'name_field' %>
    <%= label_tag 'name_field', 'What\'s your internal name for this order (optional)?' %>
  </div>

  <div>
    <%= text_field_tag 'quantity_field', nil, :placeholder => 'Enter quantity here' %>
    <%= label_tag 'quantity_field', 'How many do you want?' %>
  </div>

  <div>
    <%= file_field_tag :drawing %>
    <%= label_tag :drawing, 'Attach drawing here' %>
  </div>

  <div>
    <%= select_date Date.today, :prefix => :deadline %>
    <%= label_tag :deadline, 'What\'s the last day you\'ll accept new quotes? (optional)' %>
  </div>

  <div>
    <% for supplier in @suppliers %>
      <div>
        <%= check_box_tag "supplier_list[]", supplier.id, true %>
        <%= label_tag "supplier_list[]", supplier.name %>
        <p><%= "#{supplier.blurb}" %></p>
        <%= link_to "Supplier website", supplier.url_main %>
        <%= link_to "Supplier materials", supplier.url_materials %>
      </div>
    <% end %>
  </div>

  <div>
    <%= text_area_tag 'supplier_message_field', nil, :rows => 4 %>
    <%= label_tag 'text_field_tag', 'What message do you want sent to suppliers? (optional)' %>
  </div>

  <%= submit_tag "Create order", :disable_with => "Creating..." %>

<% end %>