  <div class="row">
    <div class="span6 offset3">

      <div id="new-order-errors" class="error_explanation">
        <h2><i></i> error(s) prohibited this order from being saved:</h2>
        <ul></ul>
      </div>

      <h3>The basics</h3>

      <p>Upload drawing (max size: 64 MB)</p>
        
      <form id='direct-upload' action="https://partreach_initial_bucket.s3.amazonaws.com" method="post" enctype="multipart/form-data">
        <input type='hidden' name='key' />
        <input type='hidden' name='AWSAccessKeyId' value='AKIAIUO3BIWNATMYNELQ' />
        <input type='hidden' name='acl' value='public-read' />
        <input type='hidden' name='policy' />
        <input type='hidden' name='signature' />
        <input type='hidden' name='success_action_status' value='201' />
        <input type='file' name='file' />
        <div class='progress progress-striped active'>
          <div class='bar'></div>
        </div>
        <div id="direct-upload-success">
          Upload succeeded.
        </div>
        <div id="direct-upload-failure">
          Upload failed.
        </div>
      </form>

      <%= form_tag '/orders.json', id: 'new-order', method: :post, 'data-remote' => true do %>
      
        <input type="hidden" name="file" value="" id="direct-upload-file">

        <%= label_tag 'quantity_field', 'Quantity' %>
        <%= text_field_tag 'quantity_field', nil, :placeholder => 'Enter quantity here' %>

        <%= label_tag 'material_message_field', 'Material' %>
        <%= text_area_tag 'material_message_field', nil, :rows => 3, :placeholder => '(ex: ABS, stainless steel, white durable nylon, UV curable resin, etc. If you\'re not sure, we can help you decide.)' %>

        <%= label_tag 'zip_field', 'Zip Code' %>
        <%= text_field_tag 'zip_field', nil, :placeholder => '(Required, for shipping estimates)' %>

        <h3>Any particular suppliers we should quote for you?</h3>

        <p>We choose suppliers that fit your needs, based on quality, reliability, and speed.</p>

        <div>
            <%= text_area_tag 'suggested_suppliers_field', nil, :rows => 3, :placeholder => "Don't worry if you don't have suggestions, we can choose for you." %>
            <p class="italics"> For example, for a US West Coast prototype SLS plastic part, we'd quote: Shapeways, Ponoko, Sculpteo, i.materialise, ZoomRP, RedEye, and 3dproparts </p>
        </div>
      
        <% if current_user.nil? %>
          <div class="two-signins">
            <div class="signin-width fleft margin-right">
              <h3>Create account</h3>
              <%= label_tag 'user_name_field', 'Name' %>
              <%= text_field_tag 'user_name_field', nil, placeholder: 'Enter name here' %>
              <%= label_tag 'user_email_field', 'Email' %>
              <%= text_field_tag 'user_email_field', nil, placeholder: 'Enter email address here' %>
              <%= label_tag 'user_password_field', 'Choose password' %>
              <%= password_field_tag 'user_password_field', nil, placeholder: 'Enter password here' %>
            </div>
            <div class="signin-width fleft">
              <h3>Sign back in</h3>
              <%= label_tag 'signin_email_field', 'Email' %>
              <%= text_field_tag 'signin_email_field', nil, placeholder: 'Enter name here' %>
              <%= label_tag 'signin_password_field', 'Password' %>
              <%= password_field_tag 'signin_password_field', nil, placeholder: 'Enter password here' %>
            </div>
        <% end %>

        <div class="final-notes clear">
          <h3>Final notes</h3>  
          <%= label_tag 'text_field_tag', 'What message do you want sent to suppliers?' %>
          <%= text_area_tag 'supplier_message_field', nil, :rows => 3, :placeholder => "If you have time constraints, tolerance instructions, etc., let suppliers know (optional)" %>

          <%= label_tag 'name_field', 'What do you want to call this order?' %>
          <%= text_field_tag 'name_field', nil, :placeholder => "(optional)" %>
        </div>

        <%= submit_tag "Create order", :disable_with => "Creating...", :id => "create_button" %>

        <p><%= link_to 'Back to orders', orders_path %></p>
      
      <% end %>

    </div>
  </div>
