<div class="new-order">
<% if @order.errors.any? %>
  <div class="error_explanation">
    <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>
    <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

  <div class="questions__instructions">
    <h2 class="inline">Step 2 of 2:</h2>
    <h2 class="inline">Tell us about your order.</h2>
  </div>

  <h2 class="main-header">Upload your files (CAD drawings, parts list, etc.)</h2>
  <%= s3_uploader_form  id: "s3-uploader", class: "s3-uploader",
                        max_file_size: 300.megabytes,
                        key_starts_with: "externals/",
                        key: "externals/#{@approximate_next_order_id}-#{SecureRandom.hex}/${filename}" do %>
                          <%= file_field_tag :file, multiple: true %>
                        <% end %>
  <script id="template-upload" type="text/x-tmpl">
    <div id="file-{%=o.unique_id%}" class="upload">
      <div class="filename">{%=o.name%}</div>
      <div class="progress"><div class="bar" style="width: 0%"></div></div>
    </div>
  </script>
  <p class="step-desc">
    Maximum 300Mb each, all file types accepted.
    <br>
    <input id="parts_list_checkbox" type="checkbox">
    Check here if uploading a parts list (CSV. spreadsheet, or text format), to skip entering individual parts below.
  </p>
  <div>
    <h3 class="step-header uploaded-file-header">Uploaded files:</h3>
    <ul id='uploaded_file_list'>
      <% if @order_uploads %>
        <% @order_uploads.each do |upload| %>
          <li><%= upload["original_filename"] %></li>
        <% end %>
      <% else %>
        <li id="uploaded-file-placeholder" class="step-desc">No files uploaded yet.</li>
      <% end %>
    </ul>
  </div>

  <%= nested_form_for(@order, html: {id: 'new-order'}) do |order_form| %>
    <div id='order_uploads'>
      <% if @order_uploads %>
        <% @order_uploads.each do |upload| %>
          <%= hidden_field_tag 'order_uploads[][url]', upload["url"] %>
          <%= hidden_field_tag 'order_uploads[][original_filename]', upload["original_filename"] %>
        <% end %>
      <% end %>
    </div>
    <%= hidden_field_tag "files_uploaded", @files_uploaded %>
    <%= hidden_field_tag "parts_list_uploaded", @parts_list_uploaded %>
    <%= order_form.hidden_field :stated_experience, value: @experience %>
    <%= order_form.hidden_field :stated_priority, value: @priority %>
    <%= order_form.hidden_field :stated_manufacturing, value: @manufacturing %>

    <div class="triplets">
      <div class="col">
        <%= order_form.label :units, 'Drawing units (for all parts)' %>
        <%= order_form.text_field :units, placeholder: 'mm./in.', :class => 'right-half' %>
      </div>
    </div>

    <div class="triplets" id="parts-input">
      <div class="col">
        <label>Part name</label>
      </div>
      <div class="col">
        <label>Quantity</label>
      </div>
      <div class="col">
        <label>Material</label>
      </div>
      <%= order_form.fields_for :order_groups do |order_groups_form| %>
        <%= order_groups_form.fields_for :parts do |part_form| %>
          <div class="col">
            <%= part_form.text_field :name %>
          </div>
          <div class="col">
            <%= part_form.number_field :quantity, value: "1", min: "1" %>
          </div>
          <div class="col">
            <%= part_form.text_field :material, placeholder: 'ABS, stainless steel, etc.' %>
          </div>
        <% end %>
        <p><%= order_groups_form.link_to_add 'Add another part', :parts %></p>
      <% end %>
    </div>

    <div class="triplets">
      <div class="col">
        <%= order_form.label :deadline, 'Deadline (date and time)' %>
        <%= order_form.text_field :deadline %>
      </div>
      <div class="col">
      </div>
    </div>

    <div class="triplets">
      <div class="two-col">
        <%= order_form.label :order_description, 'Order description' %>
        <%= order_form.text_area :order_description, :rows => 5, :placeholder => "We are starting the next build iteration for a next-generation spork..." %>
      </div>

      <div class="two-col">
        <%= order_form.label :supplier_message, 'Technical notes' %>
        <%= order_form.text_area :supplier_message, :rows => 5, :placeholder => "If you have time constraints, tolerance instructions, etc., let suppliers know (optional)" %>
      </div>
    </div>

    <% if current_user.nil? %>
      <div class="twins">
        <div class="col order_provide_info">
          <h3>Create an account</h3>
          <a class="sign_in_toggle" href="">Already have an account? Sign in.</a>
          <%= label_tag 'user_name', 'Name' %>
          <%= text_field_tag 'user_name', nil, placeholder: 'Enter name here', class: 'signup-signin-group'  %>

          <%= label_tag 'user_email', 'Email' %>
          <%= text_field_tag 'user_email', nil, placeholder: 'Enter email address here', class: 'signup-signin-group' %>

          <%= label_tag 'user_password', 'Password' %>
          <%= password_field_tag 'user_password', nil, placeholder: 'Enter password', class: 'signup-signin-group' %>

          <%= label_tag 'user_phone', 'Phone number (Phone, Skype, Google+)' %>
          <%= text_field_tag 'user_phone', nil, :placeholder => 'We call with questions on rush jobs.' %>

          <%= label_tag 'zip', 'Postal Code' %>
          <%= text_field_tag 'zip', nil, :placeholder => '(Needed for shipping estimates)' %>
        </div>
        <div class="col order_sign_in hidden">
          <h3>Sign back in</h3>
          <a class="sign_in_toggle" href="">No account? Create one.</a>
          <%= label_tag 'signin_email', 'Email' %>
          <%= text_field_tag 'signin_email', nil, placeholder: 'Enter email address here', class: 'signup-signin-group' %>
          <%= label_tag 'signin_password', 'Password' %>
          <%= password_field_tag 'signin_password', nil, placeholder: 'Enter password here', class: 'signup-signin-group' %>
        </div>
      </div>
    <% end %>

    <div class="triplets">
      <div class="col">
      <%= order_form.submit "Create order", :disable_with => "Creating...", :id => "create_button" %>
        <p class="detail-text">Your email address and order information will be shared with suppliers we select for this RFQ. We will not share your information with any other parties.</p>
      </div>
    </div>

  <% end %>
  <p class="space-above"><%= link_to 'Back to orders', orders_path %></p>
</div>
