<table class="order_table" cellspacing="0">

  <tr class="order_table_header_row">
    <th>Name</th>
    <% @columns.each do |name,details| %>
      <th><%= "#{details[:header]}" %></th>
    <% end %>

    <% unless @using_view_token %>
      <th class="little-field">Selection</th>
    <% end %>
  </tr>

  <% rows.each do |d| %>
    <tr class=<%= color_coding_css_class(d.past_experience) %> >

    <% s = Supplier.find(d.supplier_id) %>
    <td>
    <% if s.profile_visible %>
      <%= link_to "#{s.name}", supplier_profile_path(s.name_for_link) %>
    <% elsif !s.url_main.nil? and s.url_main != "" %>
      <%= link_to "#{s.name}", s.url_main %>
    <% else %>
      <%= s.name %>
    <% end %>
    </td>

    <% @columns.each do |name,details| %>
      <td class=<%= "#{details[:css_class]}" %>><%= eval("#{details[:code]}") %></td>
    <% end %>

    <% unless @using_view_token %>
      <td class="center"><%= link_to "Purchase!", "/orders/purchase/#{@order.id}/#{d.id}" %></td>
    <% end %>

    </tr>
  <% end %>
  
</table>