<h3><%= link_to 'Create a new request for quotes', new_order_path %></h3>

<% if @orders.size > 0 %>
  <table>
    <tr>
      <th>Quote description</th>
      <th>Quantity needed</th>
      <th>Due date</th>
      <th>Bids</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>


  <% @orders.each do |order| %>
    <tr>
      <td><%= order.name %></td>
      <td><%= order.quantity %></td>
      <td>
        <% if not(order.deadline.nil?) %>
          <%= "Due by #{order.deadline.to_s}" %>
        <% end %>
      </td>
      <td>
        <%= "#{pluralize(bids_received(order),'bid')} received" %>
        <%= "#{pluralize(order.dialogues.count, 'supplier')} contacted" %>
      <td><%= link_to 'View order and bids', order %></td>
    </tr>
  <% end %>
  </table>

  <br />

<% else %>
  <p> No orders yet! Make a <%= link_to 'new request for quotes', new_order_path %> now! </p>
<% end %>