<% provide(:title, "My requests for quotes") %>

<div class="row">
  <div class="span6 offset3">
    <% if @orders.size > 0 %>

      <h1 class="order_top_header">My requests for quotes</h1>

      <table class="order_table">
        <tr class="order_table_header_row">
          <th>Order name</th>
          <th>Quantity</th>
          <th>Bid due date</th>
          <th>Status</th>
          <th>Actions</th>
          <th></th>
          <th></th>
        </tr>

      <% @orders.each do |order| %>

        <tr class="order_table_content_row">
          <td><%= order.name %></td>
          <td class="right"><%= order.quantity %></td>
          <td class="center">
            <% if not(order.deadline.nil?) %>
              <%= "Due by #{order.deadline.to_s}" %>
            <% end %>
          </td>
          <td class="center">
            <% if order.is_over_without_winner %>
              <%= "Bidding concluded, no deal." %>
            <% elsif winner(order) %>
              <%= "'#{Supplier.find(winner(order).supplier_id).name}' selected as winner." %>     
            <% else %> 
              <%= "#{pluralize(bids_received(order),'bid')} received, " %>
              <%= "#{pluralize(order.dialogues.count, 'supplier')} contacted" %>
            <% end %>
          </td>
          <td class="center"><%= link_to 'View order and bids', order %></td>
        </tr>
      <% end %>
      </table>

      <div class="center"><%= link_to 'Or create a new RFQ', new_order_path %></div>

    <% else %>
      <p> No orders yet! Make a <%= link_to 'new request for quotes', new_order_path %> now! </p>
    <% end %>
  </div>
</div>