<% provide(:title,"Part manipulation for order #{@order.id}") %>

<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 main-area-contrast override">

      <h1 class="center">View and edit parts for order <%= "#{@order.id}" %></h1>
      <p><%= link_to "Manipulate dialogues", manipulate_path(@order) %> - edit order group names here.</p>
      <p><%= link_to "Order show", order_path(@order) %></p>
      <p><%= link_to "Add an order group", new_order_group_path(order_id: @order.id) %></p>
      <h3>Upload additional files</h3>

  <% order_id = @order.id %>
  <%= s3_uploader_form  id: "s3-uploader", class: "s3-uploader",
                        max_file_size: 300.megabytes,
                        key_starts_with: "externals/",
                        key: "externals/#{order_id}-#{SecureRandom.hex}/${filename}" do %>
                          <%= file_field_tag :file, multiple: true %>
                        <% end %>
  <script id="template-upload" type="text/x-tmpl">
    <div id="file-{%=o.unique_id%}" class="upload">
      <div class="filename">{%=o.name%}</div>
      <div class="progress"><div class="bar" style="width: 0%"></div></div>
    </div>
  </script>
  <div>
    <ul id='uploaded_file_list'>
      <% if @order_uploads %>
        <% @order_uploads.each do |upload| %>
          <li><%= upload["original_filename"] %></li>
        <% end %>
      <% end %>
    </ul>
  </div>

      <%= nested_form_for @order, url: {controller: 'orders', action: 'update_parts', id: @order.id} do |order_form| %>

        <div id='order_uploads'>
          <% if @order_uploads %>
            <% @order_uploads.each do |upload| %>
              <%= hidden_field_tag 'order_uploads[][url]', upload["url"] %>
              <%= hidden_field_tag 'order_uploads[][original_filename]', upload["original_filename"] %>
            <% end %>
          <% end %>
        </div>

        <table>
          <%= order_form.fields_for :order_groups do |order_group_form| %>
            <% order_group = order_group_form.object %>
            <tr>
              <td colspan="7"><h4><%= link_to "#{order_group.name}", edit_order_group_path(order_group) %> <%= "order group" %></h4></td>
            </tr>

            <tr>
              <th>Part Id</th>
              <th>Part Name</th>
              <th>Order Group</th>
              <th>Quantity</th>
              <th>Material</th>
              <th>HTML Snippet (for master email)</th>
              <th>View File</th>
            </tr>

            <%= order_group_form.fields_for :parts do |part_form| %>
              <% part = part_form.object %>
              <tr>
                <td><%= "#{part.id}" %></td>
                <td><%= "#{part.name}" %></td>
                <td><%= part_form.collection_select(:order_group_id, @order.order_groups, :id, :name) %></td>
                <td><%= part_form.number_field :quantity, min: "1" %></td>
                <td><%= part_form.text_field :material %></td>
                <% if (external = part.external) %>
                  <td><%= text_field_tag nil, html_snippet_helper(external.url, @order.id), size: "60", readonly: "readonly" %></td>
                  <td class="center"><%= link_to "@", "#{external.url}", target: "_blank" %></td>
                <% end %>
              </tr>
            <% end %>
          <% end %>
        </table>

        <div class="clear">
          <%= submit_tag "Save changes", :disable_with => "Saving...", :class => "save-button" %>
        </div>
      <% end %> 

    </div>
  </div>
</div>