<% provide(:title,"Part manipulation for order #{@order.id}") %>

<div class="manipulate-parts">

  <h1 class="center">View and edit parts for order <%= "#{@order.id}" %></h1>
  <p><%= link_to "Manipulate dialogues", manipulate_path(@order) %></p>
  <p><%= link_to "Order show", order_path(@order) %></p>
  <p><%= link_to "Add an order group", new_order_group_path(order_id: @order.id) %></p>
  <h3>Upload additional files</h3>

  <% order_id = @order.id %>
  <%= s3_uploader_form  id: "s3-uploader", class: "s3-uploader",
                        max_file_size: 300.megabytes,
                        key_starts_with: "externals/",
                        key: "externals/#{order_id}-#{SecureRandom.hex}/${filename}" do %>
                          <%= file_field_tag :file, multiple: true %>
                        <% end %>
  <script id="template-upload" type="text/x-tmpl">
    <div id="file-{%=o.unique_id%}" class="upload">
      <div class="filename">{%=o.name%}</div>
      <div class="progress"><div class="bar" style="width: 0%"></div></div>
    </div>
  </script>
  <div>
    <h3 class="step-header uploaded-file-header">Uploaded files:</h3>
    <ul id='uploaded_file_list'>
      <% @order.externals.each do |external| %>
        <li><%= external.original_filename %></li>
      <% end %>
    </ul>
  </div>

  <%= nested_form_for @order, url: {controller: 'orders', action: 'update_parts', id: @order.id},
    html: {id: 'manipulate-parts'} do |order_form| %>

    <div id='order_uploads'>
      <% if @order_uploads %>
        <% @order_uploads.each do |upload| %>
          <%= hidden_field_tag 'order_uploads[][url]', upload["url"] %>
          <%= hidden_field_tag 'order_uploads[][original_filename]', upload["original_filename"] %>
        <% end %>
      <% end %>
    </div>

    <%= order_form.fields_for :order_groups do |order_group_form| %>
      <% order_group = order_group_form.object %>

      <h4>Order group: <%= link_to "#{order_group.name}", edit_order_group_path(order_group) %></h4>

      <div class="manipulate-parts-fields">
        <div class="name_field"><label>Part Name</label></div>
        <div class="quantity_field"><label>Quantity</label></div>
        <div class="material_field"><label>Material</label></div>
        <div class="order_group_field"><label>Order Group</label></div>
      </div>

      <%= order_group_form.fields_for :parts do |part_form| %>
        <% part = part_form.object %>
        <div class="manipulate-parts-fields">
          <div class="name_field"><%= part_form.text_field :name %></div>
          <div class="quantity_field"><%= part_form.number_field :quantity, min: "1" %></div>
          <div class="material_field"><%= part_form.text_field :material %></div>
          <div class="order_group_field">
            <%= part_form.collection_select(:order_group_id, @order.order_groups, :id, :name) %>
          </div>
        </div>
      <% end %>

      <div>
        <%= order_group_form.link_to_add 'Add another part', :parts, :model_object => Part.new(quantity: 1) %>
      </div>
    <% end %>

    <div class="triplets">
      <div class="col">
        <%= submit_tag "Save changes", data: { disable_with: 'Saving...' }, :id => "save_button" %>
      </div>
    </div>
  <% end %> 

</div>