<% provide(:title, "Manipulate dialogues") %>

<div class="container">
  <div class="row">
  	<div class="col-sm-10 col-sm-offset-1 main-area-contrast override">

			<h1><%= "Changes to Order \##{@order.id} (User #{User.find(@order.user_id).name})"  %></h1>	

			<%= render "layouts/order_basics" %>

			<p><strong>User email: </strong><%= "#{User.find(@order.user_id).email}" %></p>
			<% if !@order.drawing_file_name.nil? and @order.drawing_file_name != "" %>
				<p><strong>Drawing name: </strong><%= link_to "#{@order.drawing_file_name}", "#{@order.drawing_file_name}" %></p>
			<% end %>

			<p>
				<strong>Stated experience:</strong><%= "#{@order.stated_experience}" %>
				<strong>Stated priority:</strong><%= "#{@order.stated_priority}" %>
				<strong>Stated method:</strong><%= "#{@order.stated_manufacturing}" %>
			</p>

			<p> <%= link_to "Add a dialogue", "/dialogues/new/#{@order.id}" %> | Note: if you want erase an existing numeric field, set it to 0, do not simply delete it.</p>
			<%= link_to "Add new supplier", new_supplier_path %>

			<%= form_tag :action => 'update_dialogues', :controller => 'orders' do %>

				<%= hidden_field_tag "id", @order.id %>

				<%= label_tag "recommendation", "Recommendation" %>
				<%= text_area_tag "recommendation", @order.recommendation %>
				<%= label_tag "next_steps", "Next steps" %>
				<%= text_area_tag "next_steps", @order.next_steps %>
				<%= label_tag "next_action_date", "Next action date" %>
				<%= text_field_tag "next_action_date", @order.next_action_date %>
				<%= label_tag "order notes", "Internal notes on order" %>
				<%= text_area_tag "notes", @order.notes %>

				<p>Ordering of checkboxes:</p>
				<div><% @checkboxes.each do |c| %>
					<%= "| #{c.to_s}" %>
				<% end %></div>

				<table>
					<tr>
						<th>d_id</th>
						<th>Supplier</th>
						<% [@checkboxes,@textfields,@numberfields].each do |set| %>
							<% set.each do |h| %>
								<th class="word-break">
									<% if set == @checkboxes %>
										<%= "" %>
									<% else %>
										<%= "#{h.to_s}" %>
									<% end %>
								</th>
							<% end %>
						<% end %>
					</tr>
						<% @dialogues.each do |d| %>
							<tr>
								<% @supplier = Supplier.find(d.supplier_id) %>
								<td><%= "#{d.id}" %></td>
								<td>
									<strong><%= link_to "#{@supplier.name}", admin_edit_path(@supplier.name_for_link) %></strong>
									<%= @supplier.is_in_network? ? "Pays per bid" : "Not in network" %>
									<%= "\n#{@supplier.rfq_contact.email}" if @supplier.rfq_contact.email %>
									<%= "\n#{@supplier.rfq_contact.phone}" if @supplier.rfq_contact.phone %>
									<%= "\n#{@supplier.internally_hidden_preferences}" if @supplier.internally_hidden_preferences %>
								</td>
								<% @checkboxes.each do |c| %>
									<td class="center">
										<%= check_box_tag "#{d.id}[#{c.to_s}][]", d.id, d.attributes[c.to_s], class: "checkbox" %>
									</td>
								<% end %>
								<% @textfields.each do |t| %>
									<td>
										<%= text_field_tag "#{d.id}[#{t.to_s}_field]", d.attributes[t.to_s] %>
									</td>
								<% end %>
								<% @numberfields.each do |n| %>
									<td>
										<%= text_field_tag "#{d.id}[#{n.to_s}_field]", d.attributes[n.to_s] %>
									</td>
								<% end %>
							</tr>
						<% end %>
				</table>

				<p>Order status</p>
				<% Order.order_status_hash.keys.each do |message| %>
					<div class="clear">
						<%= radio_button_tag "status", message, @order.status == message, :class => "fleft radio" %>
						<%= label_tag "status_#{message}", message, :class => "fleft" %>
					</div>
				<% end %>

				<div class="clear">
					<%= submit_tag "Save changes", :disable_with => "Saving...", :class => "save-button" %>
				</div>

			<% end %>	

		</div>
	</div>
</div>			