<% provide(:title, "Manipulate dialogues") %>

<div class="container">
  <div class="row">
  	<div class="col-sm-10 col-sm-offset-1 main-area-contrast override">

			<h1><%= "Changes to Order \##{@order.id} (User #{@lead_contact.full_name_untrusted})"  %></h1>	

			<%= render "layouts/order_basics" %>

			<p><strong>User email: </strong><%= "#{@lead_contact.email}" %></p>
			<% if !@order.override_average_value.nil? %>
				<p><strong>Override value for what quote was worth, for tracking (console change): </strong><%= @order.override_average_value %>
			<% end %>

			<p>
				<strong>Stated experience:</strong><%= "#{@order.stated_experience}" %>
				<strong>Stated priority:</strong><%= "#{@order.stated_priority}" %>
				<strong>Stated method:</strong><%= "#{@order.stated_manufacturing}" %>
			</p>

			<p> <%= link_to "Add a dialogue", "/dialogues/new/#{@order.id}" %> | Note: if you want erase an existing numeric field, set it to 0, do not simply delete it.</p>
			<%= link_to "Add new supplier", new_supplier_path %>

			<%= form_tag :action => 'update_dialogues', :controller => 'orders' do %>

				<%= hidden_field_tag "id", @order.id %>

				<%= label_tag "recommendation", "Recommendation" %>
				<%= text_area_tag "recommendation", @order.recommendation %>
				<%= label_tag "next_steps", "Next steps" %>
				<%= text_area_tag "next_steps", @order.next_steps %>
				<%= label_tag "next_action_date", "Next action date" %>
				<%= text_field_tag "next_action_date", @order.next_action_date %>
				<%= label_tag "order notes", "Internal notes on order" %>
				<%= text_area_tag "notes", @order.notes %>

				<%= link_to "Add an order group", new_order_group_path(order_id: @order.id) %>

				<% @order_groups.each do |order_group| %>

					<h3 class="bit-of-space">
						<%= "Group: '#{order_group.name}' " %>
						<%= "Process: '#{order_group.process}'" %>
						<%= "Material: '#{order_group.material}'" %>
						<%= link_to "Edit order group", edit_order_group_path(order_group) %>
					</h3>
					<p>Movement between groups is currently console-only.</p>
					<p><strong>Parts:</strong></p>
					<ul>
						<% order_group.parts.each do |part| %>
							<% external = part.external %>
							<li>
								<% if external %>
									<%= "Quantity #{part.quantity} of '#{part.name}' (Units: #{external.units}" %>
									<%= link_to "Link to file", external.url %>
								<% else %>
									<%= "WARNING - PART HAS NO EXTERNAL LINK. TROUBLESHOOT." %>
								<% end %>
								<%= ") [Part ID: #{part.id}, BOM ID: #{part.bom_identifier}]" %>
							</li>
						<% end %>
					</ul>

					<p>Ordering of checkboxes:</p>
					<div><% @checkboxes.each do |c| %>
						<%= "| #{c.to_s}" %>
					<% end %></div>
					<table>
						<tr>
							<th>d_id</th>
							<th>og_name</th>
							<th>Supplier</th>
							<% [@checkboxes,@textfields,@numberfields].each do |set| %>
								<% set.each do |h| %>
									<th class="word-break">
										<% if set == @checkboxes %>
											<%= "" %>
										<% else %>
											<%= "#{h.to_s}" %>
										<% end %>
									</th>
								<% end %>
							<% end %>
						</tr>
							<% order_group.dialogues.each do |d| %>
								<tr>
									<% @supplier = Supplier.find(d.supplier_id) %>
									<td><%= "#{d.id}" %></td>
									<td><%= "#{d.order_group.name}" %></td>
									<td>
										<strong><%= link_to "#{@supplier.name}", admin_edit_path(@supplier.name_for_link) %></strong>
									</td>
									<% @checkboxes.each do |c| %>
										<td class="center">
											<%= check_box_tag "#{d.id}[#{c.to_s}][]", d.id, d.attributes[c.to_s], class: "checkbox" %>
										</td>
									<% end %>
									<% @textfields.each do |t| %>
										<td>
											<%= text_field_tag "#{d.id}[#{t.to_s}_field]", d.attributes[t.to_s] %>
										</td>
									<% end %>
									<% @numberfields.each do |n| %>
										<td>
											<%= text_field_tag "#{d.id}[#{n.to_s}_field]", d.attributes[n.to_s] %>
										</td>
									<% end %>
								</tr>
							<% end %>
					</table>

					<strong><%= link_to "Edit master emails", initial_email_edit_path(@order) %></strong>

					<table>
						<% order_group.dialogues.each do |d| %>
							<tr class="horizontal-lines">
								<% @supplier = Supplier.find(d.supplier_id) %>
								<td><%= "#{d.id}" %></td>
								<td>
									<strong><%= "#{@supplier.name[0,6]}" %></strong>
								</td>
								<td><%= "#{@supplier.address.state.short_name},#{@supplier.address.country.short_name}" %></td>
								<td><%= link_to "Email", dialogue_internal_email_path(d) %></td>
								<td>
									<strong><%= "Note for this order: #{d.internal_notes}" if d.internal_notes.present? %></strong>
									<%= @supplier.is_in_network? ? "Pays per bid" : "Not in network" %>
									<%= "\n#{@supplier.rfq_contact.email}" if @supplier.rfq_contact.email %>
									<%= "\n#{@supplier.rfq_contact.phone}" if @supplier.rfq_contact.phone %>
									<%= "\n#{@supplier.internally_hidden_preferences}" if @supplier.internally_hidden_preferences %>
								</td>
							</tr>
						<% end %>
					</table>
				<% end %>

				<p>Order status</p>
				<% Order.order_status_hash.keys.each do |message| %>
					<div class="clear">
						<%= radio_button_tag "status", message, @order.status == message, :class => "fleft radio" %>
						<%= label_tag "status_#{message}", message, :class => "fleft" %>
					</div>
				<% end %>

				<div class="clear">
					<p>Columns to show</p>
					<% OrderColumn.set_to_names_map.each do |set_name,set_columns| %>
						<%= radio_button_tag "columns_shown", set_name, @order.columns_shown == set_name.to_s, :class => "fleft radio" %>
						<%= label_tag "columns_shown_#{set_name}", set_name, :class => "fleft" %>
					<% end %>
				</div>

				<div class="clear">
					<%= submit_tag "Save changes", :disable_with => "Saving...", :class => "save-button" %>
				</div>

			<% end %>	

		</div>
	</div>
</div>			