<% provide(:title, "Details of quote request") %>

<div class="row">
	<h1>Details of quote request</h1>

	<% if @order.errors.any? %>
	  <div class="error_explanation">
	    <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>
	    <ul>
	      <% @order.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	    </ul>
	  </div>
	<% end %>

	<%= form_tag :action => 'update', :controller => 'orders' do %>

		<%= hidden_field_tag "submitting_page", "orders_show" %>

		<% if @order.name != "" %>
			<p><strong>Order name: </strong> <%= "#{@order.name}" %></p>
		<% end %>
		<p id="index_quantity"><strong>Quantity: </strong><%= "#{@order.quantity}" %></p>
		<p><strong>Due date: </strong><%= "#{@order.deadline.to_s}" %></p>
		<% if !@order.material_message.nil? %>
			<p><strong>Material requested: </strong><%= "#{@order.material_message}" %></p>
		<% end %>
		<% if !(@order.supplier_message.nil? or @order.supplier_message == "") %>
			<p><strong>Message to suppliers: </strong><%= "#{@order.supplier_message}" %></p>
		<% end %>
		<% if !@order.recommendation.nil? %>
			<p><strong>Our recommendation: </strong><%= "#{@order.recommendation}" %></p>
		<% end %>
		<% if !@order.next_steps.nil? %>
			<p><strong>Suggested next steps: </strong><%= "#{@order.next_steps}" %></p>
		<% end %>

		<table class="order_table" cellspacing="0">
		  <tr class="order_table_header_row">
		    <th>Name</th>
		    <th>Bid status</th>
		    <th>Total bid</th>
		    <th>Time (days)</th>
		    <th>Mat'l</th>
		    <th>Process</th>
		    <th>Process cost</th>
		    <th>Shipping cost</th>
		    <th class="notes-row">Notes</th>
		    <th>Selected to negotiate?</th>
		    <th>Won deal?</th>
		    <th></th>
		  </tr>

			<% @sorted_dialogues.each do |d| %>
				<% if d.recommended %>
					<tr class="recommended">
				<% else %>
					<tr>
				<% end %>

				<% s = Supplier.find(d.supplier_id) %>
				<% if !s.url_main.nil? and s.url_main != "" %>
					<td><%= link_to "#{s.name}", s.url_main %></td>
				<% else %>
					<td><%= s.name %></td>
				<% end %>

				<td class="center"><%= bid_status(d) %></td>
				<td class="right"><%= currencyize(d.total_cost, d.currency) %></td>
				<td class="center"><%= d.process_time %></td>
				<td class="center"><%= d.material %></td>
				<td class="center"><%= d.process_name %></td>
				<td class="right"><%= currencyize(d.process_cost, d.currency) %></td>
				<td class="right"><%= currencyize(d.shipping_cost, d.currency) %></td>
				<td class="notes-row center" title="<%= notarize(d.shipping_name,d.notes) %>"><%= notarize(d.shipping_name,d.notes) %></td>
				<td class="center"><%= check_box_tag "further_negotiation[]", d.id, d.further_negotiation, :class => "center order_no_top_margin" %></td>
				<td class="center"><%= radio_button_tag "won", d.id, d.won, :class => "center order_no_top_margin" %></td>
				</tr>
			<% end %>
			<tr>
				<% 9.times do |t| %>
					<td></td>
				<% end %>
				<td class="center">No deal, no winner:</td>
				<td class="center"><%= radio_button_tag "won", 0, @order.is_over_without_winner, :class => "center order_no_top_margin" %></td>
			</tr>

		</table>

		<%= submit_tag "Save changes", :class => "save-button", :disable_with => "Saving..." %>

		<p class="block"><%= link_to 'Back', orders_path %></p>

	<% end %>
</div>
