<p><%= link_to "Back to tags", tags_path %></p>

<%= label_tag :name %>
<%= text_field_tag :name, tag.name %>

<%= label_tag :readable %>
<%= text_field_tag :readable, tag.readable %>

<%= label_tag :family %>
<%= text_field_tag :family, tag.family %>

<%= label_tag :note %>
<%= text_area_tag :note, tag.note %>

<div>
  <div><%= label_tag :visible %></div>
  <div class="one-fourth fleft">
    <%= label_tag :visible, "True" %>
    <%= radio_button_tag :visible, true, tag.visible %>
  </div>
  <div class="one-fourth fleft">
    <%= label_tag :visible, "False" %>
    <%= radio_button_tag :visible, false, !tag.visible %>
  </div>
</div>

<div class="clear">
  <div><%= label_tag :exclusive %></div>
  <div class="one-fourth fleft">
    <%= label_tag :exclusive, "True" %>
    <%= radio_button_tag :exclusive, true, tag.exclusive %>
  </div>
  <div class="one-fourth fleft">
    <%= label_tag :exclusive, "False" %>
    <%= radio_button_tag :exclusive, false, !tag.exclusive %>
  </div>
</div>

<%= submit_tag "Submit", class: "save-button" %>

<p><%= link_to "Back to tags", tags_path %></p>