<% provide(:title,"Edit tag") %>
<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 main-area-contrast override">
      <h1>Edit tag: <%= @tag.readable %></h1>

      <!-- placeholder styling for displaying relationships -->
      <table>
        <tr>
          <th>Children</th>
          <th>Descendants</th>
          <th>Parents</th>
          <th>Ancestors</th>
        </tr>
        <tr>
          <td>
            <ul>
              <% @tag.related_tags.each do |child| %>
                <li><%= link_to child.readable, edit_tag_path(child) %></li>
              <% end %>
            </ul>
          </td>
          <td>
            <ul>
              <% @tag.descendants.each do |desc| %>
                <li><%= link_to desc.readable, edit_tag_path(desc) %></li>
              <% end %>
            </ul>
          </td>
          <td>
            <ul>
              <% @tag.source_tags.each do |parent| %>
                <li><%= link_to parent.readable, edit_tag_path(parent) %></li>
              <% end %>
            </ul>
          </td>
          <td>
            <ul>
              <% @tag.ancestors.each do |anc| %>
                <li><%= link_to anc.readable, edit_tag_path(anc) %></li>
              <% end %>
            </ul>
          </td>
        </tr>
      </table>

      <%= form_tag tag_path(@tag), method: :patch do %>

        <%= render partial: "tags/tag_form_content" %>

      <% end %>

    </div>
  </div>
</div>