<h3>Communications</h3>
<p>New communication</p>
<%= form_tag :action => "create", :controller => "communications" do %>

	<div class="almost-one-half fleft"	>
		<%= label_tag :means_of_interaction %>
	 	<%= text_field_tag :means_of_interaction, nil, class: "input_field" %>
 	</div>
	<div class="almost-one-half fleft">
		<%= label_tag :interaction_title %>
	 	<%= text_field_tag :interaction_title, nil, class: "input_field" %>
 	</div>
	<div class="clear">
  	<%= label_tag :notes %>
	  <%= text_area_tag :notes %>

		<%= hidden_field_tag :communicator_id, c_id %>
		<%= hidden_field_tag :communicator_type, c_type %>
		<%= hidden_field_tag :user_id, user_id %>

		<%= submit_tag "Create", class: "save-button" %>
	 </div>

<% end %>