<h3>Communications</h3>
<p>New communication</p>
<%= form_tag :action => "create", :controller => "communications" do %>

	<div class="one-fourth fleft"	>
		<%= label_tag :means_of_interaction %>
	 	<%= text_field_tag :means_of_interaction, nil, class: "input_field" %>
 	</div>
 	<div>
 		<div>
 			<% id = LeadContact.find_by_email("mdpfwds@gmail.com").contactable.user.id %>
		 	<%= radio_button_tag :user_id, id, current_user.id == id, :class => "fleft radio margin-left" %> 	
	 		<%= label_tag :user_id, "Matt", :class => "fleft" %>
 		</div>
 		<div>
 			<% id = LeadContact.find_by_email("rob@supplybetter.com").contactable.user.id %>
 			<%= radio_button_tag :user_id, id, current_user.id == id, :class => "fleft radio margin-left" %> 	
	 		<%= label_tag :user_id, "Rob", :class => "fleft" %>
	 	</div>
 	</div>
	<div class="clear">
  	<%= label_tag :notes %>
	  <%= text_area_tag :notes %>

		<%= hidden_field_tag :communicator_id, c_id %>
		<%= hidden_field_tag :communicator_type, c_type %>

		<%= submit_tag "Create", class: "save-button" %>
	 </div>

<% end %>