<h3>Communications</h3>
<%= form_tag :action => "create", :controller => "communications" do %>

  <div class="one-fourth fleft" >
    <%= label_tag :means_of_interaction %>
    <%= text_field_tag :means_of_interaction, nil, class: "input_field" %>
  </div>
  <div class="clear">
    <%= label_tag :notes %>
    <%= text_area_tag :notes %>

    <%= hidden_field_tag :communicator_id, c_id %>
    <%= hidden_field_tag :communicator_type, c_type %>

    <%= submit_tag "Create", class: "save-button" %>
   </div>

<% end %>