<div class="row">
  <div class="col-md-2 col-sm-2 col-xs-4">
    <% if (show_left_text) %>
      <p><%= link_to "Back to search page", teams_index_path %></p>
    <% end %>
  </div>
  <div class="col-md-6 col-md-offset-1 col-sm-7 col-xs-12 center start-quote">
    <p><%= middle_text %></p>
  </div>

  <div class="col-md-3 col-sm-3 col-xs-12 right">          
    <p>
      <%= link_to "All companies", organizations_providers_list_path(organization.id)%>
      |
      <%= link_to "All tags", organizations_tags_list_path(organization.id)%>
      |
      <%= link_to "Add vendor", new_provider_path %>
    </p>
  </div>

</div>