<% provide(:title,"User behaviors for #{@organization.name}") %>

<h1>User behaviors - all time</h1>

<h2>Totals</h2>
<ul>
	<li>Comments filled out: <%= @user_behaviors.map{ |ub| ub[:comments_filled_out]}.reduce(0,:+) %></li>
	<li>Comments reminded about: <%= @user_behaviors.map{ |ub| ub[:comments_reminded_about]}.reduce(0,:+) %></li>
	<li>Comments reminded about and filled out: <%= @user_behaviors.map{ |ub| ub[:comments_reminded_about_and_filled_out]}.reduce(0,:+) %></li>
</ul>

<h2>Individual</h2>
<div class="container hax-body-styling">
  <div class="row">
  	<table>
  		<tr>
  			<th>ID</th>
  			<th>Name</th>
  			<th>Comments filled out</th>
  			<th>Comments reminded about</th>
  			<th>Comments reminded about and filled out</th>
  		</tr>
  		<% @user_behaviors.each do |ub| %>
  			<tr>
  				<td><%= ub[:id] %></td>
  				<td><%= ub[:name] %></td>
  				<td><%= ub[:comments_filled_out] %></td>
  				<td><%= ub[:comments_reminded_about] %></td>
  				<td><%= ub[:comments_reminded_about_and_filled_out] %></td>
  			</tr>
  		<% end %>
  	</table>
  </div>
</div>