<div class="container hax-body-styling">
  <div class="row">
    <div class="main-area-contrast override">
      <div class="col-md-3">
        <p><%= link_to "Back to search page", teams_index_path %></p>
      </div>
      <div class="col-md-6 center">
        <p>List of every <%= @org.name %> Supplier Tag</p>
      </div>
      <div class="col-md-2 right">          
        <p><%= link_to "All companies" , organizations_providers_list_path(@org.id)%></p>
      </div>
      <div class="col-md-1">          
        <p><%= link_to "All tags" , organizations_tags_list_path(@org.id)%></p>
      </div>
    </div>
      <%= render :partial => "providers/table", locals: {tags: @tags, include_tag_column: false, show_table: "tags_list"} %>
    </div>
  </div>
</div>


<!-- clickable tag
# of providers
last PO date (cut if slow)
latest PO provider (cut if slow)
# of POs (cut if slow) -->