<%= form_tag action: form_action, controller: "machines" do %>

	<div class="almost-one-half fleft">
		<%= label_tag "manufacturer[name]", "Manufacturer" %>
	 	<%= text_field_tag "manufacturer[name]", @manufacturer.name %>
 	</div>
	<div class="almost-one-half fleft"	>
		<%= label_tag "machine[name]", "Machine" %>
	 	<%= text_field_tag "machine[name]", @machine.name %>
 	</div>
	<div class="clear">
		<%= submit_tag "Create" %>
	</div>

<% end %>

<h3>All existing machines</h3>

<%= render :partial => 'analytics/machines_table', locals: {machines: machines} %>