<% if @state.present? %>
	<% location_phrase = "#{@state_long} (#{@country_long})" %>
<% else %>
	<% location_phrase = "#{@country_long}" %>
<% end %>

<% if @valid_guide %>
	<% provide(:title,"#{@tag.readable} suppliers in #{location_phrase}.") %>
	<div class="content">
		<div class="container row supplier-list">

			<div id="supplier-list-intro">
				<p>
					<strong><%= "#{@tag.readable}: " %></strong><%= "#{@tag.note}" %>
				</p>

				<% count = 999 %>
				<%# ^ magic number, set correctly when reeimplement count %>
				<% noun = "suppliers" %>

				<% if count > 1 %>
					<p>Suppliers are sorted by profile completeness, since supplier profiles with descriptions, machine data, and reviews are more informative. If you're a supplier, find your profile, claim it, and increase your ranking!</p>
				<% end %>
				<% if count > 0 %>
					<p>Are we missing a supplier that you know about? Please <%= mail_to "suggest-edits@supplybetter.com", "let us know!", encode: "javascript", target: "_blank", subject: "Suggested addition to SupplyBetter database" %></p>
				<% end %>
			</div>

			<%= render partial:"suppliers/supplier_list_key" %>
			
			<div class="clear">
				<% if count > 0 %>
					<%= render partial: "suppliers/supplier_list", locals: { visibles: @visibles, columns: 1, header_text: "#{@tag.readable} suppliers in #{location_phrase}" } %>
				<% else %>
					<h3 class="supplier-list-country"><%= "#{@tag.readable} suppliers in #{location_phrase}" %></h3>
					<p>If you know of a supplier that should be in this category, <%= mail_to "suggest-edits@supplybetter.com", "let us know!", encode: "javascript", target: "_blank", subject: "Suggested addition to SupplyBetter database" %></p>
				<% end %>	
			</div>

		</div>
	</div>
<% else %>
	<% provide(:title,"No publicly released guide at this address") %>
	<h3 class="center">This is not a valid URL to find a guide</h3>
	<p>It's possible we haven't released a guide for this geography or tag yet, or perhaps you typed in a bad address. Want to head to the <%= link_to "home page", root_path %> instead?</p>
<% end %>