<% if @valid_guide %>
	<% provide(:title,"#{@tag.readable} suppliers in #{@state} (#{@country})") %>
	<div class="content">
		<div class="container row supplier-list">

			<div id="supplier-list-intro">
				<p>
					<strong><%= "#{@tag.readable}: " %></strong><%= "#{@tag.note}" %>
				</p>

				<% count = @suppliers.count %>
				<% noun = "suppliers" %>
				<p>
					<% if count == 0 %>
						There are no publicly listed
					<% elsif count == 1 %>
						<% noun = "supplier" %>	
						There is one
					<% else %>
						<%= "There are #{@suppliers.count}" %> 
					<% end %>
				 	<%= " #{@tag.readable} #{noun} in #{@state} (#{@country})." %>
				</p>
				<% if count > 1 %>
					<p>Suppliers are sorted by profile completeness, since supplier profiles with descriptions, machine data, and reviews are more informative. If you're a supplier, find your profile, claim it, and increase your ranking!</p>
				<% end %>
				<% if count > 0 %>
					<p>Are we missing a supplier that you know about? Please <%= mail_to "suggest-edits@supplybetter.com", "let us know!", encode: "javascript", target: "_blank", subject: "Suggested addition to SupplyBetter database" %></p>
				<% end %>
			</div>

			<%= render partial:"suppliers/supplier_list_key" %>
			
			<div class="clear">
				<h3 class="supplier-list-country"><%= "#{@tag.readable} suppliers in #{@state} (#{@country})" %></h3>
				<% if @suppliers.present? %>
					<% @suppliers.each do |supplier| %>
						<% if counter >= columns %>
							</tr><tr>
							<% counter = 0 %>
						<% end %>
						<td>
							<li>
								<%= render partial: "suppliers/supplier_link_and_icons", locals: {supplier: supplier, machine_count: machine_count, review_count: review_count, claimed: claimed, out_of_business: out_of_business} %>
							</li>
						</td>
						<% counter += 1 %>
						<% while !(counter >= columns) %>
							<td></td>
							<% counter += 1 %>
						<% end %>
					<% end %>
				<% else %>
					<p>If you know of a supplier that should be in this category, <%= mail_to "suggest-edits@supplybetter.com", "let us know!", encode: "javascript", target: "_blank", subject: "Suggested addition to SupplyBetter database" %></p>
				<% end %>	
			</div>

		</div>
	</div>
<% else %>
	<% provide(:title,"No publicly released guide at this address") %>
	<h3 class="center">This is not a valid URL to find a guide</h3>
	<p>It's possible we haven't released a guide for this geography or tag yet, or perhaps you typed in a bad address. Want to head to the <%= link_to "home page", root_path %> instead?</p>
<% end %>