<% address = supplier.address %>
<td class="under-examination">
	<p><%= "Name: #{supplier.name}" %></p>
	<p><%= "Address: #{address.country} #{address.state} #{address.zip}" if address %></p>
	<p><%= link_to "Website", supplier.url_main %>
</td>
<td class="choice">
	<p class="clear">
		<%= radio_button_tag "suppliers[#{supplier.id}]", "not_duplicate", false, :class => "fleft radio" %>	
		<%= label_tag "suppliers[#{supplier.id}]", "Not duplicate - add", :class => "fleft" %>
	</p>
	<p class="clear">
		<%= label_tag "supplier_names[#{supplier.id}]", "New name:", :class => "fleft" %>
		<%= text_field_tag "supplier_names[#{supplier.id}]", supplier.name %>
		<%= label_tag "supplier_countries[#{supplier.id}]", "New country:", :class => "fleft" %>
		<%= text_field_tag "supplier_countries[#{supplier.id}]", supplier.address ? supplier.address.country : "" %>
		<%= label_tag "supplier_states[#{supplier.id}]", "New state:", :class => "fleft" %>
		<%= text_field_tag "supplier_states[#{supplier.id}]", supplier.address ? supplier.address.state : "" %>
		<%= label_tag "supplier_zips[#{supplier.id}]", "New zip:", :class => "fleft" %>
		<%= text_field_tag "supplier_zips[#{supplier.id}]", supplier.address ? supplier.address.zip : "" %>
	<p class="clear">
		<%= radio_button_tag "suppliers[#{supplier.id}]", "duplicate", false, :class => "fleft radio" %>	
		<%= label_tag "suppliers[#{supplier.id}]", "Duplicate - remove", :class => "fleft" %>
	</p>
</td>
<td class="supporting-info">
	<%= supplier.get_supporting_info %>
</td>