<% name = Domainatrix.parse(supplier_search_result.domain).domain.capitalize %>
<%= hidden_field_tag "name[#{supplier_search_result.id}]", name %>

<% url = Domainatrix.parse(supplier_search_result.link) %>
<% url_main = "#{url.scheme}://#{url.host}" %>
<%= hidden_field_tag "url_main[#{supplier_search_result.id}]", url_main %>

<td class="supporting-info">
  <p class="clear">
    <%= link_to url_main, url_main, target: "_blank" %>
  </p>
</td>
<td class="choice">
  <p class="clear">
    <%= radio_button_tag "choices[#{supplier_search_result.id}]", "add_supplier", false, :class => "fleft radio" %>
    <%= label_tag "choices[#{supplier_search_result.id}]", "Add - new Supplier", :class => "fleft" %>
  </p>
  <p class="clear">
    <%= radio_button_tag "choices[#{supplier_search_result.id}]", "not_supplier", false, :class => "fleft radio" %>
    <%= label_tag "choices[#{supplier_search_result.id}]", "Exclude - not a supplier", :class => "fleft" %>
  </p>
  <p class="clear">
    <%= radio_button_tag "choices[#{supplier_search_result.id}]", "drop", false, :class => "fleft radio" %>
    <%= label_tag "choices[#{supplier_search_result.id}]", "Uncertain", :class => "fleft" %>
  </p>
</td>
