<td class="supporting-info">
  <p class="clear">
    Search Link: <%= link_to supplier_search_result.link, supplier_search_result.link, target: "_blank" %>
  </p>
  <p class="clear">
    Title: <%= supplier_search_result.title %>
  </p>
  <p class="clear">
    Snippet: <%= supplier_search_result.snippet %>
  </p>
</td>
<td class="choice">
  <p class="clear">
    <%= radio_button_tag "choices[#{supplier_search_result.id}]", "add_supplier", false, :class => "fleft radio" %>
    <%= label_tag "choices[#{supplier_search_result.id}]", "Add - new Supplier", :class => "fleft" %>
  </p>
  <p class="clear">
    <%= radio_button_tag "choices[#{supplier_search_result.id}]", "not_supplier", false, :class => "fleft radio" %>
    <%= label_tag "choices[#{supplier_search_result.id}]", "Exclude - not a supplier", :class => "fleft" %>
  </p>
  <p class="clear">
    <%= radio_button_tag "choices[#{supplier_search_result.id}]", "drop", false, :class => "fleft radio" %>
    <%= label_tag "choices[#{supplier_search_result.id}]", "Uncertain", :class => "fleft" %>
  </p>
</td>
