<% provide(:title,"Editing #{@supplier.name}") %>

<div class="container">
	<div class="span10 offset1">
		<h1><%= "Editing Profile for #{@supplier.name}" %></h1>
		<div class="bit-of-space">

			<p>Editing your profile, which gives buyers better information and more reason to pick your business, is totally free and comes with no obligation.</p>
			<p><%= " If you join our network, we will route more business your way, and each time you choose to bid on a lead SupplyBetter will charge you 1% of the bid and give you the potential client's contact information." if !@supplier.is_in_network? %></p>
			<p><% if @supplier.is_in_network? %>
				<%= link_to "See your profile as it looks to buyers right now.", supplier_profile_path(@supplier.name_for_link) %>
			<% else %>
				<%= link_to "Learn about joining our network", be_a_supplier_path %> or <%= link_to "see your profile as it looks right now.", supplier_profile_path(@supplier.name_for_link) %>
			<% end %></p>
		</div>
		<div>
		<%= form_tag supplier_path(@supplier), method: :put do %>
				<%= label_tag 'suggested_description', 'Add or change supplier description. This information is public.' %>
				<%= text_area_tag 'suggested_description', @supplier.suggested_description %>
				<%= label_tag 'suggested_machines', 'Add or change machine data. This information is public.' %>
				<%= text_area_tag 'suggested_machines', @supplier.suggested_machines %>
				<%= label_tag 'suggested_machines', "Add or change preference data: do you prefer working in certain materials, to deal only with companies, or to avoid orders under certain quantities? If you have preferences about your ideal customer, that can help us send you better leads. This information is private." %>
				<%= text_area_tag 'suggested_machines', @supplier.suggested_preferences %>

				<%= submit_tag "Suggest edits", :disable_with => "Creating...", :id => "create_button" %>
			<% end %>
		</div>
	</div>
</div>