<% provide(:title,"Supplier Profiles") %>
<% meta_description "600+ catalogued 3D printing suppliers with descriptions, machines, and reviews" %>

<div class="content">
	<div class="container row supplier-list">
		<div id="supplier-list-intro">
			<p>We have 700+ suppliers catalogued, representing 20+ countries. This is the set of <%= "#{@supplier_count}" %> US 3D printing suppliers we currently have catalogued, focused initially on national and California suppliers. We will add other countries soon.</p>

			<p>Suppliers are sorted by profile completeness, since supplier profiles with descriptions, machine data, and reviews are more informative. If you're a supplier, find your profile, claim it, and increase your ranking!</p>

			<p>Are we missing a supplier that you know about? Please <%= mail_to "suggest-edits@supplybetter.com", "let us know!", encode: "javascript", target: "_blank", subject: "Suggested addition to SupplyBetter database" %></p>

			<p>Or if you want help finding the best <%= "#{@tags_short} suppliers" %>, <%= link_to "request quotes now!", {:controller => "orders", :action => "new", :from_supplier => nil}, rel: "nofollow" %></p>
			
		</div>

		<%= render partial: "suppliers/supplier_list_key" %>

		<p class="clear">Navigate to a US state:</p>
		<% @to_index.each do |state| %>
			<%= "|" if state != @to_index[0] %>
			<%= link_to "#{state}", suppliers_path(anchor: "US-#{state}") %>
		<% end %>

		<% if @visibles.present? %>
			<%= render partial: "suppliers/supplier_list", locals: {visibles: @visibles, columns: 3, header_text: @visibles.keys[0]} %>
		<% end %>

	</div>
</div>