<% provide(:title,"New Supplier") %>


<div class="container">
	<div class="span10 offset1">

		<%= form_tag :action => 'create', :controller => 'suppliers' do %>

			<%= label_tag 'name', 'name' %><%= text_field_tag 'name', nil %>
			<%= label_tag 'url_main', 'url_main' %><%= text_field_tag 'url_main', nil %>
			<%= label_tag 'country', 'country' %><%= text_field_tag 'country', nil %>
			<%= label_tag 'state', 'state' %><%= text_field_tag 'state', nil %>
			<%= label_tag 'zip', 'zip' %><%= text_field_tag 'zip', nil %>
			<%= label_tag 'description', 'description' %><%= text_area_tag 'description', nil %>

			<%= submit_tag "Create supplier", :disable_with => "Creating...", :id => "create_button" %>
		<% end %>
	</div>
</div>