<% provide(:title, "Supplier Examination") %>

<%= form_tag :action => 'submit_examinations', :controller => 'suppliers' do %>

	<% @questionables.each do |supplier| %>
		<% address = supplier.address %>
		<div>
			<div>
				<p><%= "Name: #{supplier.name}" %></p>
				<p><%= "Address: #{address.country} #{address.state} #{address.zip}" if address %></p>
			</div>
			<div>
				<div>
					<%= radio_button_tag "#{supplier.id}", "not_duplicate", false, :class => "fleft" %>	
					<%= label_tag "#{supplier.id}", "Not a duplicate - add to database", :class => "fleft" %>
				</div>
				<div>
					<%= radio_button_tag "#{supplier.id}", "duplicate", false, :class => "fleft" %>	
					<%= label_tag "#{supplier.id}", "Duplicate - remove from database", :class => "fleft" %>
				</div>
			</div>
		</div>
	<% end %>
	<%= submit_tag "Submit examinations", :disable_with => "Saving..." %>
<% end %>