<h3>Internal analytics links</h3>
<ul>
	<li><%= link_to "Home" , analytics_home_path %></li>
	<li><%= link_to "RFQs" , analytics_rfqs_path %></li>
	<li><%= link_to "Metrics (stub)" , analytics_metrics_path %></li>
	<li><%= link_to "Suppliers (stub)" , analytics_suppliers_path %></li>
	<li><%= link_to "Emails (stub)" , analytics_emails_path %></li>
</ul>