<footer class="footer content">
  <div class="container">
  	<ul class="pull-left nav">
  		<li><%= link_to "Home", root_path %></li>
      <% if Rails.env.development? %>
        <li><%= link_to "Blog", "http://localhost:3000/blog" %></li>
      <% else %>
        <li><%= link_to "Blog", "http://www.supplybetter.com/blog" %></li>
      <% end %>
      <li><%= link_to "Suppliers", suppliers_path %>
  		<li><%= link_to "Getting started", getting_started_path %></li>
  		<li><%= link_to "Materials", materials_path %></li>
      <li><%= link_to "Terms", terms_path %></li>
      <li><%= link_to "Privacy", privacy_path %></li>

  	</ul>
  	<p class="pull-right nav">
  		&copy; 2013 SupplyBetter, Inc.
  	</p>
  </div>
</footer>