<footer class="navbar nav">
  <div class="container">
    <div class="row">
      <div class="col-sm-11 col-sm-offset-1">
        <ul class="nav navbar-nav navbar-left">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Blog", "/blog" %></li>
          <li><%= link_to "Suppliers", us_3dprinting_path %>
          <li><%= link_to "Getting started", getting_started_path %></li>
          <li><%= link_to "Materials", materials_path %></li>
          <li><%= link_to "Terms", terms_path %></li>
          <li><%= link_to "Privacy", privacy_path %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "© 2014 SupplyBetter, Inc.", terms_path %></li>
        </ul>
      </div>
    </div>
  </div>
</footer>