<footer class="footer">
  <div class="twins--40-60">
    <div class="col-40">
      <ul class="footer-links">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Getting started", getting_started_path %></li>
        <li><%= link_to "Blog", "/blog" %></li>
        <li><%= link_to "Materials", materials_path %></li>
        <li><%= link_to "Suppliers", us_3dprinting_path %>
      </ul>
      <ul class="footer-links--sub">
        <li><%= link_to "© 2015 SupplyBetter, Inc.", root_path %></li>
        <li><%= link_to "Privacy", privacy_path %></li>
        <li><%= link_to "Terms", terms_path %></li>
        <li><%= link_to "Directory", suppliers_path %></li>
      </ul>
    </div>
    <div class="col-60 twins p-0">
      <div class="col p-0">
        <h3></h3>
      </div>
      <div class="col">
        <div class="email-form">
          <p> Not ready for a quote?</p>
          <%= form_tag :action => 'create', :controller => 'leads' do %>
            <input type="hidden" name="next_step_field" value="/">
            <input type="hidden" name="source" value="footer-email-collector">
            <input type="hidden" name="redirect_message" value="Thanks! We'll keep you posted.">
            <%= text_field_tag 'email_field', nil, :placeholder => "Enter email for updates!", class: "email-input", :id => "email-submit-field" %>
            <%= submit_tag "Sign up", data: { disable_with: 'Submitting...' }, class: "email-button", :id => "email-submit-button" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</footer>
