<div class="order_basics">
  <table class="table">
      <tr>
        <td>
          Order created
        </td>
        <td>
          <%= to_pacific_timezone(@order.created_at).strftime("%m/%d/%Y %H:%M (%Z)") %>
        </td>
      </tr>
    <% if @order.name.present? %>
      <tr>
        <td>
          Order name
        </td>
        <td>
          <%= "#{@order.name}" %>
        </td>
      </tr>
    <% end %>
      <tr>
        <td>
          Total quantity
        </td>
        <td>
          <%= "#{@total_quantity}" %>
        </td>
      </tr>
      <tr>
        <td>
          Drawing units
        </td>
        <td>
          <%= "#{@order.units}" %>
        </td>
      </tr>
    <% if !@order.deadline.nil? %>
      <tr>
        <td>
          Deadline
        </td>
        <td>
          <%= "#{@order.deadline}" %>
        </td>
      </tr>
    <% end %>
    <% if !@user.address.nil? and @user.address.zip.length > 0 %>
      <tr>
        <td>
          Zip Code
        </td>
        <td>
          <%= "#{@user.address.zip}" %>
        </td>
      </tr>
    <% end %>
      <tr>
        <td>
          Material requested
        </td>
        <td>
          <%= "#{@order.material_message}" %>
        </td>
      </tr>
    <% if !(@order.supplier_message.nil? or @order.supplier_message == "") %>
      <tr>
        <td>
          Message to suppliers
        </td>
        <td>
          <%= "#{@order.supplier_message}" %>
        </td>
      </tr>
    <% end %>
    <% if !(@order.recommendation.nil? or @order.recommendation == "") %>
      <tr>
        <td>
          Our recommendation
        </td>
        <td>
          <%= "#{@order.recommendation}" %>
        </td>
      </tr>
    <% end %>
    <% if !(@order.next_steps.nil? or @order.next_steps == "") %>
      <tr>
        <td>
          Suggested next steps
        </td>
        <td>
          <%= "#{@order.next_steps}" %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= link_to "Leave a supplier review", new_review_path, :class => "button--blue" %>
  <% if current_user.admin? %>
    <%= "or admin privileges: " %>
    <%= link_to "Manipulate dialogues (admin)", manipulate_path(@order), :class => "button--blue" %>
  <% end %>
</div>
