<div class="order_basics bit-of-space">
  <% order_created = to_pacific_timezone(@order.created_at).strftime("%m/%d/%Y %H:%M (%Z)") %>
  <p><strong>Order created: </strong><%= order_created %></p>
  <% if @order.name.present? %>
    <p><strong>Order name: </strong> <%= "#{@order.name}" %></p>
  <% end %>
  <span class="index_quantity"><strong>Total quantity: </strong><%= "#{@order.total_quantity}" %></span>
  <span class="index_quantity"><strong>Drawing units: </strong><%= "#{@order.units}" %></span>
  <% if !@order.deadline.nil? %>
    <span class="index_quantity"><strong>Deadline: </strong><%= "#{@order.deadline}" %></span>
  <% end %>
  <% if !@user.address.nil? and @user.address.zip.length > 0 %>
    <span class="index_quantity"><strong>Zip Code: </strong><%= "#{@user.address.zip}" %></span>
  <% end %>
  <strong>Material requested: </strong><%= "#{@order.material_message}" %>
  <br>
  <% if !(@order.supplier_message.nil? or @order.supplier_message == "") %>
    <strong>Message to suppliers: </strong><%= "#{@order.supplier_message}" %>
    <br>
  <% end %>
  <% if !(@order.recommendation.nil? or @order.recommendation == "") %>
    <strong>Our recommendation: </strong><%= "#{@order.recommendation}" %>
    <br>
  <% end %>
  <% if !(@order.next_steps.nil? or @order.next_steps == "")%>
    <strong>Suggested next steps: </strong><%= "#{@order.next_steps}" %>
    <br>
  <% end %>
  <%= link_to "Leave a supplier review", new_review_path %>
  <% if current_user && current_user.admin? %>
    <%= "or admin privileges: " %>
    <%= link_to "Manipulate dialogues (admin)", manipulate_path(@order) %>
  <% end %>
</div>