<% if @order.name != "" %>
	<p><strong>Order name: </strong> <%= "#{@order.name}" %></p>
<% end %>
<p class="index_quantity"><strong>Quantity: </strong><%= "#{@order.quantity}" %></p>
<% if !@user.address.nil? and @user.address.zip.length > 0 %>
	<p class="index_quantity"><strong>Zip Code: </strong><%= "#{@user.address.zip}" %></p>
<% end %>
<p><strong>Units: </strong><%= "#{@order.drawing_units}" %></p>
<% if !(@order.material_message.nil? or @order.material_message == "") %>
	<p><strong>Material requested: </strong><%= "#{@order.material_message}" %></p>
<% end %>
<% if !(@order.supplier_message.nil? or @order.supplier_message == "") %>
	<p><strong>Message to suppliers: </strong><%= "#{@order.supplier_message}" %></p>
<% end %>
<% if !(@order.recommendation.nil? or @order.recommendation == "") %>
	<p><strong>Our recommendation: </strong><%= "#{@order.recommendation}" %></p>
<% end %>
<% if !(@order.next_steps.nil? or @order.next_steps == "")%>
	<p><strong>Suggested next steps: </strong><%= "#{@order.next_steps}" %></p>
<% end %>
<%= link_to "Leave a supplier review", new_review_path %>
<% if current_user.admin? %>
	<%= "or admin privileges: " %>
	<%= link_to "Manipulate dialogues (admin)", manipulate_path(@order) %>
<% end %>