<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "supplybetter-logo-white-cropped.svg", :alt => "SupplyBetter" %>
      <% end %>      
    </div>

    <% if @search_terms_list.present? %>
      <div class="navbar-search">
        <%= form_tag teams_index_path, method: :get do %>
          <div class="float-left navbar-search-box-margin">
            <%= hidden_field_tag "search_element_location", "top" %>
            <%= select_tag(:separated_search_string, options_for_select(@search_terms_list), multiple: true, class: 'selectize homepage-search', style: 'display:none') %>          
          </div>
          <div class="float-left navbar-search-box-margin navbar-search-submit">
            <%= submit_tag "Search", class: 'btn btn-default' %>
          </div>
        <% end %>
      </div>
    <% end %>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <% if signed_in? %>
        <ul class="nav navbar-nav navbar-right">          
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= "We want feedback!" %> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="mailto:matt@supplybetter.com">Email: matt@supplybetter.com</a></li>
              <li><a>Chat: We're here! Bottom-right!</a></li>
              <li><a>Give us a call: 415-238-2438</a></li>      
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle username" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= "#{current_user.lead.lead_contact.email}" %></a>
            <ul class="dropdown-menu">
              <% if current_user.supplier_id %>
                <li><%= link_to "Edit my supplier page", edit_supplier_path(current_user.supplier_id) %></li>
              <% end %>
              <li><%= link_to "Change Password", sessions_internal_edit_path(current_user.id) %></li>
              <li><%= link_to "Sign out", signout_path, method: "delete" %></li>            
            </ul>
          </li>
        </ul>
      <% else %>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Sign in", signin_path %></li>
      </ul>
      <% end %>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
