<!DOCTYPE html>
<html lang="en">
	<head>
	  <title><%= yield(:title) %> | <%= "#{brand_name}" %></title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	  <meta name="google-site-verification" content="xsEb-S9JoWbJsphstmoBu_x0vxGQLUr3FT6oNTyPcww" />
	  <meta name="description" content="<%= meta_description %>" />
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <%= render 'layouts/shim' %>
	  <%= render 'layouts/segmentio' %>
	</head>
	<body>
		<%= render 'layouts/header' %>
  	<% flash.each do |key, value| %>
  		<% key = :warning if key == :notice %>
      <div class="alert alert-<%= key %>"><%= value %>
      </div>
    <% end %>
    <%= yield %>
    <%#= debug(params) if Rails.env.development? %>
    <%#= render 'layouts/uservoice' %>
    <%= render 'layouts/footer' %>
	</body>
</html>
