<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>     
    <meta property="og:title" content="<%= title %>"/>
    <title><%= title %></title> 
  </head>
  <body>
    <div style="min-width:550px;background-color:#3c3e44;color: #333333; text-shadow: 1px 1px 0 #fff; font-family: 'OpenSans', 'HelveticaNeue', 'Helvetica Neue', 'HelveticaNeueRoman', 'HelveticaNeue-Roman', 'Helvetica Neue Roman', 'TeXGyreHerosRegular', 'Helvetica', 'Tahoma', 'Geneva', 'Arial', sans-serif; font-weight: 400; font-stretch: normal;text-align:center;">
      <%= image_tag "https://s3.amazonaws.com/supplybetter_images/logo_full_white.png", alt: "SupplyBetter Logo", style: "margin:35px 0 35px;text-align:center" %>
      <div style="width: 540px; background-color: #ffffff; text-align: left; margin: 0 auto 40px; padding: 5px 5px 0; border-radius:3px;" bgcolor="#ffffff" align="left">
        <div style="padding:0 40px 15px; border-bottom:1px dashed #c0c0c8;">
          <div style="font-size:40px;font-weight: normal; margin-bottom:30px;">
          </div>
          <div style="width:460px; text-align: left; font-size: 14px; color: #333333; line-height:22px; margin:0 0 30px" align="left">
            <%= yield %>
          </div>
        </div>
        <div style="border-top:1px dashed #fff; padding:30px 10px; text-align:center; font-size:10px; font-weight:bold; color:#333; text-decoration:none">
          <p>
            <% if supplier %>
              You are receiving this email because your email address was linked to <%= supplier.name %> on SupplyBetter.com.
            <% else %>
              
            <% end %>
          </p>
          <a href="www.supplybetter.com/testimonials" style="color:#333;text-decoration:none;padding:0 3px 0 0;font-size:10px" target="_blank">Testimonials</a>|
          <a href="www.supplybetter.com/be_a_supplier" style="color:#333;text-decoration:none;padding:0 3px 0 0;font-size:10px" target="_blank">Be a Supplier</a>|
          <a style="text-decoration: none;color:#333" target="_blank" href="mailto:unsubscribe@supplybetter.com?body=I%20no%20longer%20wish%20to%20receive%20SupplyBetter%20emails.&amp;subject=Please%20unsubscribe%20me%20from%20future%20emails">Unsubscribe</a>
        </div>
      </div>
      <div style="font-size:10px; font-weight:normal;color:#888;text-shadow:none;padding-bottom:45px;">
        &nbsp;<a style="text-decoration: none;color:#888" href="www.supplybetter.com" target="_blank">SupplyBetter, Inc.</a>&nbsp;&bull; 1688 Sacramento Street, #302, San Francisco, CA 94109
      </div>
      <br>
    </div>
  </body>    
</html>
