<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= yield(:title) %> | <%= "#{brand_name}" %></title>    
    <%= stylesheet_link_tag    "supplybetter", :media => "all" %>
    <%= render 'layouts/head_items' %>
  </head>
  <body>
    
    <%= render 'layouts/flash_errors' %>
    <%= yield %>    
    <%= render 'layouts/intercom_snippet' %>
  </body>
</html>
