<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= yield(:title) %> | <%= "#{brand_name}" %></title>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Merriweather:400,300' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "supplybetter", :media => "all" %>
    <%= render 'layouts/head_items' %>
  </head>
  <body class="<%= yield (:body_class) %>">
    <%= yield %>
  </body>
</html>
