<!DOCTYPE html>
<html lang="en" ng-app="SupplyBetter">
  <head>
    <title><%= yield(:title) %> | <%= "#{brand_name}" %></title>
    <%= stylesheet_link_tag    "supplybetter", :media => "all" %>
    <%= stylesheet_link_tag    "landing_page", :media => "all" %>
    <%= include_gon %>
    <%= render 'layouts/head_items' %>
  </head>
  <body>
    <%= render 'layouts/flash_errors' %>
    <%= yield %>
    <% end %>
  </body>
</html>

