<!DOCTYPE html>
<html lang="en" ng-app="SupplyBetter">
  <head>
    <title><%= yield(:title) %> | <%= "#{brand_name}" %></title>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "supplybetter", :media => "all" %>
    <%= include_gon %>
    <%= render 'layouts/head_items' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <%= render 'layouts/flash_errors' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
    <%= render 'layouts/intercom_snippet' %>
  </body>
</html>
